<?php
// Source of annuaire
$config['annuaire_source'] = 'source';

// Base DB for LDAP Annuaire
$config['annuaire_base_dn'] = 'dc=example,dc=com';

// Driver configuration (default, mtes, ...)
$config['annuaire_driver'] = 'default';