<?php
// Source of annuaire
$config['annuaire_source'] = 'source';

// Base DB for LDAP Annuaire
$config['annuaire_base_dn'] = 'dc=example,dc=com';

// Driver configuration (default, mtes, mce, ...)
$config['annuaire_driver'] = 'default';

// Activer l'export de l'annuaire pour les utilisateurs
$config['annuaire_export'] = false;

// Liste des champs à utiliser pour la recherche dans le ldap
$config['annuaire_search_fields'] = ['cn', 'mail'];

// Liste des champs pour lesquels on fait une recherche exacte
$config['annuaire_search_equal_fields'] = ['mail'];

// Filtre de recherche à utiliser en plus de la recherche sur les champs configurés
$config['annuaire_search_filter'] = '';