.text-title,
h1
{
    font-size: 40px;
}

.btn.text-header,
.text-header,
h2{
    font-size: 24px;
}

.btn.sub-title,
.mel-button.sub-title,
.sub-title,
h3{
    font-size: 18px;
}

.span-mel.t1{
    font-size: 18px!important;
}

h4{
    font-size: 16px;
}

.btn,
.mel-button,
.default-text,
.messagelist td.subject span.subject,
body{
    font-size: 12px;
}

.secondary-text{
    font-size:10px;
}

.secondary-text.min{
    font-size:8px;
}

.terciary-text{
    font-size: 6px;
}
