<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<meta name="Robots" content="noindex,nofollow" />
<roundcube:include file="/includes/links.html" />
</head>
<body>

<div class="background-image"></div>

<div id="login-form">
	<div class="box-inner" role="main">
		<div class="box-left">
			<div class="productname"><roundcube:label name="productname" /></div>
			<div class="productioninformation"><roundcube:label name="mel.login_productioninformation" /></div>
			<div class="footerbox">
				<div><roundcube:label name="mel.login_footerbox" /></div>
				<div class="info"><roundcube:label name="mel.login_footerbox_info" /></div>
			</div>
		</div>
		<div class="box-right">
			<roundcube:form name="form" method="post">
			<roundcube:object name="loginform" form="form" size="40" submit=true />
			<roundcube:object name="message" id="message" />
			</form>
			<div class="footerbox"><roundcube:label name="mel.login_warning" /></div>
		</div>
	</div>
</div>

<div id="loginfooter">
	<span><roundcube:label name="mel.login_footer1" /></span>
	<span><roundcube:label name="mel.login_footer2" /></span>
</div>

<roundcube:include file="/includes/footer.html" />

<roundcube:object name="preloader" images="
  /images/ajaxloader.gif
  /images/ajaxloader_dark.gif
  /images/buttons.png
  /images/addcontact.png
  /images/filetypes.png
  /images/listicons.png
  /images/messages.png
  /images/messages_dark.png
  /images/quota.png
  /images/selector.png
  /images/splitter.png
  /images/watermark.jpg
" />

</body>
</html>
