body {
  background-color: var(--body-background-color);
}
body.action-dialog-ui {
  background-color: transparent;
}
#layout > div > .footer {
  background-color: var(--addressbook-list-pagenav-background-color);
  border-top-color: var(--separate);
}
.menu.pagenav.pagenav-list {
  border-bottom-color: transparent;
}
.task-workspace #layout #layout-content,
.task-search #layout #layout-content,
.task-useful_links #layout #layout-content,
.task-news #layout #layout-content,
.task-bureau #layout #layout-content {
  background-color: var(--bureau-background-color) !important;
  margin-right: 0px !important;
}
.task-settings #layout-list .searchbar.menu,
#layout-list .header,
#layout-list .pagenav.pagenav-list.menu,
#layout-list #layout-list-content,
#layout-list #messagelist-header,
#layout-list #messagelist-content,
#layout-list > .scroller,
#layout #layout-content #calendar,
#layout-content > .header,
#layout-content .iframe-wrapper,
#layout-content #mel_suggestion_box_option_box {
  margin: var(--main-margin) !important;
  border-radius: var(--main-panel-border-radius) !important;
  box-shadow: var(--main-box-shadow) !important;
}
#layout-content .content {
  border-radius: var(--main-panel-border-radius) !important;
  box-shadow: var(--main-box-shadow) !important;
  background-color: var(--layout-content-background-color) !important;
  margin: var(--main-margin) !important;
  margin-top: 0px !important;
}
#layout-sidebar separate {
  border-top-color: var(--layout-list-separate-color);
}
#layout-menu #taskmenu a.selected,
#layout-menu #taskmenu a:hover {
  border-radius: var(--layout-menu-border-radius);
}
.mel-button,
.invite-button.create {
  background-color: var(--mel-button-background-color);
  border: var(--mel-button-border);
  color: var(--mel-button-text-color);
}
.mel-button.inverse {
  border-color: transparent;
}
.mel-button:hover,
.invite-button.create:hover {
  background-color: var(--mel-button-hover-background-color);
  border-color: var(--mel-button-hover-border-color);
  color: var(--mel-button-hover-text-color);
}
.mel-button.btn-danger {
  background-color: var(--mel-button-danger-background-color);
  border-color: var(--mel-button-danger-border-color);
  color: var(--mel-button-danger-text-color);
}
.mel-button.btn-danger:hover {
  background-color: var(--mel-button-danger-hover-background-color);
  border-color: var(--mel-button-danger-hover-border-color);
  color: var(--mel-button-danger-hover-text-color);
}
.mel-button.quit-button,
.mel-button.white {
  background-color: var(--quit-button-background-color);
  border-color: var(--quit-button-border-color);
  color: var(--quit-button-text-color);
}
.mel-button.quit-button:hover,
.mel-button.white:hover {
  background-color: var(--quit-button-hover-background-color);
  border-color: var(--quit-button-hover-border-color);
  color: var(--quit-button-hover-text-color);
}
.mel-button.ignoreActive,
.mel-button#showcontacts_edit-attendee-name {
  background-color: var(--mel-button-background-color) !important;
  border-color: var(--mel-button-border-color) !important;
  color: var(--mel-button-text-color) !important;
}
.mel-button.ignoreActive:hover,
.mel-button#showcontacts_edit-attendee-name:hover {
  background-color: var(--mel-button-hover-background-color) !important;
  border-color: var(--mel-button-hover-border-color) !important;
  color: var(--mel-button-hover-text-color) !important;
}
ul.treelist li.selected > div > a,
.scroller > .listing li a,
.scroller > .listing li div {
  color: var(--layout-sidebar-text-color);
}
#folderlistbox ul.treelist li.selected > div > a,
#files-compose-dialog ul.treelist li.selected > div > a,
#folderlistbox .scroller > .listing li a,
#files-compose-dialog .scroller > .listing li a,
#folderlistbox .scroller > .listing li div,
#files-compose-dialog .scroller > .listing li div {
  color: var(--main-text-color);
}
#folderlistbox li.selected div.treetoggle,
#files-compose-dialog li.selected div.treetoggle {
  color: var(--secondary-text-color);
}
#eventedit .nav-tabs {
  border-bottom: var(--nav-tabs-border-bottom);
}
#eventedit ul {
  background-color: var(--nav-tabs-background-color);
}
#eventedit ul li.nav-item a {
  background-color: var(--nav-item-background-color);
  color: var(--nav-item-text-color);
  border-bottom: var(--nav-item-border-bottom);
}
#eventedit ul li.nav-item a:hover {
  background-color: var(--nav-item-hover-background-color);
  color: var(--nav-item-hover-text-color);
  border-bottom: var(--nav-item-hover-border-bottom);
}
#eventedit ul li.nav-item a.active {
  color: var(--nav-item-active-text-color);
  background-color: var(--nav-item-active-background-color);
  border-bottom: var(--nav-item-active-border-bottom);
}
.mel-radio-1 input[type='checkbox'] + label span::before {
  top: 2px;
  left: 3px;
  height: 24px;
  width: 24px;
}
.mel-radio-1 input[type='checkbox']:checked + label span::before {
  content: '';
  top: 2px;
  right: 3px;
  left: unset;
}
.mel-radio-1 span {
  background-color: var(--custom-switch-unchecked-background-color) !important;
  border: var(--custom-switch-border) !important;
}
.mel-radio-1 input[type='checkbox']:checked + label span {
  background-color: var(--custom-switch-checked-background-color) !important;
}
.mel-radio-1 input[type='checkbox'] + label span::before {
  background-color: var(--custom-switch-unchecked-dot-color) !important;
  border-color: var(--custom-switch-unchecked-dot-color) !important;
}
#eventedit .edit-alarm-value,
#eventedit .edit-alarm-offset,
#eventedit .edit-alarm-related {
  background-color: var(--input-mel-background-color) !important;
  color: var(--input-mel-text-color) !important;
  border-color: var(--input-mel-border-color) !important;
}
#eventedit .edit-alarm-value:focus,
#eventedit .edit-alarm-offset:focus,
#eventedit .edit-alarm-related:focus {
  background-color: var(--input-mel-focus-background-color) !important;
  box-shadow: 0 0 0 0.2rem var(--input-mel-focus-shadow-color) !important;
  border-color: var(--input-mel-focus-border-color) !important;
}
.input-mel-datetime::after {
  color: var(--input-mel-text-color);
}
.search > .input-group > .form-control {
  background-color: var(--barup-search-input-background-color);
  border-color: var(--barup-search-input-border-color);
  color: var(--barup-search-input-text-color);
}
.search > .input-group > .form-control::placeholder {
  color: var(--default-placeholder-text-color);
}
.search > .input-group > .input-group-append > .input-group-text {
  background-color: var(--barup-search-input-background-color);
  border-color: var(--barup-search-input-border-color);
  color: var(--barup-search-input-text-color);
}
.custom-file-label:not(.is-invalid) {
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border-color: var(--input-border-color);
}
.input-group-text {
  color: var(--header-title-color);
}
#layout-sidebar {
  border-right-color: var(--layout-sidebar-border-color) !important;
}
.task-mail #layout-sidebar,
.task-calendar #layout-sidebar {
  background-color: var(--layout-sidebar-background-color) !important;
}
.popover .menu li a[aria-haspopup]:hover::after {
  color: var(--popover-hover-icon-color);
}
.search > .input-group > .task-mail #layout-sidebar {
  background-color: var(--layout-sidebar-background-color) !important;
}
.search > .input-group > .task-mail .quota-widget {
  color: var(--layout-sidebar-text-color);
}
#barup-right-buttons button {
  color: var(--barup-icon-color) !important;
}
#barup-right-buttons button.abs-btn-save,
#barup-right-buttons button.abs-btn-back {
  color: var(--default-text-color) !important;
}
.barup-picture #barup-right-buttons button {
  --barup-icon-color: var(--barup-icon-color-picture);
}
#barup-right-buttons #notificationunread.active {
  background-color: var(--barup-icon-badge-background-color);
  color: var(--barup-icon-badge-text-color);
}
#barup-right-buttons .dropdown-menu {
  background-color: var(--dropdown-menu-background-color);
  color: var(--dropdown-menu-text-color);
}
#barup-right-buttons .dropdown-menu::after {
  border-bottom-color: var(--dropdown-menu-background-color);
}
#barup-right-buttons .dropdown-menu .blue-color,
#barup-right-buttons .dropdown-menu .notification-button-icon,
#barup-right-buttons .dropdown-menu .notification-category,
#barup-right-buttons .dropdown-menu .notification-title,
#barup-right-buttons .dropdown-menu .dropdown-color {
  color: var(--dropdown-menu-text-color);
}
#barup-right-buttons .dropdown-menu .notification-button-icon:hover {
  color: var(--hover-close-color);
}
#barup-right-buttons .dropdown-menu .notification-icon {
  color: var(--dropdown-menu-icon-color);
}
#barup-right-buttons .dropdown-menu .user-menu-controls-group {
  border-bottom: var(--user-menu-separator-border);
}
#barup-right-buttons .dropdown-menu .dropdown-item:focus,
#barup-right-buttons .dropdown-menu .dropdown-item:hover,
#barup-right-buttons .dropdown-menu .dropdown-item.unread {
  background-color: var(--dropdown-item-hover-background-color);
}
#barup-right-buttons .dropdown-menu .dropdown-menu-scroll {
  scrollbar-width: var(--scrollbar-width-moz) !important;
  scrollbar-color: var(--scrollbar-handler-color) var(--scrollbar-background-color);
}
#barup-right-buttons #user-up-panel .user-menu-separator {
  border-bottom: var(--main-separator-border);
}
#folderlist-content {
  color: var(--layout-sidebar-text-color);
}
#folderlist-content > a.button,
#folderlist-content > .listing li a {
  color: var(--layout-sidebar-text-color);
}
#folderlist-content > a.button:hover {
  background-color: var(--list-hover-background-color);
  border-radius: var(--secondary-border-radius);
}
#folderlist-content li.mailbox .unreadcount {
  background-color: var(--badge-background-color);
  color: var(--badge-text-color);
}
#folderlist-content ul ul li.mailbox.selected a {
  background-color: var(--layout-sidebar-background-selected-color);
  border-radius: var(--layout-sidebar-selected-item-border-radius);
  color: var(--layout-sidebar-text-selected-color);
  border-left: solid thin var(--layout-sidebar-border-selected-color) !important;
}
#folderlist-content ul ul li.mailbox.selected:hover > a:first-of-type {
  background-color: var(--layout-sidebar-background-hover-selected-color);
  color: var(--layout-sidebar-text-hover-selected-color);
  border-left: solid thin var(--layout-sidebar-border-selected-color);
}
#folderlist-content ul ul li.mailbox.selected:hover > a:first-of-type:focus {
  border-left: solid thin var(--layout-sidebar-border-selected-color) !important;
}
#folderlist-content ul ul li.mailbox.selected .treetoggle {
  color: var(--layout-sidebar-text-selected-color);
}
#folderlist-content ul ul li.mailbox:hover > a:first-of-type {
  background-color: var(--layout-sidebar-background-hover-color);
  border-radius: var(--layout-sidebar-item-border-radius);
  color: var(--layout-sidebar-text-hover-color);
}
.bs-popover-bottom > .arrow::after {
  border-bottom-color: var(--popover-icon-color);
}
#searchmenu {
  color: var(--searchmenu-text-color);
}
#layout #layout-list {
  margin-right: var(--space-margin) !important;
  margin-left: var(--space-margin) !important;
}
#layout #layout-content {
  margin-right: var(--space-margin) !important;
}
.task-mail.action-compose #layout-content,
.task-settings.action-plugin-mel_suggestion_box #layout #layout-content {
  margin-left: var(--space-margin);
}
#layout-list {
  background-color: var(--layout-list-background-color);
}
#layout-list > .header {
  background-color: var(--layout-list-header-background-color) !important;
}
#layout-list > .header a.button,
#layout-list > .header a.options,
#layout-list > .header a.select,
#layout-list > .header a.threads {
  color: var(--layout-list-header-text-color) !important;
}
#layout-list > .header .menu a:not(.disabled):focus,
#layout-list > .header .menu a:not(.disabled):hover,
#layout-list > .header a.toolbar-button.button.icon:not(.disabled):hover,
#layout-list > .header .header a.toolbar-button:hover {
  background-color: var(--layout-list-header-background-hover-color) !important;
  color: var(--layout-list-header-text-hover-color) !important;
}
#layout-list > .header #mailsearchlist .searchbar a,
#layout-list > .header #mail-search-icon {
  color: var(--searchbar-text-color) !important;
}
#layout-list > .header #mailsearchlist .searchbar a:hover,
#layout-list > .header #mailsearchlist .searchbar a:focus {
  color: var(--searchbar-text-hover-color) !important;
}
.searchbar a.button {
  color: var(--searchbar-text-color) !important;
}
.searchbar a.button:hover {
  color: var(--searchbar-text-hover-color) !important;
}
#layout-content {
  background-color: var(--body-background-color);
  color: var(--layout-content-text-color);
}
#layout-content > .header .menu a:not(.disabled):focus,
#layout-content > .header .menu a:not(.disabled):hover,
#layout-content > .header a.toolbar-button.button.icon:not(.disabled):hover,
#layout-content > .header .header a.toolbar-button:hover {
  background-color: var(--layout-content-header-background-hover-color) !important;
  color: var(--layout-content-header-text-hover-color) !important;
}
.modal-content {
  background-color: var(--modal-background-color) !important;
  color: var(--modal-text-color) !important;
}
.btn.btn-block.btn-secondary.btn-mel {
  background-color: var(--secondary-mel-button-background-color);
  color: var(--secondary-mel-button-text-color);
  border: var(--secondary-mel-button-border);
}
.btn.btn-block.btn-secondary.btn-mel:hover {
  background-color: var(--secondary-mel-button-hover-background-color);
  color: var(--secondary-mel-button-hover-text-color);
  border: var(--secondary-mel-button-hover-border);
}
.btn.btn-block.btn-secondary.btn-mel:focus {
  background-color: var(--secondary-mel-button-hover-background-color) !important;
  color: var(--secondary-mel-button-hover-text-color) !important;
  border: var(--secondary-mel-button-hover-border) !important;
}
#search_row > .input-group > .form-control {
  border-right: none;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-color: var(--barup-search-input-border-color);
  background-color: var(--barup-search-input-background-color);
  color: var(--barup-search-input-text-color);
}
#search_row > .input-group > .input-group-append > .input-group-text {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--barup-search-input-background-color);
  border-color: var(--barup-search-input-border-color);
  color: var(--barup-search-input-text-color);
}
#groupoptions-user,
#groupoptions-user .bottom-option {
  background-color: var(--modal-background-color);
  color: var(--main-text-color);
  box-shadow: var(--groupotions-box-shadow);
}
#groupoptions-user::after {
  border-bottom-color: var(--modal-background-color);
}
#groupoptions-user .option_radio_wrapper .option,
#groupoptions-user .option_radio_wrapper .option .option-image {
  background-color: var(--option-menu-radio-button-background-color);
}
#groupoptions-user .option_radio_wrapper .option:hover,
#groupoptions-user .option_radio_wrapper .option .option-image:hover {
  background-color: var(--option-menu-radio-button-hover-background-color);
}
#groupoptions-user .option_radio_wrapper .option .color-icon {
  color: var(--option-menu-radio-button-icon-color) !important;
}
#groupoptions-user .option-menu-button {
  background-color: var(--option-menu-button-background-color) !important;
  color: var(--option-menu-button-text-color) !important;
  border: var(--option-menu-button-border) !important;
}
#groupoptions-user .option-menu-button:hover {
  background-color: var(--option-menu-button-hover-background-color) !important;
}
.custom-switch .custom-control-label::before,
.selected .custom-switch .custom-control-label::before {
  background-color: var(--custom-switch-unchecked-background-color);
  border: var(--custom-switch-border);
}
.custom-switch .custom-control-label::after,
.selected .custom-switch .custom-control-label::after {
  background-color: var(--custom-switch-unchecked-dot-color);
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::before,
.selected .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--alternate-custom-switch-checked-background-color);
  border: var(--custom-switch-border);
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after,
.selected .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: var(--custom-switch-checked-dot-color);
}
.mel-tab,
button.btn.mel-tab {
  color: var(--mel-tabs-text-color) !important;
  background-color: var(--mel-tabs-background-color) !important;
}
.mel-tab:hover,
button.btn.mel-tab:hover {
  color: var(--mel-tabs-hover-text-color) !important;
  background-color: var(--mel-tabs-hover-background-color) !important;
}
.mel-tab.active,
button.btn.mel-tab.active {
  color: var(--mel-tabs-active-text-color) !important;
  background-color: var(--mel-tabs-active-background-color) !important;
}
.popover {
  background-color: var(--popover-background-color);
  color: var(--popover-text-color);
  border: var(--popover-border);
  box-shadow: var(--popover-box-shadow);
}
.popover.menu a:not(.disabled):focus,
.popover .menu a:not(.disabled):hover,
.popover li:focus,
.popover li:hover {
  background-color: var(--popover-hover-background-color) !important;
  color: var(--popover-hover-text-color) !important;
  --popover-text-color: var(--popover-hover-text-color);
}
.popover .listing li a,
.popover .listing tbody td {
  color: var(--popover-text-color);
}
.ui-widget {
  border: var(--modal-border);
}
.ui-widget-content,
.ui-widget-header {
  background-color: var(--modal-background-color) !important;
  color: var(--modal-text-color);
}
.ui-widget-header .ui-dialog-title {
  color: var(--modal-title-color);
}
.ui-widget-header .ui-dialog-titlebar-close {
  color: var(--modal-title-color);
}
.ui-widget-header .ui-dialog-titlebar-close:hover {
  color: var(--hover-close-color);
}
.form-control {
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border-color: var(--input-border-color);
}
.form-control:focus {
  background-color: var(--input-focus-background-color) !important;
  color: var(--input-text-color) !important;
  border-color: var(--popover-focus-border-color) !important;
}
.mel-input-container.form-control.input-mel,
.searchbar {
  background-color: var(--searchbar-background-color);
}
.mel-input-container.form-control.input-mel input,
.searchbar input {
  color: var(--searchbar-text-color);
}
#mail-search-border {
  border: var(--searchbar-border);
}
.mel-search-group > input {
  border: var(--searchbar-border);
}
.mel-search-group .input-group-append > .input-group-text {
  border: var(--searchbar-border);
  background-color: var(--searchbar-background-color);
  color: var(--searchbar-text-color);
}
p,
span,
div {
  scrollbar-width: var(--scrollbar-width-moz) !important;
  scrollbar-color: var(--scrollbar-handler-color) var(--scrollbar-background-color) !important;
}
.input-group-text {
  background-color: var(--secondary-mel-button-background-color);
  border-color: var(--input-border-color);
}
.html-editor .editor-toolbar {
  background-color: var(--secondary-mel-button-background-color);
}
optgroup {
  background-color: transparent;
  color: var(--main-text-color);
}
.melv2-card,
.task-news.square_div.mel-news.news {
  box-shadow: var(--bureau-card-box-shadow);
  border-radius: var(--bureau-card-border-radius);
}
.mel-button.bckg.true:hover {
  border-color: var(--default-border-color);
}
#button-search.btn.btn-secondary {
  background-color: var(--barup-search-input-background-color) !important;
  color: var(--barup-search-input-text-color) !important;
  border: solid thin var(--default-border-color) !important;
}
.task-tasks #layout-sidebar,
.task-addressbook #layout-sidebar,
.task-settings #layout-sidebar,
.task-tasks #layout-sidebar > .header,
.task-addressbook #layout-sidebar > .header,
.task-settings #layout-sidebar > .header {
  background-color: var(--primary-layout-sidebar-background-color) !important;
  color: var(--primary-layout-sidebar-text-color) !important;
}
.task-tasks #layout-sidebar .scroller > .listing li.selected,
.task-addressbook #layout-sidebar .scroller > .listing li.selected,
.task-settings #layout-sidebar .scroller > .listing li.selected {
  background-color: var(--primary-layout-sidebar-background-selected-color) !important;
}
.task-tasks #layout-sidebar .scroller > .listing li a,
.task-addressbook #layout-sidebar .scroller > .listing li a,
.task-settings #layout-sidebar .scroller > .listing li a {
  color: var(--primary-layout-sidebar-text-color) !important;
}
#layout > div > .header {
  background-color: var(--layout-content-header-background-color);
  color: var(--layout-content-text-color);
}
#listview-float-right #list-contacts .listsearchbox input,
.custom-select:disabled {
  background-color: var(--input-mel-background-color);
  color: var(--input-mel-text-color);
  border-color: var(--input-mel-border-color);
  opacity: 0.5;
}
.custom-select#edit-calendar,
.compose-headers .custom-select,
#eventsimport .custom-select,
#eventsexport .custom-select,
.action-edit-folder .custom-select,
#tasksexport .custom-select,
#tasksimport .custom-select,
#listoptions-menu .custom-select {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center / 8px 10px !important;
}
html.dark-mode-custom .custom-select#edit-calendar,
html.dark-mode-custom .compose-headers .custom-select,
html.dark-mode-custom #eventsimport .custom-select,
html.dark-mode-custom #eventsexport .custom-select,
html.dark-mode-custom .action-edit-folder .custom-select,
html.dark-mode-custom #tasksexport .custom-select,
html.dark-mode-custom #tasksimport .custom-select,
html.dark-mode-custom #listoptions-menu .custom-select {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%2396b9e7' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center / 8px 10px !important;
}
.wsp-toolbar.webconf-toolbar .roundbadge.jitsi-select,
#edit-attendees-comment,
#edit-attendee-name,
#edit-identities-list,
.edit-attendee-role,
.fake-input.input-mel,
.roundbadge.icon-mel-videoconference,
.tiny-webconf-menu.dwp-round,
#rcmloginsubmit,
.btn.btn-block.btn-secondary.btn-mel,
body.task-calendar .fc-toolbar.fc-header-toolbar .fc-right button,
.barup .tiny-rocket-chat,
.my_favorites,
#edit-alarm-item,
textarea.input-mel,
select.input-mel,
input.input-mel,
#wspf.form-control.input-mel,
.multiselect.form-control.input-mel,
.input-group-append > .input-group-text.mel-text {
  background-color: var(--input-mel-background-color);
  color: var(--input-mel-text-color);
  border-color: var(--input-mel-border-color);
}
.wsp-toolbar.webconf-toolbar .roundbadge.jitsi-select:focus,
#edit-attendees-comment:focus,
#edit-attendee-name:focus,
#edit-identities-list:focus,
.edit-attendee-role:focus,
.fake-input.input-mel:focus,
.roundbadge.icon-mel-videoconference:focus,
.tiny-webconf-menu.dwp-round:focus,
#rcmloginsubmit:focus,
.btn.btn-block.btn-secondary.btn-mel:focus,
body.task-calendar .fc-toolbar.fc-header-toolbar .fc-right button:focus,
.barup .tiny-rocket-chat:focus,
.my_favorites:focus,
#edit-alarm-item:focus,
textarea.input-mel:focus,
select.input-mel:focus,
input.input-mel:focus,
#wspf.form-control.input-mel:focus,
.multiselect.form-control.input-mel:focus,
.input-group-append > .input-group-text.mel-text:focus {
  background-color: var(--input-mel-focus-background-color);
  box-shadow: 0 0 0 0.2rem var(--input-mel-focus-shadow-color);
  border-color: var(--input-mel-focus-border-color);
}
.wsp-toolbar.webconf-toolbar .roundbadge.jitsi-select::placeholder,
#edit-attendees-comment::placeholder,
#edit-attendee-name::placeholder,
#edit-identities-list::placeholder,
.edit-attendee-role::placeholder,
.fake-input.input-mel::placeholder,
.roundbadge.icon-mel-videoconference::placeholder,
.tiny-webconf-menu.dwp-round::placeholder,
#rcmloginsubmit::placeholder,
.btn.btn-block.btn-secondary.btn-mel::placeholder,
body.task-calendar .fc-toolbar.fc-header-toolbar .fc-right button::placeholder,
.barup .tiny-rocket-chat::placeholder,
.my_favorites::placeholder,
#edit-alarm-item::placeholder,
textarea.input-mel::placeholder,
select.input-mel::placeholder,
input.input-mel::placeholder,
#wspf.form-control.input-mel::placeholder,
.multiselect.form-control.input-mel::placeholder,
.input-group-append > .input-group-text.mel-text::placeholder {
  color: var(--default-placeholder-text-color);
}
.wsp-toolbar.webconf-toolbar .roundbadge.jitsi-select {
  background-color: var(--jitsii-input-mel-background-color);
  color: var(--jitsii-mel-button-text-color);
  border-color: var(--input-mel-border-color);
}
.wsp-toolbar.webconf-toolbar .roundbadge.jitsi-select.light-focus:focus,
.wsp-toolbar.webconf-toolbar .roundbadge.jitsi-select:focus,
.wsp-toolbar.webconf-toolbar .roundbadge.jitsi-select:hover {
  background-color: var(--mel-button-hover-background-color);
  color: var(--mel-button-text-color);
  border-color: var(--input-mel-border-color);
}
#button-create {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  background-color: var(--barup-create-button-background-color);
}
#button-create:hover {
  background-color: var(--barup-create-button-hover-background-color);
}
.btn-text.btn-mel-invisible:hover {
  color: var(--main-text-color);
}
.option-menu-title {
  color: var(--option-menu-title-color);
}
.menu.toolbar li,
#taskmenu a,
#otherapps a,
#layout-menu:hover a > span.inner {
  height: 60px !important;
}
.html-editor .editor-toolbar {
  border-bottom-color: var(--input-border-color);
}
.html-editor .editor-toolbar .mce-i-html {
  color: var(--header-title-color);
}
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-state-default,
.ui-datepicker.ui-widget-content .ui-state-default,
.datepicker-dp-title {
  color: var(--main-text-color);
}
.ui-datepicker.ui-widget-content .ui-state-default.ui-state-highlight {
  background-color: var(--badge-background-color) !important;
  color: var(--badge-text-color) !important;
}
.ui-widget-overlay {
  background-color: var(--ui-widget-overlay);
}
.custom-file-label::after {
  color: var(--secondary-mel-button-text-color);
  background-color: var(--secondary-mel-button-background-color);
  border-color: var(--secondary-mel-button-border);
}
.formcontent .hint {
  color: var(--hint-text-color);
}
.button.icon.toolbar-button.refresh:focus,
html:not(.touch) #messagelist-header .listing li > a:focus,
html:not(.touch) #layout-content .header .listing li > a:focus {
  border-left: none !important;
}
.mel-radio-1.radio-small input[type='checkbox'] + label span::before {
  height: 11px;
  width: 11px;
}
.mel-radio-1 input[type='checkbox'] + label span::before {
  top: 1px;
  left: 1px;
}
.mel-radio-1 input[type='checkbox']:checked + label span::before {
  top: 1px;
  right: 1px;
}
.table {
  color: var(--main-text-color) !important;
}
.dialog-message {
  background-color: var(--background-color-dialog-message);
}
html body a.filename .attachment-name {
  color: var(--main-text-color);
}
#compose-contacts ul.treelist li.selected > div > a,
#compose-contacts .scroller > .listing li a,
#compose-contacts .scroller > .listing li div {
  --layout-sidebar-text-color: var(--main-text-color);
}
#mm-cw-participants {
  background-color: var(--input-mel-background-color);
  border: 1px solid var(--input-mel-border-color);
}
.mel-attendee {
  background-color: var(--card-background-color);
}
