body.task-addressbook {

  &.action-show,
  &.action-add,
  &.action-edit {
    background-color: transparent;
  }
}

.task-addressbook {

  separate {
    margin: 0;
  }

  .listing tbody {
    tr {
      td {
        color: var(--addressbook-list-item-text-color);

        &:hover {
          background-color: var(--addressbook-list-item-hover-background-color) !important;
          color: var(--addressbook-list-item-hover-text-color) !important;
          border-radius: var(--secondary-border-radius) !important;
        }
      }

      &.selected td {
        background-color: var(--addressbook-list-item-selected-background-color) !important;
        color: var(--addressbook-list-item-selected-text-color) !important;
        border-radius: var(--secondary-border-radius) !important;
      }
    }
  }

  ul.treelist li.selected>a {
    background-color: var(--primary-layout-sidebar-background-selected-color) !important;
  }

  ul#directorylist.treelist li:hover>a {
    background-color: var(--primary-layout-sidebar-background-selected-color) !important;
  }

  li.object[aria-selected="true"] {
    background-color: var(--layout-sidebar-background-selected-color) !important;
    color: var(--layout-sidebar-text-selected-color) !important;
    border-left: solid thin var(--layout-sidebar-border-selected-color) !important;
  }

  #annuaire-list [aria-expanded="true"] {
    background-color: var(--alternative-layout-list-background-color) !important;
    border-left: solid thin var(--separate);
  }

  #annuaire-list .folder>.description {
    color: var(--alternative-layout-list-text-color) !important;
  }

  #layout>div>.header {
    color: var(--primary-layout-sidebar-background-selected-color);
  }

  #layout-sidebar {
    .scroller {
      padding: var(--sidebar-list-padding);

      >.listing li {

        &.selected,
        &:hover {
          border-radius: var(--secondary-border-radius);
        }
      }
    }
  }

  #layout-list {
    color: var(--alternative-layout-list-text-color) !important;

    .header,
    .scroller {
      background-color: var(--alternative-layout-list-background-color) !important;
    }

    >.scroller {
      margin-top: 0px !important;
      padding: var(--task-list-padding);
    }

    #annuaire-list {
      li.selected {
        border-radius: var(--layout-sidebar-selected-item-border-radius);
      }

      li:hover {
        background-color: var(--hover-background-color);
        border-radius: var(--secondary-border-radius);
      }
    }

    >.header {
      background-color: var(--alternative-layout-list-background-color) !important;
    }

    .searchbar.menu {
      border: solid thin var(--searchbar-border-color) !important;
      border-radius: 60px;

      a.button,
      &:after {
        color: var(--searchbar-text-color) !important;
      }

      a.button:hover {
        color: var(--searchbar-text-hover-color) !important;
      }
    }
  }



  #layout-content {
    .iframe-wrapper {
      background-color: var(--layout-content-background-color) !important;
    }

    >.header {
      background-color: var(--alternative-layout-content-header-background-color) !important;
      margin-bottom: 0px !important;
    }
  }


  #layout>div>.footer {
    border-top: solid thin var(--separate);
    background-color: var(--addressbook-list-pagenav-background-color);
    color: var(--alternative-layout-list-text-color) !important;
  }

  .gestion-options {
    color: var(--secondary-text-color);

    &:hover {
      background-color: var(--alternative-layout-list-background-color);
    }
  }

  .menu.pagenav {

    a,
    .pagenav-text {
      color: var(--layout-list-pagenav-color);
    }
  }

  .menu.toolbar a {
    color: var(--layout-content-text-color);
  }
}