.task-news {
  .wsp-header {
    background-color: transparent !important;
  }

  separate {
    border-top-color: var(--separate) !important;
  }

  .square_div.mel-news.news {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .square_div>.contents,
  .headlines-source {
    background-color: var(--bureau-card-background-color) !important;
    color: var(--bureau-card-text-color) !important;
  }

  .input-group-append>.input-group-text.mel-text {
    background-color: var(--input-mel-background-color);
    color: var(--input-mel-text-color);
    border-color: var(--input-mel-border-color);
  }


  .mel-search-group>input {
    border-color: var(--searchbar-alternate-border-color);
  }

  .mel-search-group .input-group-append>.input-group-text {
    border-color: var(--searchbar-alternate-border-color);
  }
}