:root {
  //Buttons
  --secondary-mel-button-border: solid thin var(--secondary-mel-button-border-color);
  --secondary-mel-button-hover-border: solid thin var(--secondary-mel-button-hover-border-color);
  --option-menu-button-border: solid thin var(--option-menu-button-border-color);
  --custom-switch-border: solid thin var(--custom-switch-border-color);

  //Separator
  --main-separator-border: 1px solid var(--main-separator-border-color);
  --calendar-sidebar-header-bottom-separator: solid thin var(--calendar-sidebar-header-bottom-separator-color);
  
  //Popover
  --popover-box-shadow: 3px 3px 5px var(--popover-box-shadow-color);
  --popover-border: solid thin var(--popover-border-color);

  //Taskbar
  --layout-sidebar-border-radius: 0px;

  //Options
  --groupotions-box-shadow: -1px 2px 1px 1px rgba(255, 255, 255, 0.22);

  //Mail
  --message-list-border-bottom: 1px solid var(--message-list-content-border-color);
  --message-list-hover-shadow: 0px 2px 2px var(--message-list-content-hover-shadow);
  --layout-content-header-right-border: solid thin var(--layout-content-header-right-border-color) !important;
  --layout-content-partheaders-top-border: 1px solid var(--layout-content-message-partheaders-top-border-color);

  //Searchbar
  --searchbar-border: solid thin var(--searchbar-border-color);
}