:root {
  //Buttons
  --secondary-mel-button-border: solid thin var(--secondary-mel-button-border-color);
  --secondary-mel-button-hover-border: solid thin var(--secondary-mel-button-hover-border-color);

  //Taskbar
  --layout-sidebar-border-radius: 0px;

  //Mail
  --message-list-border-bottom: 1px solid var(--message-list-content-border-color);
  --message-list-hover-shadow: 0px 2px 2px var(--message-list-content-hover-shadow);
  --layout-content-header-right-border: solid thin var(--layout-content-header-right-border-color) !important;
  --layout-content-partheaders-top-border: 1px solid var(--layout-content-message-partheaders-top-border-color);
}