.task-tasks {
  #layout-sidebar {
    ul.treelist li.selected>div {

      >a,
      >div,
      >span {
        background-color: var(--primary-layout-sidebar-background-selected-color) !important;
      }
    }


    .listing li:hover>div>a:first-child:hover {
      background-color: var(--primary-layout-sidebar-background-selected-color) !important;
      border-radius: 0 !important;

    }
  }

  .selected .custom-switch .custom-control-input:checked~.custom-control-label {
    &::before {
      background-color: var(--alternate-custom-switch-checked-background-color);
      border: var(--custom-switch-border);
    }

    &::after {
      background-color: var(--alternate-custom-switch-checked-dot-color);
    }

  }




  #layout-list {
    background-color: var(--alternative-layout-list-background-color) !important;

    >.header {
      background-color: var(--alternative-layout-list-header-background-color) !important;
    }
  }
  .fake-input.input-mel {
    background-color: var(--searchbar-background-color);
    border-color: var(--searchbar-border-color);
    color: var(--searchbar-text-color);
  }

  .menu a:not(.disabled):hover {
    background-color: var(--layout-list-header-background-hover-color) !important;
  }

  #layout-content>.header {
    background-color: var(--alternative-layout-content-header-background-color) !important;
  }

  ul#tasklist li.taskitem {
    background-color: var(--tasklist-row-background-color);

    &:nth-child(2n) {
      background-color: var(--tasklist-alternate-row-background-color);
    }

    span,
    div.taskhead.complete span.title {
      color: var(--tasklist-row-text-color) !important;
    }

    div.taskhead:hover {
      span,
      &.complete span.title {
        color: var(--tasklist-row-hover-text-color) !important;
      }
    }
  }

  .watermark::before {
    background-color: var(--layout-content-background-color);
  }

  .menu.toolbar a {
    color: var(--layout-content-text-color);
  }
}