.task-tasks {
  #layout-sidebar {
    ul.treelist li.selected>div {

      >a,
      >div,
      >span {
        background-color: var(--primary-layout-sidebar-background-selected-color) !important;
      }
    }


    .listing li:hover>div>a:first-child:hover {
      background-color: var(--primary-layout-sidebar-background-selected-color) !important;
      border-radius: 0 !important;

    }
  }

  .selected .custom-switch .custom-control-input:checked~.custom-control-label {
    &::before {
      background-color: var(--alternate-custom-switch-checked-background-color);
      border: var(--custom-switch-border);
    }

    &::after {
      background-color: var(--alternate-custom-switch-checked-dot-color);
    }

  }

  #layout-content {
    background-color: var(--body-background-color) !important;

    .content {
      background-color: var(--layout-content-background-color) !important;
    }
  }


  #layout-list {
    background-color: var(--alternative-layout-list-background-color) !important;

    >.header {
      background-color: var(--alternative-layout-list-header-background-color) !important;
    }

    #layout-list-content {
      height: 100%;
      padding-top: var(--task-list-padding);
      margin-top: 0px !important;
      background-color: var(--alternative-layout-list-header-background-color) !important;

      .scroller ul.listing {
        padding: var(--sidebar-list-padding);

        .taskhead {
          border-radius: var(--secondary-border-radius);
          border-bottom-color: var(--secondary-border-color) !important;
          border-left-color: var(--default-border-color) !important;

          &.selected {
            background-color: var(--tasklist-row-selected-background-color) !important;
            color: var(--tasklist-row-selected-text-color) !important;
          }

          &:hover {
            background-color: var(--tasklist-row-hover-background-color);
          }
        }
      }
    }
  }

  #layout #layout-sidebar .scroller .listing {
    padding: var(--sidebar-list-padding);

    li {
      margin-bottom: var(--list-between-margin);

      &.selected,
      &:hover {
        border-radius: var(--secondary-border-radius);
        background-color: var(--primary-layout-sidebar-background-selected-color);
      }
    }
  }

  #layout-content .content {
    margin-top: 0px !important;
  }

  .fake-input.input-mel {
    background-color: var(--searchbar-background-color);
    border-color: var(--searchbar-border-color);
    color: var(--searchbar-text-color);
  }

  .menu a:not(.disabled):hover {
    background-color: var(--layout-list-header-background-hover-color) !important;
  }

  #layout-content>.header {
    background-color: var(--alternative-layout-content-header-background-color) !important;
  }

  ul#tasklist li.taskitem {
    background-color: var(--tasklist-row-background-color);

    &:nth-child(2n) {
      background-color: var(--tasklist-alternate-row-background-color);
    }

    span,
    div.taskhead.complete span.title {
      color: var(--tasklist-row-text-color) !important;
    }

    div.taskhead.selected span,
    div.taskhead.selected span.title {
      color: var(--tasklist-row-selected-text-color) !important;
    }

    div.taskhead:hover {

      span,
      &.complete span.title {
        color: var(--tasklist-row-hover-text-color) !important;
      }
    }
  }

  .watermark::before {
    background-color: var(--layout-content-background-color);
  }

  .menu.toolbar a {
    color: var(--layout-content-text-color);
  }
}