body {
  background-color: var(--body-background-color);
}

body.action-dialog-ui {
  background-color: transparent;
}

#layout > div > .footer {
  background-color: var(--addressbook-list-pagenav-background-color);
  border-top-color: var(--separate);
}

.menu.pagenav.pagenav-list {
  border-bottom-color: transparent;
}
.task-workspace,
.task-search,
.task-useful_links,
.task-news,
.task-bureau {
  #layout #layout-content {
    background-color: var(--bureau-background-color) !important;
    margin-right: 0px !important;
  }
}

.task-settings #layout-list .searchbar.menu,
#layout-list .header,
#layout-list .pagenav.pagenav-list.menu,
#layout-list #layout-list-content,
#layout-list #messagelist-header,
#layout-list #messagelist-content,
#layout-list > .scroller,
#layout #layout-content #calendar,
#layout-content > .header,
#layout-content .iframe-wrapper,
#layout-content #mel_suggestion_box_option_box {
  margin: var(--main-margin) !important;
  border-radius: var(--main-panel-border-radius) !important;
  box-shadow: var(--main-box-shadow) !important;
}

#layout-content .content {
  border-radius: var(--main-panel-border-radius) !important;
  box-shadow: var(--main-box-shadow) !important;
  background-color: var(--layout-content-background-color) !important;
  margin: var(--main-margin) !important;
  margin-top: 0px !important;
}

#layout-sidebar separate {
  border-top-color: var(--layout-list-separate-color);
}

#layout-menu {
  #taskmenu a.selected,
  #taskmenu a:hover {
    border-radius: var(--layout-menu-border-radius);
  }
}

.mel-button {
  background-color: var(--mel-button-background-color);
  border: var(--mel-button-border);
  color: var(--mel-button-text-color);

  &.inverse {
    border-color: transparent;
  }

  &:hover {
    background-color: var(--mel-button-hover-background-color);
    border-color: var(--mel-button-hover-border-color);
    color: var(--mel-button-hover-text-color);
  }

  &.btn-danger {
    background-color: var(--mel-button-danger-background-color);
    border-color: var(--mel-button-danger-border-color);
    color: var(--mel-button-danger-text-color);

    &:hover {
      background-color: var(--mel-button-danger-hover-background-color);
      border-color: var(--mel-button-danger-hover-border-color);
      color: var(--mel-button-danger-hover-text-color);
    }
  }

  &.quit-button,
  &.white {
    background-color: var(--quit-button-background-color);
    border-color: var(--quit-button-border-color);
    color: var(--quit-button-text-color);

    &:hover {
      background-color: var(--quit-button-hover-background-color);
      border-color: var(--quit-button-hover-border-color);
      color: var(--quit-button-hover-text-color);
    }
  }

  &.ignoreActive,
  &#showcontacts_edit-attendee-name {
    background-color: var(--mel-button-background-color) !important;
    border-color: var(--mel-button-border-color) !important;
    color: var(--mel-button-text-color) !important;

    &:hover {
      background-color: var(--mel-button-hover-background-color) !important;
      border-color: var(--mel-button-hover-border-color) !important;
      color: var(--mel-button-hover-text-color) !important;
    }
  }
}

.invite-button.create {
  &:extend(.mel-button);

  &:hover {
    &:extend(.mel-button:hover);
  }
}

ul.treelist li.selected > div > a,
.scroller > .listing li a,
.scroller > .listing li div {
  color: var(--layout-sidebar-text-color);
}

#folderlistbox,
#files-compose-dialog {
  ul.treelist li.selected > div > a,
  .scroller > .listing li a,
  .scroller > .listing li div {
    color: var(--main-text-color);
  }
  li.selected div.treetoggle {
    color: var(--secondary-text-color);
  }
}

#eventedit {
  .nav-tabs {
    border-bottom: var(--nav-tabs-border-bottom);
  }

  ul {
    background-color: var(--nav-tabs-background-color);

    li.nav-item a {
      background-color: var(--nav-item-background-color);
      color: var(--nav-item-text-color);
      border-bottom: var(--nav-item-border-bottom);

      &:hover {
        background-color: var(--nav-item-hover-background-color);
        color: var(--nav-item-hover-text-color);
        border-bottom: var(--nav-item-hover-border-bottom);
      }

      &.active {
        color: var(--nav-item-active-text-color);
        background-color: var(--nav-item-active-background-color);
        border-bottom: var(--nav-item-active-border-bottom);
      }
    }
  }
}

.mel-radio-1 {
  //Correction checkbox journée entiere pour création d'évèvenement
  input[type='checkbox'] + label span::before {
    top: 2px;
    left: 3px;
    height: 24px;
    width: 24px;
  }

  input[type='checkbox']:checked + label span::before {
    content: '';
    top: 2px;
    right: 3px;
    left: unset;
  }

  span {
    background-color: var(
      --custom-switch-unchecked-background-color
    ) !important;
    border: var(--custom-switch-border) !important;
  }

  input[type='checkbox']:checked + label span {
    background-color: var(--custom-switch-checked-background-color) !important;
  }

  input[type='checkbox'] + label span::before {
    background-color: var(--custom-switch-unchecked-dot-color) !important;
    border-color: var(--custom-switch-unchecked-dot-color) !important;
  }
}
#eventedit .edit-alarm-value,
#eventedit .edit-alarm-offset,
#eventedit .edit-alarm-related {
  background-color: var(--input-mel-background-color) !important;
  color: var(--input-mel-text-color) !important;
  border-color: var(--input-mel-border-color) !important;

  &:focus {
    background-color: var(--input-mel-focus-background-color) !important;
    box-shadow: 0 0 0 0.2rem var(--input-mel-focus-shadow-color) !important;
    border-color: var(--input-mel-focus-border-color) !important;
  }
}

.input-mel-datetime::after {
  color: var(--input-mel-text-color);
}

.search > .input-group {
  > .form-control {
    background-color: var(--barup-search-input-background-color);
    border-color: var(--barup-search-input-border-color);
    color: var(--barup-search-input-text-color);

    &::placeholder {
      color: var(--default-placeholder-text-color);
    }
  }

  > .input-group-append > .input-group-text {
    background-color: var(--barup-search-input-background-color);
    border-color: var(--barup-search-input-border-color);
    color: var(--barup-search-input-text-color);
  }
}

.custom-file-label:not(.is-invalid) {
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border-color: var(--input-border-color);
}

.input-group-text {
  color: var(--header-title-color);
}

#layout-sidebar {
  border-right-color: var(--layout-sidebar-border-color) !important;
}

.task-mail #layout-sidebar,
.task-calendar #layout-sidebar {
  background-color: var(--layout-sidebar-background-color) !important;
}

.popover .menu li a[aria-haspopup]:hover::after {
  color: var(--popover-hover-icon-color);
}

.search > .input-group > .task-mail {
  #layout-sidebar {
    background-color: var(--layout-sidebar-background-color) !important;
  }

  .quota-widget {
    color: var(--layout-sidebar-text-color);
  }
}

#barup-right-buttons {
  button {
    color: var(--barup-icon-color) !important;

    .barup-picture & {
      --barup-icon-color: var(--barup-icon-color-picture);
    }
  }

  #notificationunread.active {
    background-color: var(--barup-icon-badge-background-color);
    color: var(--barup-icon-badge-text-color);
  }

  .dropdown-menu {
    background-color: var(--dropdown-menu-background-color);
    color: var(--dropdown-menu-text-color);

    &::after {
      border-bottom-color: var(--dropdown-menu-background-color);
    }

    .blue-color,
    .notification-button-icon,
    .notification-category,
    .notification-title,
    .dropdown-color {
      color: var(--dropdown-menu-text-color);
    }

    .notification-button-icon:hover {
      color: var(--hover-close-color);
    }

    .notification-icon {
      color: var(--dropdown-menu-icon-color);
    }

    .notifications-header {
      border-bottom: var(--main-separator-border);
    }

    .dropdown-item:focus,
    .dropdown-item:hover,
    .dropdown-item.unread {
      background-color: var(--dropdown-item-hover-background-color);
    }

    .dropdown-menu-scroll {
      scrollbar-width: var(--scrollbar-width-moz) !important;
      scrollbar-color: var(--scrollbar-handler-color)
        var(--scrollbar-background-color);
    }
  }

  #user-up-panel .user-menu-separator {
    border-bottom: var(--main-separator-border);
  }
}

#folderlist-content {
  color: var(--layout-sidebar-text-color);

  > a.button,
  > .listing li a {
    color: var(--layout-sidebar-text-color);
  }

  > a.button:hover {
    background-color: var(--list-hover-background-color);
    border-radius: var(--secondary-border-radius);
  }

  li.mailbox {
    .unreadcount {
      background-color: var(--badge-background-color);
      color: var(--badge-text-color);
    }
  }

  ul {
    ul {
      li.mailbox {
        &.selected {
          a {
            background-color: var(--layout-sidebar-background-selected-color);
            border-radius: var(--layout-sidebar-selected-item-border-radius);
            color: var(--layout-sidebar-text-selected-color);
            border-left: solid thin var(--layout-sidebar-border-selected-color) !important;
          }

          &:hover > a:first-of-type {
            background-color: var(
              --layout-sidebar-background-hover-selected-color
            );
            color: var(--layout-sidebar-text-hover-selected-color);
            border-left: solid thin var(--layout-sidebar-border-selected-color);

            &:focus {
              border-left: solid thin
                var(--layout-sidebar-border-selected-color) !important;
            }
          }

          .treetoggle {
            color: var(--layout-sidebar-text-selected-color);
          }
        }

        &:hover > a:first-of-type {
          background-color: var(--layout-sidebar-background-hover-color);
          border-radius: var(--layout-sidebar-item-border-radius);

          color: var(--layout-sidebar-text-hover-color);
        }
      }
    }
  }
}

.bs-popover-bottom > .arrow::after {
  border-bottom-color: var(--popover-icon-color);
}

#searchmenu {
  color: var(--searchmenu-text-color);
}

#layout #layout-list {
  margin-right: var(--space-margin) !important;
  margin-left: var(--space-margin) !important;
}

#layout #layout-content {
  margin-right: var(--space-margin) !important;
}

.task-mail.action-compose #layout-content,
.task-settings.action-plugin-mel_suggestion_box #layout #layout-content {
  margin-left: var(--space-margin);
}

#layout-list {
  background-color: var(--layout-list-background-color);

  > .header {
    background-color: var(--layout-list-header-background-color) !important;

    a.button,
    a.options,
    a.select,
    a.threads {
      color: var(--layout-list-header-text-color) !important;
    }

    .menu a:not(.disabled):focus,
    .menu a:not(.disabled):hover,
    a.toolbar-button.button.icon:not(.disabled):hover,
    .header a.toolbar-button:hover {
      background-color: var(
        --layout-list-header-background-hover-color
      ) !important;
      color: var(--layout-list-header-text-hover-color) !important;
    }

    #mailsearchlist .searchbar a,
    #mail-search-icon {
      color: var(--searchbar-text-color) !important;
    }

    #mailsearchlist .searchbar a:hover,
    #mailsearchlist .searchbar a:focus {
      color: var(--searchbar-text-hover-color) !important;
    }
  }
}

.searchbar a.button {
  color: var(--searchbar-text-color) !important;

  &:hover {
    color: var(--searchbar-text-hover-color) !important;
  }
}

#layout-content {
  > .header {
    .menu a:not(.disabled):focus,
    .menu a:not(.disabled):hover,
    a.toolbar-button.button.icon:not(.disabled):hover,
    .header a.toolbar-button:hover {
      background-color: var(
        --layout-content-header-background-hover-color
      ) !important;
      color: var(--layout-content-header-text-hover-color) !important;
    }
  }

  background-color: var(--body-background-color);
  color: var(--layout-content-text-color);
}

.modal-content {
  background-color: var(--modal-background-color) !important;
  color: var(--modal-text-color) !important;
}

.btn.btn-block.btn-secondary.btn-mel {
  background-color: var(--secondary-mel-button-background-color);
  color: var(--secondary-mel-button-text-color);
  border: var(--secondary-mel-button-border);

  &:hover {
    background-color: var(--secondary-mel-button-hover-background-color);
    color: var(--secondary-mel-button-hover-text-color);
    border: var(--secondary-mel-button-hover-border);
  }
  &:focus {
    background-color: var(
      --secondary-mel-button-hover-background-color
    ) !important;
    color: var(--secondary-mel-button-hover-text-color) !important;
    border: var(--secondary-mel-button-hover-border) !important;
  }
}

#search_row > .input-group > .form-control {
  border-right: none;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-color: var(--barup-search-input-border-color);
  background-color: var(--barup-search-input-background-color);
  color: var(--barup-search-input-text-color);
}

#search_row > .input-group > .input-group-append > .input-group-text {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--barup-search-input-background-color);
  border-color: var(--barup-search-input-border-color);
  color: var(--barup-search-input-text-color);
}

#groupoptions-user {
  background-color: var(--modal-background-color);
  color: var(--main-text-color);
  box-shadow: var(--groupotions-box-shadow);

  &::after {
    border-bottom-color: var(--modal-background-color);
  }

  .option_radio_wrapper .option {
    background-color: var(--option-menu-radio-button-background-color);

    &:hover {
      background-color: var(--option-menu-radio-button-hover-background-color);
    }

    .option-image {
      &:extend(#groupoptions-user .option_radio_wrapper .option);

      &:hover {
        &:extend(#groupoptions-user .option_radio_wrapper .option:hover);
      }
    }

    .color-icon {
      color: var(--option-menu-radio-button-icon-color) !important;
    }
  }

  .option-menu-button {
    background-color: var(--option-menu-button-background-color) !important;
    color: var(--option-menu-button-text-color) !important;
    border: var(--option-menu-button-border) !important;

    &:hover {
      background-color: var(
        --option-menu-button-hover-background-color
      ) !important;
    }
  }

  .bottom-option {
    &:extend(#groupoptions-user);
  }
}

.custom-switch,
.selected .custom-switch {
  .custom-control-label {
    &::before {
      background-color: var(--custom-switch-unchecked-background-color);
      border: var(--custom-switch-border);
    }

    &::after {
      background-color: var(--custom-switch-unchecked-dot-color);
    }
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::before {
      background-color: var(--alternate-custom-switch-checked-background-color);
      border: var(--custom-switch-border);
    }

    &::after {
      background-color: var(--custom-switch-checked-dot-color);
    }
  }
}

.mel-tab,
button.btn.mel-tab {
  color: var(--mel-tabs-text-color) !important;
  background-color: var(--mel-tabs-background-color) !important;

  &:hover {
    color: var(--mel-tabs-hover-text-color) !important;
    background-color: var(--mel-tabs-hover-background-color) !important;
  }

  &.active {
    color: var(--mel-tabs-active-text-color) !important;
    background-color: var(--mel-tabs-active-background-color) !important;
  }
}

.popover {
  background-color: var(--popover-background-color);
  color: var(--popover-text-color);
  border: var(--popover-border);
  box-shadow: var(--popover-box-shadow);

  &.menu a:not(.disabled):focus,
  .menu a:not(.disabled):hover,
  li:focus,
  li:hover {
    background-color: var(--popover-hover-background-color) !important;
    color: var(--popover-hover-text-color) !important;
    --popover-text-color: var(--popover-hover-text-color);
  }

  .listing li a,
  .listing tbody td {
    color: var(--popover-text-color);
  }
}

.ui-widget {
  border: var(--modal-border);
}

.ui-widget-content {
  background-color: var(--modal-background-color) !important;
  color: var(--modal-text-color);
}

.ui-widget-header {
  &:extend(.ui-widget-content);

  .ui-dialog-title {
    color: var(--modal-title-color);
  }

  .ui-dialog-titlebar-close {
    color: var(--modal-title-color);

    &:hover {
      color: var(--hover-close-color);
    }
  }
}

.form-control {
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border-color: var(--input-border-color);

  &:focus {
    background-color: var(--input-focus-background-color) !important;
    color: var(--input-text-color) !important;
    border-color: var(--popover-focus-border-color) !important;
  }
}

.mel-input-container.form-control.input-mel,
.searchbar {
  background-color: var(--searchbar-background-color);

  input {
    color: var(--searchbar-text-color);
  }
}

#mail-search-border {
  border: var(--searchbar-border);
}

.mel-search-group {
  > input {
    border: var(--searchbar-border);
  }

  .input-group-append > .input-group-text {
    border: var(--searchbar-border);
    background-color: var(--searchbar-background-color);
    color: var(--searchbar-text-color);
  }
}

p,
span,
div {
  scrollbar-width: var(--scrollbar-width-moz) !important;
  scrollbar-color: var(--scrollbar-handler-color)
    var(--scrollbar-background-color) !important;
}

.input-group-text {
  background-color: var(--secondary-mel-button-background-color);
  border-color: var(--input-border-color);
}

.html-editor .editor-toolbar {
  background-color: var(--secondary-mel-button-background-color);
}

optgroup {
  background-color: transparent;
  color: var(--main-text-color);
}

.melv2-card,
.task-news.square_div.mel-news.news {
  box-shadow: var(--bureau-card-box-shadow);
  border-radius: var(--bureau-card-border-radius);
}

.mel-button.bckg.true:hover {
  border-color: var(--default-border-color);
}

#button-search.btn.btn-secondary {
  background-color: var(--barup-search-input-background-color) !important;
  color: var(--barup-search-input-text-color) !important;
  border: solid thin var(--default-border-color) !important;
}

.task-tasks #layout-sidebar,
.task-addressbook #layout-sidebar,
.task-settings #layout-sidebar {
  background-color: var(--primary-layout-sidebar-background-color) !important;
  color: var(--primary-layout-sidebar-text-color) !important;

  .scroller > .listing li {
    &.selected {
      background-color: var(
        --primary-layout-sidebar-background-selected-color
      ) !important;
    }

    a {
      color: var(--primary-layout-sidebar-text-color) !important;
    }
  }

  > .header {
    &:extend(.task-tasks #layout-sidebar);
  }
}

#layout > div > .header {
  background-color: var(--layout-content-header-background-color);
  color: var(--layout-content-text-color);
}

#listview-float-right #list-contacts .listsearchbox input,
.custom-select:disabled {
  background-color: var(--input-mel-background-color);
  color: var(--input-mel-text-color);
  border-color: var(--input-mel-border-color);
  opacity: 0.5;
}

.custom-select {
  &#edit-calendar,
  .compose-headers &,
  #eventsimport &,
  #eventsexport &,
  .action-edit-folder &,
  #tasksexport &,
  #tasksimport &,
  #listoptions-menu & {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
      no-repeat right 0.75rem center / 8px 10px !important;
    html.dark-mode-custom & {
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%2396b9e7' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
        no-repeat right 0.75rem center / 8px 10px !important;
    }
  }
}

.wsp-toolbar.webconf-toolbar .roundbadge.jitsi-select,
#edit-attendees-comment,
#edit-attendee-name,
#edit-identities-list,
.edit-attendee-role,
.fake-input.input-mel,
.roundbadge.icon-mel-videoconference,
.tiny-webconf-menu.dwp-round,
#rcmloginsubmit,
.btn.btn-block.btn-secondary.btn-mel,
body.task-calendar .fc-toolbar.fc-header-toolbar .fc-right button,
.barup .tiny-rocket-chat,
.my_favorites,
#edit-alarm-item,
textarea.input-mel,
select.input-mel,
input.input-mel,
#wspf.form-control.input-mel,
.multiselect.form-control.input-mel,
.input-group-append > .input-group-text.mel-text {
  background-color: var(--input-mel-background-color);
  color: var(--input-mel-text-color);
  border-color: var(--input-mel-border-color);

  &:focus {
    background-color: var(--input-mel-focus-background-color);
    box-shadow: 0 0 0 0.2rem var(--input-mel-focus-shadow-color);
    border-color: var(--input-mel-focus-border-color);
  }

  &::placeholder {
    color: var(--default-placeholder-text-color);
  }
}

.wsp-toolbar.webconf-toolbar .roundbadge.jitsi-select {
  background-color: var(--jitsii-input-mel-background-color);
  color: var(--jitsii-mel-button-text-color);
  border-color: var(--input-mel-border-color);

  &.light-focus:focus,
  &:focus,
  &:hover {
    background-color: var(--mel-button-hover-background-color);
    color: var(--mel-button-text-color);
    border-color: var(--input-mel-border-color);
  }
}

#button-create {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;

  background-color: var(--barup-create-button-background-color);

  &:hover {
    background-color: var(--barup-create-button-hover-background-color);
  }
}

.btn-text.btn-mel-invisible:hover {
  color: var(--main-text-color);
}

.option-menu-title {
  color: var(--option-menu-title-color);
}

.menu.toolbar li,
#taskmenu a,
#otherapps a,
#layout-menu:hover a > span.inner {
  height: 60px !important;
}

.html-editor .editor-toolbar {
  border-bottom-color: var(--input-border-color);

  .mce-i-html {
    color: var(--header-title-color);
  }
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-state-default,
.ui-datepicker.ui-widget-content .ui-state-default,
.datepicker-dp-title {
  color: var(--main-text-color);
}

.ui-datepicker.ui-widget-content .ui-state-default.ui-state-highlight {
  background-color: var(--badge-background-color) !important;
  color: var(--badge-text-color) !important;
}

.ui-widget-overlay {
  background-color: var(--ui-widget-overlay);
}

.custom-file-label::after {
  color: var(--secondary-mel-button-text-color);
  background-color: var(--secondary-mel-button-background-color);
  border-color: var(--secondary-mel-button-border);
}

.formcontent .hint {
  color: var(--hint-text-color);
}

.button.icon.toolbar-button.refresh:focus,
html:not(.touch) #messagelist-header .listing li > a:focus,
html:not(.touch) #layout-content .header .listing li > a:focus {
  border-left: none !important;
}

.mel-radio-1.radio-small input[type='checkbox'] + label span::before {
  height: 11px;
  width: 11px;
}

.mel-radio-1 input[type='checkbox'] + label span::before {
  top: 1px;
  left: 1px;
}

.mel-radio-1 input[type='checkbox']:checked + label span::before {
  top: 1px;
  right: 1px;
}

.table {
  color: var(--main-text-color) !important;
}

// html:not(.touch) .listing li > a:focus,
// html:not(.touch) .listing.focus tbody tr.focused > td:first-child,
// html:not(.touch) .listing.focus:not(.withselection) tbody tr.focused > td.selection + td {
//   border-left-color: var(--button-background-color);
// }

.dialog-message {
  background-color: var(--background-color-dialog-message);
}

html body a.filename .attachment-name {
  color: var(--main-text-color);
}

#compose-contacts {
  ul.treelist li.selected > div > a,
  .scroller > .listing li a,
  .scroller > .listing li div {
    --layout-sidebar-text-color: var(--main-text-color);
  }
}

#mm-cw-participants {
  background-color: var(--input-mel-background-color);
  border: 1px solid var(--input-mel-border-color);
}

.mel-attendee {
  background-color: var(--card-background-color);
}
