.mel-button {
  background-color: var(--mel-button-background-color);
  border-color: var(--mel-button-border-color);
  color: var(--mel-button-text-color);

  &:hover {
    background-color: var(--mel-button-hover-background-color);
    border-color: var(--mel-button-hover-border-color);
    color: var(--mel-button-hover-text-color);
  }
}

.search>.input-group {
  >.form-control {
    background-color: var(--barup-search-input-background-color);
    border-color: var(--barup-search-input-border-color);
    color: var(--barup-search-input-text-color);
  }

  >.input-group-append>.input-group-text {
    background-color: var(--barup-search-input-background-color);
    border-color: var(--barup-search-input-border-color);
    color: var(--barup-search-input-text-color);

  }
}

.search>.input-group>.task-mail {
  #layout-sidebar {
    background-color: var(--layout-sidebar-background-color) !important;
  }

  .quota-widget {
    color: var(--layout-sidebar-text-color);
  }
}

#barup-right-buttons {
  button {
    color: var(--barup-icon-color) !important;
  }

  #notificationunread.active {
    background-color: var(--barup-icon-badge-background-color);
    color: var(--barup-icon-badge-text-color);
  }
}

#folderlist-content {
  color: var(--layout-sidebar-text-color);

  >a.button,
  >.listing li a {
    color: var(--layout-sidebar-text-color);
  }

  li.mailbox {
    .unreadcount {
      background-color: var(--badge-background-color);
      color: var(--badge-text-color);
    }
  }

  ul {
    ul {
      li.mailbox {

        &.selected {
          a {
            background-color: var(--layout-sidebar-background-hover-color);
            border-radius: var(--layout-sidebar-border-radius);
            color: var(--layout-sidebar-text-hover-color);
          }

          .treetoggle {
            color: var(--layout-sidebar-text-hover-color);
          }
        }

        &:hover>a:first-of-type {
          background-color: var(--layout-sidebar-background-hover-color);
          border-radius: var(--layout-sidebar-border-radius);
          color: var(--layout-sidebar-text-hover-color);
        }
      }
    }
  }
}

#layout-list {
  >.header {
    background-color: var(--layout-list-header-background-color) !important;

    a.button,
    a.options,
    a.select,
    a.threads {
      color: var(--layout-list-header-text-color) !important;
    }

    .menu a:not(.disabled):focus,
    .menu a:not(.disabled):hover,
    a.toolbar-button.button.icon:not(.disabled):hover,
    .header a.toolbar-button:hover {
      background-color: var(--layout-list-header-background-hover-color) !important;
      color: var(--layout-list-header-text-hover-color) !important;
    }

    #mailsearchlist .searchbar a,
    #mail-search-icon {
      color: var(--layout-list-header-input-text-color) !important;
    }

    #mailsearchlist .searchbar a:hover {
      color: var(--layout-list-header-text-hover-color) !important;
    }
  }
}

#layout-content {
  >.header {

    .menu a:not(.disabled):focus,
    .menu a:not(.disabled):hover,
    a.toolbar-button.button.icon:not(.disabled):hover,
    .header a.toolbar-button:hover {
      background-color: var(--layout-content-header-background-hover-color) !important;
      color: var(--layout-content-header-text-hover-color) !important;
    }
  }

  background-color: var(--layout-content-background-color);
  color: var(--layout-content-text-color);
}

.modal-content {
  background-color: var(--modal-background-color) !important;
  color: var(--modal-text-color) !important;
}

.btn.btn-block.btn-secondary.btn-mel {
  background-color: var(--secondary-mel-button-background-color);
  color: var(--secondary-mel-button-text-color);
  border: var(--secondary-mel-button-border);
  
  &:hover {
    background-color: var(--secondary-mel-button-hover-background-color);
    color: var(--secondary-mel-button-hover-text-color);
    border: var(--secondary-mel-button-hover-border);
  }
}

#search_row>.input-group>.form-control {
  border-right: none;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-color: var(--barup-search-input-border-color);
  background-color: var(--barup-search-input-background-color);
  color: var(--barup-search-input-text-color);
}

#search_row>.input-group>.input-group-append>.input-group-text {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--barup-search-input-background-color);
  border-color: var(--barup-search-input-border-color);
  color: var(--barup-search-input-text-color);
}

#groupoptions-user {
  background-color: var(--modal-background-color);
  color: var(--main-text-color);
}