.task-useful_links {
  .wsp-header {
    background-color: transparent !important;
  }

  separate {
    border-top-color: var(--separate) !important;
  }
  .mel-search-group > input {
    border-color: var(--searchbar-alternate-border-color);
  }

  .mel-search-group .input-group-append > .input-group-text {
    border-color: var(--searchbar-alternate-border-color);
  }
  #mulsah span::before {
    color: var(--default-text-color) !important;
  }
}