.task-workspace {
  .wsp-header {
    background-color: var(--bureau-background-color) !important;
  }
  
  .workspace,
  .wsp-block {
    background-color: var(--workspace-item-background-color);
  }
  separate {
    border-top-color: var(--workspace-separator-color) !important;
  }

  .mel-search-group > input {
    border-color: var(--searchbar-alternate-border-color);
  }

  .mel-search-group .input-group-append > .input-group-text {
    border-color: var(--searchbar-alternate-border-color);
  }

  .invite-button.create {
    background-color: var(--mel-button-background-color);
    color: var(--mel-button-text-color);
    border: var(--mel-button-border);

    &:hover {
      background-color: var(--mel-button-hover-background-color);
      color: var(--mel-button-hover-text-color);
    }
  }
}