.task-workspace {
  .wsp-header {
    background-color: var(--default-bckg-color) !important;
  }
  .workspace,
  .wsp-block {
    background-color: var(--workspace-item-background-color);
  }
  separate {
    border-top-color: var(--workspace-separator-color) !important;
  }

  .invite-button.create {
    background-color: var(--mel-button-background-color);
    color: var(--mel-button-text-color);
    border: var(--mel-button-border);

    &:hover {
      background-color: var(--mel-button-hover-background-color);
      color: var(--mel-button-hover-text-color);
    }
  }
}