
This is a multi-part message in MIME format.

--%%boundary%%
Content-Type: text/plain; charset=UTF-8
Content-Transfer-Encoding: 8bit

Le sondage « %%poll_title%% » vient d'être créé depuis l'application %%app_name%%.
Le lien vers le sondage est le suivant: %%poll_url%%%%poll_location%%%%poll_description%%

Vous pouvez dès à présent transférer ce message aux personnes que vous souhaitez interroger.

--%%boundary%%
Content-Type: text/html; charset=UTF-8
Content-Transfer-Encoding: 8bit

<div style="background-color:#E6E6E6;color:#464545;padding:40px 40px;margin:0px;height:auto;">
  <div style="background-color:#FFF;padding:20px 30px;margin-top:0px;box-shadow:0px 0px 9px rgba(0, 0, 0, 0.15);overflow: hidden;">
  <div><a style="float: right; background-color:#476583;color:#FFF;border-radius:2px;text-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);padding:0.5em 1em;border:0px none transparent;text-decoration:none;display: inline-block;line-height:normal;hite-space:nowrap;vertical-align:baseline;text-align:center;cursor:pointer;-moz-user-select: none;" href="%%poll_url%%">Voir le sondage</a></div>
    <div style="margin: 0.67em 0px;"><a style="text-decoration:none;color:#4B6184;font-weight:bold;text-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);font-size:2em;" href="%%app_url%%">%%app_name%%</a></div>   
    <br>
    <div>
      Le sondage <b>« %%poll_title%% »</b> vient d'être créé depuis l'application <b>%%app_name%%</b>.
    </div>
    <br>
    <div>
      Le lien vers le sondage est le suivant : <a href="%%poll_url%%">%%poll_url%%</a>
    </div>
    %%html_poll_location%%
    %%html_poll_description%%
    <br>
    <div>Vous pouvez dès à présent transférer ce message aux personnes que vous souhaitez interroger.</div>
  </div>
</div>
