<div style="background-color:#E6E6E6;color:#464545;padding:40px 40px;margin:0px;height:auto;">
  <div
    style="background-color:#FFF;padding:20px 30px;margin-top:0px;box-shadow:0px 0px 9px rgba(0, 0, 0, 0.15);overflow: hidden;">
    <div
      style="margin: 0px 0px 10px 0;text-decoration:none;color:#4B6184;font-weight:bold;text-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);font-size:2em;">
      Prise de rendez-vous</div>
    <br>
    <div>
      Bonjour, un nouvel événement a été planifié.
    </div>
    <br>
    <div>
      <b>Motif de l'évènement :</b>
      <br>
      %%appointment_object%%
    </div>
    <br>
    <div>
      <b>Invité :</b>
      <br>
      %%attendee_name%%
    </div>
    <br>
    <div>
      <b>Email de l'invité :</b>
      <br>
      %%attendee_email%%
    </div>
    <br>
    <div>
      <b>Date/heure de l’événement : </b>
      <br>
      %%appointment_date%%
    </div>
    <br>
    <div>
      <b>Description :</b>
      <br>
      %%appointment_description%%
    </div>
    <br>
    <div>
      <b>Lieu :</b>
      <br>
      %%appointment_location%%
    </div>
  </div>
</div>