/.buildpath
/.project
.vscode/*
/.settings/
**/config.inc.php
node_modules/*
package.json
package-lock.json
jsdoc-config.json
yarn.lock
.eslintrc.json
.prettierrc.json
.prettierc.json
jsdoc-tutorials
*/jsdoc-tutorials/*
**/.vscode/*
**/launch.json
*/launch.json

aide/config.php
aide/custom.css
aide/images/
aide/doc
aide/config_search.php
plugins/mel_portail/modules/fluxrss/rss
plugins/mel_portail/config
plugins/mel_help/public/*
plugins/mel_useful_link/config/*
plugins/mel_news/files/*
plugins/mel_nextcloud/nextcloud/apps/*.tar.gz
.vscode/launch.json
