/** COLORS **/
/** FONTS **/
/* CONTENT */
/** ANIMATIONS **/
/** WIDTH **/
:root {
  --layout-list-background-color: #f3f2f1;
  --mail-layout-sidebar-background-color: #f3f2f1;
  --roundbadge-bckg-color: #779bd6;
  --quota-bar-bckg-color: var(--default-background);
  --quota-bar-border-color: var(--quota-bar-bckg-color);
  --quota-bar-color: var(--main-text-color);
}
#layout-list {
  color: var(--main-text-color) !important;
}
#layout-list .listing tbody td {
  color: var(--main-text-color);
}
#layout-list .listing tbody td:hover {
  color: var(--secondary-text-color);
}
#layout-list .listing tbody td.name {
  width: 100%;
}
#layout-list .listing tr.selected td {
  color: var(--secondary-text-color);
}
body.task-settings.action-plugin-managesieve #layout-list .menu.toolbar a {
  color: var(--main-text-color) !important;
}
body.task-settings.action-plugin-managesieve #layout-list .menu.toolbar a:hover {
  color: var(--secondary-text-color) !important;
}
#layout-list .scroller > .listing li a {
  color: var(--main-text-color);
}
#layout-list .scroller > .listing li a:hover {
  color: var(--secondary-text-color);
  background-color: var(--secondary-bckg-color);
  border: solid thin var(--secondary-text-color);
}
#layout-list .scroller > .listing li.selected a {
  color: var(--secondary-text-color);
}
#layout-list .scroller > .listing li:hover a {
  color: var(--secondary-text-color);
}
#layout-list .scroller > .listing li:hover .treetoggle {
  color: var(--secondary-text-color);
}
#layout-list .scroller > .listing li .treetoggle {
  color: var(--main-text-color);
}
#layout-list .scroller > .listing li .treetoggle:hover {
  color: var(--secondary-text-color);
}
#layout-list .menu.pagenav.pagenav-list + .navlist {
  background-color: var(--layout-list-background-color);
}
#layout-list > .header {
  color: var(--main-text-color) !important;
}
#layout-list > .header li a.button {
  color: var(--main-text-color);
}
#layout-list #annuaire-list .folder > .description {
  color: var(--main-text-color);
}
#layout-list #annuaire-list .folder[aria-expanded="true"] {
  color: var(--secondary-text-color);
}
#layout-list #annuaire-list .folder[aria-expanded="true"] .description {
  color: var(--secondary-text-color) !important;
}
#layout-list #annuaire-list .folder[aria-expanded="true"] .treetoggle {
  color: var(--secondary-text-color) !important;
}
#layout-list #annuaire-list .folder[aria-expanded="true"]:hover {
  border: none!important;
}
#layout-list #annuaire-list li:hover {
  background-color: var(--main-bckg-color);
  border: solid thin var(--secondary-text-color);
}
#layout-list #annuaire-list li:hover.folder span {
  color: var(--secondary-text-color);
}
#layout-list #annuaire-list [aria-expanded="true"] {
  color: var(--secondary-text-color);
}
#layout-list ul#tasklist li .childtoggle {
  -webkit-text-stroke: 1px var(--secondary-text-color);
  text-stroke: 1px var(--secondary-text-color);
}
#layout-list ul#tasklist li.taskitem div.taskhead span {
  color: var(--main-text-color) !important;
}
#layout-list ul#tasklist li.taskitem div.taskhead:hover span {
  color: var(--secondary-text-color) !important;
}
#layout-list ul#tasklist li.taskitem div.taskhead.selected span {
  color: var(--secondary-text-color) !important;
}
#layout-list ul#tasklist li.taskitem:nth-child(2n) {
  background-color: var(--default-background);
}
#layout-list ul#tasklist li.taskitem:hover > .childtoggle {
  color: var(--secondary-text-color) !important;
  -webkit-text-stroke: 1px var(--main-text-color);
  text-stroke: 1px var(--main-text-color);
}
#layout-list ul#tasklist span.date {
  color: var(--main-text-color) !important;
}
.task-mail #layout-sidebar #compose-options {
  color: var(--main-text-color) !important;
}
.task-mail #layout-sidebar .scroller > .listing li a {
  color: var(--main-text-color);
}
.task-mail #layout-sidebar .scroller > .listing li a:hover {
  color: var(--secondary-text-color);
  background-color: var(--secondary-bckg-color);
  border: solid thin var(--secondary-text-color);
}
.task-mail #layout-sidebar .scroller > .listing li.selected a {
  color: var(--secondary-text-color);
}
.task-mail #folderlist-content ul#mailboxlist > li > ul li[aria-level="2"]:first-of-type {
  border-color: var(--main-bckg-color);
}
.task-mail #folderlist-content > a.button {
  color: var(--main-text-color);
}
.task-mail #folderlist-content > a.button:hover {
  color: var(--secondary-text-color);
}
.task-mail #layout .header a.button,
.task-mail #layout .header a.options,
.task-mail #layout .header a.select,
.task-mail #layout .header a.threads {
  color: var(--main-text-color);
}
.task-mail ul.treelist li div.treetoggle {
  color: var(--main-text-color);
  -webkit-text-stroke: 1px var(--secondary-text-color);
  text-stroke: 1px var(--secondary-text-color);
}
.task-mail ul ul li.mailbox:hover > a:first-of-type {
  color: var(--secondary-text-color) !important;
}
.task-mail #layout-content > .header #toolbar-menu li a {
  color: var(--main-text-color);
}
.task-mail #layout-content > .header #toolbar-menu li .dropbutton {
  background-color: var(--invisible);
}
.task-mail .parent-close-visu {
  border-color: var(--main-text-color) !important;
}
.task-mail #mail-search-border {
  background-color: var(--default-background);
  border: solid thin var(--main-text-color);
}
.task-mail #mail-search-border.border-success-search {
  border-color: var(--success-color);
}
.task-mail .quota-widget {
  color: var(--main-text-color);
}
.task-mail .quota-widget .count {
  color: var(--main-text-color);
}
.task-mail .upload-form .hint {
  color: var(--main-text-color);
}
