html.party-halloween {
    .task-addressbook {
        #layout {
            background-color: transparent;

            #layout-sidebar{
                --layout-sidebar-background-color: #371B5893;

                .header {
                    --layout-sidebar-background-color: transparent;
                }

                .scroller .listing li{
                    &.selected > a{
                        background-color: #5B4B8A !important;
                    }

                    &:hover {
                        --main-layout-hover-background-color: #5B4B8A;
                    }
                }
            }

            #layout-list{
                .gototree {
                    color:white;

                    &:hover {
                        font-style: italic;
                    }
                }
            }

            #layout-list #annuaire-list li.selected,
            #layout-list #annuaire-list li:hover{
                background-color: #371B58!important;
            }

            #layout-list #annuaire-list .folder[aria-expanded="true"]{
                border-left: solid thin white !important;

                &:hover {
                    border-left: solid thin white !important;
                }
            }

            #layout-content {
                .iframe-wrapper {
                    --main-layout-content-background-color: #ffffff93;
                }
            }

            #\#mainscreen\.annuaire,
            #mainscreen-annuaire{
                color: white;
            }
        }

    }
}