html.party-halloween .task-calendar{
    #layout {
        background-color: transparent;

        > div {
            --layout-list-background-color: #371B5893;
            margin-right: 15px;
        }
    }

    #layout > div > .header a.button {
        --tierciary-bckg-color: #FF5B00;
    }

    #layout #layout-content > .header a.button{
        --main-text-color: white;
    }
}