html{
    &.party-halloween{
        .task-workspace {
            .workspace {
                background-color: #5B4B8A93;

                &:hover {
                    background-color: #5B4B8A; 
                }
            }

            .wsp-block{
                background-color: #5B4B8A93;
                --tierciary-text-color: white;
                --alternate-bckg-color: #FF5B00;
            }
        }

        .wsp-header {
            --secondary-border-color: white;

            padding-bottom: 20px !important;
            margin-bottom: 10px!important;
            padding-top: 10px !important;
            margin-top: 0!important;

            background-color: #371B5893 !important;
            border-radius: 15px;

            --main-text-color: white;
            color:white !important;

            .input-group-text {
                color:white;
            }

            input {
                color: white;
                background-color: #371B5893;
                border: solid thin white;
            }
        }

        .logo-mel {
            background-color: white;
            padding: 15px;
            border-radius: 15px;
        }

        .square_div > .contents {
            --alternate-bckg-color: #5B4B8A93;
        }

        .headlines-source{
            background-color: #5B4B8A93;
        }

        .roundbadge.r-news{
            background-color: #FF5B00;
            border-color: #FF5B00;
            color: white;

            &:hover {
                background-color: #F78812;
                border-color: #F78812;
            }
        }
    }
}