html.theme-super-classique.party-halloween.dark-mode-custom {

  &:root{
    --background-pannel: #1f2933;
  }

  #layout #layout-content .content,
  .task-addressbook #layout #layout-content .iframe-wrapper,
  .task-mail #layout-content .iframe-wrapper,
  .task-settings #layout .iframe-wrapper {
    --main-layout-content-background-color: #1f2933e8 ;
  }

  .task-calendar {
    select.mel-input.calendar{
      background-color:#181c28;
    }
  }

  .task-tasks{
    #layout-content .formcontainer .formbuttons button.white,
    .form-control-plaintext{
      color:white;
    }


  }

  .logo-mel {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
  }

  a{
    color: #775559;

    &:hover {
      color:#5B4B8A;
    }
  }
}