html.party-halloween {
    &:root {
        --main-layout-taskbar-background-color: #5B4B8A;
        --mail-layout-sidebar-background-color: #371B58;

        --main-layout-content-background-color: #5B4B8A93;

        --main-layout-taskbar-text-color: white;
        --roundbadge-bckg-color: #FF5B00;

        --side-hover-background-color: #4C3575;
        // --side-selected-background-color: var(--side-hover-background-color);
        --side-hover-text-color: var(--main-layout-taskbar-text-color);
        // --side-selected-text-color: var(--side-hover-text-color);

        --calendar-sidebar-header-background-color: transparent;
        --calendar-sidebar-header-color: white;

        --calendar-toolbar-roundcube-hover-background-color: var(--mail-layout-sidebar-background-color);
        --calendar-toolbar-roundcube-hover-color: white;
    }
}


