html.theme-super-classique.party-halloween {
    &:root {
        --main-layout-taskbar-background-color: #5B4B8A;
        --mail-layout-sidebar-background-color: #371B58;

        --main-layout-content-background-color: #5B4B8A93;

        --layout-sidebar-background-color: var(--mail-layout-sidebar-background-color);
        --layout-list-background-color: transparent;

        --main-layout-taskbar-text-color: white;
        --roundbadge-bckg-color: #FF5B00;
        --side-hover-background-color: #4C3575;
        // --side-selected-background-color: var(--side-hover-background-color);
        --side-hover-text-color: var(--main-layout-taskbar-text-color);
        // --side-selected-text-color: var(--side-hover-text-color);

        --calendar-sidebar-header-background-color: transparent;
        --calendar-sidebar-header-color: white;

        --calendar-toolbar-roundcube-hover-background-color: var(--mail-layout-sidebar-background-color);
        --calendar-toolbar-roundcube-hover-color: white;

        --datepicker-bg-color: var(--mail-layout-sidebar-background-color); 
        --datepicker-state-bg-color: var(--main-layout-taskbar-background-color); 
        --calendar-datepicker-selected-color: white;

        --default-background-lighter: #7858A693;
        --default-background: #371B5893;

        --main-layout-hover-background-color: #371B58;

        --listbox-text-color: white;

        --mv2-item-background-color: #5B4B8A;

        --hover-app-color: #F78812;
        --background-pannel: white;
        --mail-unread-text-color: white;
        --selected-mail-bckg-color: #51050F;
        --selected-mail-color: white;
        --mail-layout-sidebar-hover-background-color: #5B4B8A93;
        --calendar-toolbar-search-icon-color: white;
        --mail-layout-sidebar-selected-background-color: #5B4B8A;
        --main-layout-taskbar-background-color: #5B4B8A;
    }
}


