html{
    &.party-halloween{
        .task-settings {
            #layout {
                background-color: transparent;
    
    
                #layout-sidebar {
                    --layout-sidebar-background-color: #371B5893;
    
                    .listing li.selected {
                        --secondary-bckg-color: #5B4B8A;
                    }
                }
    
                .iframe-wrapper{
                    --main-layout-content-background-color: #ffffff93;
                }
            }
            
            #settings-right {
                --main-layout-content-background-color: #ffffff93;
            }
        }
    }
}