html.party-halloween .task-tasks{
    #layout {
        background-color: transparent;

        #layout-sidebar .scroller .listing li.selected > div > * {
            background-color: #371B5893!important;
        }

        #layout-list #layout-list-content .scroller ul.listing .taskhead{
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    
}