//compress:false
html{
    &.party-halloween{

        body {
            background-image: url("../images/halloween-bg-light-unsplash.jpg");
        }
    
        &.dark-mode-custom {
            body {
                background-image: url("../images/halloween-bg-dark-unsplash.jpg");
            }
        }
    
        div#layout-sidebar {
            --main-text-color: var(--main-layout-taskbar-text-color);
            --mail-layout-sidebar-background-color: #371b5893;
            
    
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;

            margin-top: 10px !important;
        }
    
        #layout > div > .header a.button {
            &:hover {
                color: white !important;
                background-color: #371B58 !important;
                --layout-bg-hover: #371B58 !important;
                --invisible: #FF5B00;
                border-left: none !important;
                border-bottom: none !important;
                border-right: none !important;
                --secondary-bckg-color: #371B58;
            }

            &:focus {
                color: white !important;
                background-color: #371B58 !important;
                --secondary-bckg-color: #371B58;
                --layout-bg-hover: #371B58 !important;
            }
        }

        #layout {
            #layout-content {
                background-color: transparent;

                .header a{
                    color: white;
                    &:hover {
                        background-color: #371B58 !important;
                        color: white!important;
                        --tierciary-bckg-color:#FF5B00;
                        --invisible: #FF5B00;
                    }

                    &:focus {
                        color: white !important;
                        background-color: #371B58 !important;
                        --secondary-bckg-color: #371B58;
                        --layout-bg-hover: #371B58 !important;
                        --invisible: transparent;
                    }
                }

                .content {
                    --main-layout-content-background-color: #FFFFFF93;
                }
            }
        }

        #layout-list > .header li a.button{
            --main-text-color: white;
        }
        
        #layout-list .scroller > .listing li{
            --main-text-color: white;
            --secondary-bckg-color: #371B58;

            border-radius: 5px;

            a{
                border-color: transparent !important;
            }
        }

        a {
            color: #51050F;
    
            &:hover {
                color: #371B58;
            }
        }
    
        .mel-button {
            --main-bckg-color: #FF5B00;
            --mel-button-border-color: var(--main-bckg-color);
            --tierciary-bckg-color: #F78812;
            --mel-button-border-color-alt: #F78812;

            &.white{
                --default-background: transparent;
            }
        }
    
        .barup {
            background: none!important;
            
            #barup-right-buttons {
                background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #371B58 100%)
            }
        }
        
        .scroller > .listing li {
            a {
                &:hover{
                    background-color:#5B4B8A;
                    --list-bg-hover: #5B4B8A!important;
                }

                &:focus{
                    background-color:#5B4B8A!important;
                }
            }

            div {
                &:hover{
                    background-color:#5B4B8A;
                    --list-bg-hover: #5B4B8A!important;
                }
            }

            &.selected > div > * {
                --list-bg-selected: #5B4B8A!important;
            }
        }

        .custom-switch .custom-control-label{
            &::before{
                background-color: #F2E8C6;
            }
            &::after {
                background-color: #371B58;
            }
        }

        .custom-switch .custom-control-input:checked ~ .custom-control-label::after{
            background-color: #371B58;
        }

        .selected .custom-switch .custom-control-input:checked ~ .custom-control-label::before,
        .custom-switch .custom-control-input:checked ~ .custom-control-label::before{
            background-color: #FF5B00;
        }

        .searchbar {
            --main-text-color: white;

            input{
                color: white;
            }

            a {
                color:white;
                border-top: solid thin transparent;
            }

            &.menu {
                &:focus,
                a:hover {
                    --secondary-bckg-color: #371B58;
                    background-color: #371B58;
                    border-top-color: #FF5B00;
                }
            }
        }

        .watermark::before {
            content:none;
        }
    }

    &.framed {
        body {
            background: transparent;
        }
    }
}