.theme-super-classique-main.picture-theme:root {
  --base-1: #42000e;
  --base-2: #1c0166;
  --base-2-n-1: #3802cb;
  --content-color: var(--base-2);
  --base-theme-color-1: #42000e93;
  --base-theme-color-2: #1c016693;
  --base-theme-color-2-nucances-1: #3802cb93;
  --button-color-base: #28002c;
  --button-color-base-hover: #70017a;
  --button-border-color-base: #28002c;
  --button-border-color-base-hover: #70017a;
  --button-text-color-base: white;
  --button-text-color-base-hover: var(--button-text-color-base);
  --button-background-color: var(--button-color-base);
  --theme-background-color: var(--base-theme-color-1);
  --body-background-color: transparent;
  --framed-body-background-color: var(--body-background-color);
  --body-picture: url("../images/halloween-bg-light-unsplash.jpg");
  --framed-body-picture: unset;
  --main-text-color: white;
  --input-button-text-color: var(--input-text-color);
  --hover-background-color: var(--button-color-base-hover);
  --addressbook-list-pagenav-background-color: var(--list-pagenav-background-color);
  --barup-create-button-background-color: var(--mel-button-background-color);
  --barup-create-button-hover-background-color: var(--mel-button-hover-background-color);
  ---note-text-color: var(--button-text-color-base-hover)!important;
  ---note-bckg-color-hover: var(--mel-button-hover-background-color)!important;
  --list-pagenav-background-color: var(--theme-background-color);
  --bureau-card-background-color: var(--base-theme-color-2);
  --bureau-card-content-background-color: var(--button-color-base);
  --bureau-card-content-hover-background-color: var(--button-color-base-hover);
  --bureau-card-text-color: var(--button-text-color-base);
  --bureau-card-content-hover-text-color: var(--button-text-color-base-hover);
  --mel-button-background-color: var(--button-color-base);
  --mel-button-hover-background-color: var(--button-color-base-hover);
  --mel-button-border-color: var(--button-border-color-base);
  --mel-button-hover-border-color: var(--button-border-color-base-hover);
  --mel-button-text-color: var(--button-text-color-base);
  --mel-button-hover-text-color: var(--button-text-color-base-hover);
  --secondary-mel-button-hover-background-color: var(--mel-button-hover-background-color);
  --calendar-widget-header-background-color: var(--base-theme-color-2);
  --calendar-table-header: var(--base-2-n-1);
  --calendar-table-today-background-color: var(--base-1);
  --dropdown-menu-background-color: var(--popover-background-color);
  --dropdown-item-hover-background-color: var(--button-color-base-hover);
  --input-text-color: black;
  --layout-menu-background-color: var(--base-2);
  --layout-menu-background-selected-color: var(--base-1);
  --layout-menu-background-hover-color: var(--base-1);
  --layout-sidebar-background-selected-color: var(--alternative-layout-list-hover-background-color);
  --primary-layout-sidebar-background-selected-color: var(--list-hover-background-color);
  --layout-list-header-background-color: var(--base-theme-color-2);
  --layout-list-header-background-hover-color: var(--button-color-base-hover);
  --layout-list-header-text-hover-color: var(--button-text-color-base-hover);
  --layout-list-background-color: var(--framed-body-background-color);
  --alternative-layout-list-background-color: var(--base-theme-color-2);
  --alternative-layout-list-header-background-color: var(--alternative-layout-list-background-color);
  --alternative-layout-list-hover-background-color: var(--base-1);
  --layout-content-header-background-color: var(--layout-list-header-background-color);
  --alternative-layout-content-header-background-color: var(--alternative-layout-list-header-background-color);
  --layout-content-header-background-hover-color: var(--button-base-color-hover);
  --layout-content-background-color: var(--content-color);
  --message-list-quick-filter-background-color: var(--base-theme-color-2);
  --message-list-quick-filter-active-background-color: var(--button-color-base-hover);
  --message-list-quick-filter-hover-background-color: var(--message-list-quick-filter-active-background-color);
  --message-list-quick-filter-button-hover-background-color: var(--message-list-quick-filter-active-background-color);
  --message-list-content-row-background-color: var(--base-2);
  --message-list-content-row-alternate-background-color: var(--base-1);
  --message-list-content-row-background-hover-color: var(--button-color-base-hover);
  --modal-background-color: var(--popover-background-color);
  --option-menu-button-background-color: var(--button-color-base);
  --option-menu-button-hover-background-color: var(--button-color-base-hover);
  --option-menu-radio-button-icon-color: var(--input-text-color);
  --popover-background-color: var(--base-1);
  --searchbar-text-color: var(--input-text-color);
  --searchlist-background-color: var(--theme-background-color);
  --contact-background-color: black;
  --bureau-background-color: transparent;
  --hover-app-color: var(--button-color-base-hover);
  --bureau-app-icon-color: var(--button-text-color-base-hover);
  --calendar-list-item-switch-background-color: var(--button-color-base);
}
.theme-super-classique-main.picture-theme .barup {
  background: none!important;
}
.theme-super-classique-main.picture-theme #button-notes {
  --note-bckg-color-hover: var(---note-bckg-color-hover);
  --note-text-color-hover: var(---note-text-color);
}
.theme-super-classique-main.picture-theme .mel-hover:hover {
  box-shadow: 0 0 0 0.2rem var(--button-color-base-hover);
  border-radius: 15px;
}
.theme-super-classique-main.picture-theme .option_radio_wrapper .switch-overlay {
  color: var(--input-text-color);
}
.theme-super-classique-main.picture-theme .theme-saison-date {
  color: var(--input-text-color);
}
.theme-super-classique-main.picture-theme .task-calendar #layout #layout-content .fc-toolbar.fc-header-toolbar .fc-right button:hover {
  --searchbar-background-color: var(--button-color-base-hover);
  --input-button-text-color: var(--button-text-color-base-hover);
}
