html.party-halloween body {
  background-image: url("../images/halloween-bg-light-unsplash.jpg");
}
html.party-halloween.dark-mode-custom body {
  background-image: url("../images/halloween-bg-dark-unsplash.jpg");
}
html.party-halloween div#layout-sidebar {
  --main-text-color: var(--main-layout-taskbar-text-color);
  --mail-layout-sidebar-background-color: #371b5893;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 10px !important;
}
html.party-halloween #layout > div > .header a.button:hover {
  color: white !important;
  background-color: #371B58 !important;
  --layout-bg-hover: #371B58 !important;
  --invisible: #FF5B00;
  border-left: none !important;
  border-bottom: none !important;
  border-right: none !important;
  --secondary-bckg-color: #371B58;
}
html.party-halloween #layout > div > .header a.button:focus {
  color: white !important;
  background-color: #371B58 !important;
  --secondary-bckg-color: #371B58;
  --layout-bg-hover: #371B58 !important;
}
html.party-halloween #layout #layout-content {
  background-color: transparent;
}
html.party-halloween #layout #layout-content .header a {
  color: white;
}
html.party-halloween #layout #layout-content .header a:hover {
  background-color: #371B58 !important;
  color: white!important;
  --tierciary-bckg-color: #FF5B00;
  --invisible: #FF5B00;
}
html.party-halloween #layout #layout-content .header a:focus {
  color: white !important;
  background-color: #371B58 !important;
  --secondary-bckg-color: #371B58;
  --layout-bg-hover: #371B58 !important;
  --invisible: transparent;
}
html.party-halloween #layout #layout-content .content {
  --main-layout-content-background-color: #FFFFFF93;
}
html.party-halloween #layout-list > .header li a.button {
  --main-text-color: white;
}
html.party-halloween #layout-list .scroller > .listing li {
  --main-text-color: white;
  --secondary-bckg-color: #371B58;
  border-radius: 5px;
}
html.party-halloween #layout-list .scroller > .listing li a {
  border-color: transparent !important;
}
html.party-halloween a {
  color: #51050F;
}
html.party-halloween a:hover {
  color: #371B58;
}
html.party-halloween .mel-button {
  --main-bckg-color: #FF5B00;
  --mel-button-border-color: var(--main-bckg-color);
  --tierciary-bckg-color: #F78812;
  --mel-button-border-color-alt: #F78812;
}
html.party-halloween .mel-button.white {
  --default-background: transparent;
}
html.party-halloween .barup {
  background: none!important;
}
html.party-halloween .barup #barup-right-buttons {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #371B58 100%);
}
html.party-halloween .scroller > .listing li a:hover {
  background-color: #5B4B8A;
  --list-bg-hover: #5B4B8A!important;
}
html.party-halloween .scroller > .listing li a:focus {
  background-color: #5B4B8A !important;
}
html.party-halloween .scroller > .listing li div:hover {
  background-color: #5B4B8A;
  --list-bg-hover: #5B4B8A!important;
}
html.party-halloween .scroller > .listing li.selected > div > * {
  --list-bg-selected: #5B4B8A!important;
}
html.party-halloween .custom-switch .custom-control-label::before {
  background-color: #F2E8C6;
}
html.party-halloween .custom-switch .custom-control-label::after {
  background-color: #371B58;
}
html.party-halloween .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #371B58;
}
html.party-halloween .selected .custom-switch .custom-control-input:checked ~ .custom-control-label::before,
html.party-halloween .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #FF5B00;
}
html.party-halloween .searchbar {
  --main-text-color: white;
}
html.party-halloween .searchbar input {
  color: white;
}
html.party-halloween .searchbar a {
  color: white;
  border-top: solid thin transparent;
}
html.party-halloween .searchbar.menu:focus,
html.party-halloween .searchbar.menu a:hover {
  --secondary-bckg-color: #371B58;
  background-color: #371B58;
  border-top-color: #FF5B00;
}
html.party-halloween .watermark::before {
  content: none;
}
html.framed body {
  background: transparent;
}
