<?php
$config['wekan_url'] = "";
$config['server_wekan_url'] = $config['wekan_url'];
$config['wekan_admin_user'] = [
    "username" => "",
    "password" => ""
];
$config["wekan_ssl_options"] = [
    "verify_peer" => false,
    "verify_host" => 0
];