/* Nuances de bleu */
/* Nuances de gris */
/* Danger */
/* Warnings */
/*  - Espace interne des boutons            */
/*  - Espace entre items de liste           */
/*  - Padding interne des cartes            */
/*  - Espace entre les cartes (organismes)  */
/* - Espace entre sections                 */
/* Padding par défaut des dossiers */
/* Padding plus large pour les dossiers */
/* Padding plus petit pour les dossiers */
/* Padding par défaut des dossiers racines */
/* Padding plus large pour les dossiers racines */
/* Composites */
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Nuances de bleu */
/* Nuances de gris */
/* Danger */
/* Warnings */
#layout-menu {
  --_layout-menu-background-color: var(--bnum-main-nav-color, #242424);
  background-color: var(--_layout-menu-background-color);
  --layout-menu-background-color: var(--_layout-menu-background-color);
  --layout-menu-border-top: 0;
}
#layout-menu:hover {
  --layout-menu-background-hover-color: var(--_layout-menu-background-color);
}
#layout-menu a {
  --_layout-menu-action-background-color: transparent;
  --_layout-menu-action-background-alt: var(--bnum-main-nav-color-hover, #474747);
  --_layout-menu-action-border: solid 4px var(--_layout-menu-action-border-color, var(--_layout-menu-action-background-color));
  background-color: var(--_layout-menu-action-background-color);
  border-left: var(--_layout-menu-action-border) !important;
}
#layout-menu a:hover {
  --_layout-menu-action-background-color: var(--_layout-menu-action-background-alt);
  --layout-menu-background-hover-color: var(--_layout-menu-action-background-color);
}
#layout-menu a:active {
  --_layout-menu-action-background-color: var(--bnum-main-nav-color-active, #5b5b5b);
  --layout-menu-background-hover-color: var(--_layout-menu-action-background-color);
}
#layout-menu a:focus {
  --_layout-menu-action-background-color: var(--_layout-menu-action-background-alt);
  --layout-menu-background-selected-color: var(--_layout-menu-action-background-color);
}
#layout-menu a.selected {
  --layout-menu-background-selected-color: var(--_layout-menu-action-background-color);
  --_layout-menu-action-border-color: white;
}
#layout-menu a.selected::before {
  font-variation-settings: 'FILL' 1;
}
