// out: false
@BUREAU_COLOR: #a26859;
@MAIL_COLOR: #00a95f;
@CALENDAR_COLOR: #009081;
@STOCKAGE_COLOR: #009099;
@ADDRESSBOOK_COLOR: #465f9d;
@VISIO_COLOR: #417dc4;
@PARAPHEUR_COLOR: #a558a0;
@CHAT_COLOR: #e18b76;
@WORKSPACE_COLOR: #ce614a;
@SONDAGE_COLOR: #c8aa39;
@RIZOMO_COLOR: #e4794a;
@WEKAN_COLOR: #d1b781;
@USEFUL_LINKS_COLOR: #bd987a;
@TASKS_COLOR: #ffc29e;
@SETTINGS_COLOR: #808080;
@NEWS_COLOR: #466964;
@NOTES_COLOR: #ddb435;
@TCHAP_COLOR: #000091;
