// out: false

@main-text-color: #363A5B;
@secondary-text-color: #FFFFFF;
@tierciary-text-color:#484D7A;
@fourth-text-color:#80D5C6;
@other-text-color: #909497;
@disabled:{
    LISTING:#ffffff80;
}

@main-link-color: #0476C4;
@main-link-hover-color: #4F7B9F;

@main-bckg-color: #363A5B;
@secondary-bckg-color: #2C3054;
@tierciary-bckg-color: #484D7A;
@drag-n-drop-bckg-color: #a39bff2e;
@document-create-list-folder-bckg-color:#A1AAFF30;
@ghost-div-background:#00000069;
@default-background:#FFFFFF;

@scrollbar-color:{
    HANDLE:#363A5B;
    HANDLE_HOVER:#070B2D;
    BACKGROUND:#A3A7BC;
} 

@roundbadge-bckg-color: #80D5C6;

@warning-color: #FC945A;
@danger-color: #ff5552;
@danger-color-2:#f8d7da;
@royal-color: #FDCF42;