// out: false

@main-text-color: #363A5B;
@secondary-text-color: #FFFFFF;
@tierciary-text-color:#484D7A;
@fourth-text-color:#80D5C6;
@other-text-color: #909497;
@alternate-text-color: #424564;
@calendar-week-text-color:#b3b6b7;
@calendar-highlight-text-color:black;
@disabled:{
    LISTING:#ffffff80;
}

@main-link-color: #0476C4;
@main-link-hover-color: #4F7B9F;

@main-bckg-color: #363A5B;
@secondary-bckg-color: #2C3054;
@tierciary-bckg-color: #484D7A;
@alternate-tierciary-bckg-color: #52588C;
@alternate-bckg-color: #f0f0f0;
@alternate-bckg-color-2:#5870BF;
@drag-n-drop-bckg-color: #a39bff2e;
@document-create-list-folder-bckg-color:#A1AAFF30;
@ghost-div-background:#00000069;
@default-background:#FFFFFF;
@overlay-background:rgba(44,54,58,0.5);

@scrollbar-color:{
    HANDLE:#363A5B;
    HANDLE_HOVER:#070B2D;
    BACKGROUND:#A3A7BC;
} 

@roundbadge-default-bckg-color: lightgray;
@roundbadge-bckg-color: #80D5C6;
@roundbadge-menu-bckg-color: #2C3054;
@roundbadge-bkcg-color-on-block: #424564;
@roundbadge-bkcg-color-on-block-hover: #484D7A;
@roundbadge-bkcg-color-tools: #00000021;

@success-color:#03a889;
@warning-color: #FC945A;
@danger-color: #ff5552;
@danger-color-2:#f8d7da;
@royal-color: #FDCF42;

@separate-ways: {
    CLASSIC:#5C5F7B;
    LIGHT:#E0E1E8;
    DEVICE:white;
}

@windows-like-popup: {
    BORDER:white;
    BORDER_HEADER:#2C3054;
    BORDER_CONTENT:#363A5B;
    BUTTON_FOCUS:#EDEDF069;
    
}

@btn-primary:{
    BORDER_COLOR:#80D5C6;
    HOVER_BORDER_COLOR:#8FE4D5;
    HOVER_BACKGROUND_COLOR:#8FE4D5;

}

@mel-button:{
    BORDER_COLOR:#363A5B;
    BORDER_COLOR_ALT:#484D7A;
    DISABLED:#73778e;
}

@primary-border-color:#363A5B;
@secondary-border-color:#424665;
@tierciary-border-color:#9592b7;

@text-shadow:#0b0b0b;

@secondary-focus:rgba(128, 213, 198,0.25);
@secondary-focus-border:#80D5C6;
@tierciary-focus:#484D7A;
@other-focus:#484D7A69;
@background-focus:radial-gradient(circle, transparent 20%, #484D7A4F 26%, rgba(255,255,255,0) 28%);

@red-star:red;