// out: false

/** COLORS **/
@invisible:transparent;

/** FONTS **/
@default-fonts:Roboto,sans-serif;
@main-symbol-font: 'DWP';
@secondary-symbol-font: 'IcoFont';
@third-symbol-font: 'Material Symbols Outlined';

/* CONTENT */
@no-content:'';
@empty-content: ' ';

/** ANIMATIONS **/
@mel-default-animation:all 0.1s ease-in;

/** LOADER **/
@loader-image:"./../images/bnumloader.svg";
@loader-size:{
    WIDTH:200px;
    HEIGHT:200px;
}
@loader-background-position:65% 57%;
@loader-mask-color:{
    A:rgb(255, 255, 255);
    B:rgba(140, 140, 140, 0);
    C:rgba(0, 0, 0, 0);
}
@loader-mask:conic-gradient(from 90deg at 50% 50%, @loader-mask-color[A] 0%, @loader-mask-color[B] 51%, @loader-mask-color[C] 100%);

/** WIDTH **/
@scrollbar-webkit-width:{
    SMALL:6px;
    NORMAL:12px;
    LARGE:18px;
}

@scrollbar-moz-width:{
    SMALL:thin;
    NORMAL:initial;
    LARGE:initial;
}

@scrollbar-width:{
    WEBKIT:@scrollbar-webkit-width[SMALL];
    MOZ:@scrollbar-moz-width[SMALL];
}

@scrollbar-hover-width:{
    WEBKIT:@scrollbar-webkit-width[NORMAL];
    MOZ:@scrollbar-moz-width[NORMAL];
}

/** BORDER **/
@scrollbar-border-radius:15px;

@mail-folder-space:{
    TOP:20px;
    BOTTOM:-10px;
    LEFT:0;
    RIGHT:0;
}

@mail-subfolder-space:{
    TOP:0;
    BOTTOM:0;
    LEFT:0;
    RIGHT:0;
}
