// out: false

/** COLORS **/
@invisible:transparent;

/** FONTS **/
@default-fonts:Marianne,Roboto,sans-serif;
@main-symbol-font: 'DWP';
@secondary-symbol-font: 'IcoFont';

/* CONTENT */
@no-content:'';
@empty-content: ' ';

/** ANIMATIONS **/
@mel-default-animation:all 0.1s ease-in;

/** WIDTH **/
@scrollbar-width:{
    WEBKIT:6px;
    MOZ:thin;
}

@scrollbar-hover-width:{
    WEBKIT:12px;
    MOZ:thick;
}

/** BORDER **/
@scrollbar-border-radius:15px;