//compress:false
@import 'colors.less';

html.theme-classique:root{
    --layout-list-background-color:@sidebar-color;
    --mail-layout-sidebar-background-color:@sidebar-color;
    --roundbadge-bckg-color:@badge-color;
    --quota-bar-bckg-color:var(--default-background);
    --quota-bar-border-color:var(--quota-bar-bckg-color);
    --quota-bar-color:var(--main-text-color);

    --theme-base-text-color:var(--main-text-color);
    --theme-secondary-text-color:var(--secondary-text-color);
    --theme-default-background:var(--default-background);

    --calendar-base-header-background-color:var(--layout-list-background-color);
    --calendar-sidebar-header-color:var(--theme-base-text-color);
    --calendar-toolbar-roundcube-color:var(--theme-base-text-color);
    --calendar-toolbar-roundcube-hover-background-color: #edebe9;
    --calendar-toolbar-roundcube-hover-color: var(--calendar-toolbar-roundcube-color);
    --onboarding-image:url('../../skins/mel_elastic/themes/Classique/images/Computer_classic.png');
    --drag-n-drop-bckg-color:#edebe9;
    --drag-n-drop-color: var(--drag-n-drop-bckg-color);
    --background-pannel-hover: var(--default-background)!important;
    --button-color-hover: var(--main-text-color)!important;
}

.mixin-listing()
{
    .scroller {
        > .listing {
            li{

                > .treetoggle{
                    color:var(--main-text-color);
                    -webkit-text-stroke: 1px var(--main-text-color);
                    text-stroke: 1px var(--main-text-color);
                }

                a{
                    color:var(--main-text-color);

                    &:hover{
                        background-color: #edebe9;
                    }
                }

                div{
                    border-bottom:solid thin var(--invisible);

                    &:hover{
                        background-color: #edebe9!important;
                    }
                }

                > div{
                    &:first-of-type
                    {
                        &:hover{
                            border-bottom:solid thin var(--secondary-bckg-color);
                        }
                    }
                }



                &.selected{
                    color:var(--main-text-color);

                    > div {

                        &:first-of-type
                        {

                                border-left:solid thick var(--tierciary-bckg-color);
                                border-bottom: unset!important;
                            
                        }

                        > a {
                            color:var(--main-text-color);
                        }

                        > * {
                            background-color:#edebe9!important;
                        }
                    }

                    > .treetoggle{
                        color:var(--main-text-color);
                    }
                }

                &:hover{
                    > .treetoggle{
                        color:var(--main-text-color);
                    }

                    div {
                        a {
                            // color:var(--secondary-text-color);
                        }
                    }
                }
            }
        }
    }
}

html
{
    &.theme-classique{
        #layout-list {
            color:var(--main-text-color)!important;
        
            .listing {
                tbody{
                    td{
                        color:var(--main-text-color) !important;
                        border-bottom:solid thin #f0f0f0;
        
                        &:hover{
                                color:var(--main-text-color) !important;
                                border-bottom:solid thin var(--tierciary-bckg-color);
                                background-color: #edebe9;      
                        }
        
                        &.name{
                            width:100%;
                        }
                        
                    }
                }
        
                tr {
                    &.selected {
                      // background-color: var(--invisible);
                        td {
                            color:var(--secondary-text-color);
        
                            //.task-addressbook &{
                                // color:var(--main-text-color);
                                // border-left:solid thick var(--tierciary-bckg-color)!important;
                                border-bottom: unset!important;
                                background-color: #edebe9;
                            //}
                        }
                    }
                }
            }
        
            .menu{
                &.toolbar{
                    a{
                        body.task-settings.action-plugin-managesieve &
                        {
                            color:var(--main-text-color)!important;
        
                            &:hover{
                                color:var(--secondary-text-color)!important;
                            }
                        }
                    }
                }
            }
        
            .scroller {
                > .listing {
                    li{
                        a{
                            color:var(--main-text-color);
        
                            &:hover{
                                color:var(--secondary-text-color);
                                background-color: var(--secondary-bckg-color);
                                border: solid thin var(--secondary-text-color);
                            }
                        }
        
                        &.selected{
                            a{
                                color:var(--secondary-text-color);
                            }
                        }
        
                        &:hover{
                            a{
                                color:var(--secondary-text-color);
                            }
        
                            .treetoggle{
                                color:var(--secondary-text-color);
                            }
                        }
        
                        .treetoggle{
                            color:var(--main-text-color);
                    
                            &:hover{
                                color:var(--secondary-text-color);
                            }
                        }
                    }
                }
            }
        
            .menu{
                &.pagenav{
                    &.pagenav-list {
                        + .navlist{
                            background-color: var(--layout-list-background-color);
                        }
                    }
                }
            }
        
            > .header{
                color:var(--main-text-color)!important;
        
                li {
                    a{
                        &.button{
                            color:var(--main-text-color);
                            border-top:solid thin var(--invisible)!important;
        
                            &:hover{
                                background-color: #edebe9!important;
                                color:var(--main-text-color)!important;
                                border-top-color: var(--tierciary-bckg-color)!important;
                            }
                        }
                    }   
                }
            }
        
            #annuaire-list {
                .folder {
                    > .description {
                        color:var(--main-text-color);
                    }
        
                    &[aria-expanded="true"]{
                        color:var(--secondary-text-color);
        
                        .description {
                            color:var(--secondary-text-color)!important;
                        }
        
                        .treetoggle{
                            color:var(--secondary-text-color)!important;
                        }
        
                        &:hover{
                            border:none!important;
                        }
                    }
                }
        
                li {
                    border-bottom: solid thin var(--invisible);
                    &:hover{
                        background-color: #edebe9;
                        border-bottom-color: var(--tierciary-bckg-color);
        
                        &.folder {
                            span {
                                color:var(--main-text-color);
                            }
                        }

                        .treetoggle {
                            color:var(--main-text-color);

                            &:hover{
                                text-shadow: none!important;
                                -webkit-text-stroke: 1px var(--secondary-text-color);
                                text-stroke: 1px var(--secondary-text-color);
                            }
                        }
                    }

                    &.selected{
                        background-color: #edebe9!important;
                        border-left: solid thick var(--tierciary-bckg-color);
                        border-bottom: none!important;
                    }
                }
        
                .folder[aria-expanded="true"]{
                    background-color: unset!important;
                    color:var(--main-text-color)!important;

                    .description{
                        color:var(--main-text-color)!important;
                    }

                    .treetoggle {
                        color:var(--main-text-color)!important;

                        &:hover{
                            text-shadow: none!important;
                            -webkit-text-stroke: 1px var(--secondary-text-color);
                            text-stroke: 1px var(--secondary-text-color);
                        }
                    }
                }
            }
        
            ul#tasklist {
                li{
        
                    .childtoggle{
                        -webkit-text-stroke: 1px var(--secondary-text-color);
                        text-stroke: 1px var(--secondary-text-color);
                    }
        
                    &.taskitem {
                        div{
                            &.taskhead{
                                span{
                                    color:var(--main-text-color)!important;
                                }
        
                                &:hover{
                                    span{
                                        color:var(--secondary-text-color)!important;
                                    }
                                }
        
                                &.selected{
                                    span{
                                        color:var(--secondary-text-color)!important;
                                    }
                                }
                            }
                        }
        
                        &:nth-child(2n){
                            background-color: var(--default-background);
                        }
        
                        &:hover{
                            > .childtoggle {
                                color:var(--secondary-text-color)!important;
                                -webkit-text-stroke: 1px var(--main-text-color);
                                text-stroke: 1px var(--main-text-color);
                            }
                        }
                    }
                }
        
                span{
                    &.date {
                        color:var(--main-text-color)!important;
                    }
                }
            }
        }
        
        #layout-content{
             .header{
                a{
                    border-top:solid thin var(--invisible)!important;
                    --secondary-text-color: var(--theme-base-text-color);

                    &:hover{
                        background-color: #edebe9!important;
                        color:var(--main-text-color)!important;
                        border-top-color: var(--tierciary-bckg-color)!important;
                    }
                }  

                .header-title{
                    --secondary-text-color: var(--theme-base-text-color);
                }
                

                    
            }
        }
        
        .task-mail{
        
            ul ul li.mailbox:hover > a:first-of-type{
                background-color: unset!important;
            }
        
            #layout-sidebar{
                #compose-options{
                    color:var(--main-text-color)!important;
                }
                .scroller {
                    > .listing {
                        li{
                            a{
                                color:var(--main-text-color);
                                border-bottom: solid thin var(--invisible)!important;
                                border-left: solid thick var(--invisible)!important;
                                &:hover{
                                    border-radius: 0!important;
                                    background-color: #edebe9!important;
                                    border-bottom-color: var(--secondary-bckg-color)!important;
                                }
                            }
            
                            &.selected{
                                a{
                                    background-color: #edebe9!important;
                                    border-left-color: var(--tierciary-bckg-color)!important;
                                    border-bottom: unset!important;
                                }
                            }
                        }
                    }
                }

                > .header {
                    color:var(--theme-base-text-color)!important
                }
            }
        
            #folderlist-content {
                ul#mailboxlist > li > ul li[aria-level="2"]:first-of-type{
                    border-color: var(--main-bckg-color);
                }
        
                > a {
                    &.button{
                        color: var(--main-text-color);
                        border-top: solid thin var(--invisible);
        
                        &:hover{
                            //color:var(--secondary-text-color);
                            background-color: #edebe9;
                            border-top-color: var(--tierciary-bckg-color);
                        }
                    }
                }
            }
        
            #layout .header a.button, 
            #layout .header a.options, 
            #layout .header a.select, 
            #layout .header a.threads
            {
                color: var(--main-text-color);
                border: solid thin var(--invisible)!important;
        
                &:hover{
                    color: var(--main-text-color)!important;
                    background-color: #edebe9!important;
                    border-top-color: var(--tierciary-bckg-color)!important;
                }
            }
        
            ul.treelist {
                li {
                    div.treetoggle{
                        color: var(--main-text-color);
                        -webkit-text-stroke: 1px var(--secondary-text-color);
                        text-stroke: 1px var(--secondary-text-color);
                    }
                }
            }
        
            // ul ul li.mailbox:hover > a:first-of-type{
            //     color:var(--secondary-text-color)!important;
            // }
        
            #layout-content{
                > .header{
                    #toolbar-menu{
                        li{
                            a {
                                color:var(--main-text-color);
                                border: solid thin var(--invisible)!important;
        
                                &:hover{
                                    color: var(--main-text-color)!important;
                                    background-color: #edebe9!important;
                                    border-top-color: var(--tierciary-bckg-color)!important;
                                }
                            }
        
                            .dropbutton {
                                background-color:var(--invisible);
                            }
                        }
                    }
                }
            }
            
            .parent-close-visu{
                border-color:var(--main-text-color)!important;
            }
        
            #mail-search-border{
                background-color: var(--default-background);
                border: solid thin var(--main-text-color);
        
                &.border-success-search{
                    border-color:var(--success-color);
                }
            }
        
            .quota-widget{
                color:var(--main-text-color);
        
                .count{
                    color:var(--main-text-color);
                }
            }
        
            .upload-form .hint{
                color:var(--main-text-color);
            }
        
            table.messagelist .selected td.subject span.msgicon::before,
            table.messagelist .selected td.subject span.msgicon,
            table.messagelist .selected td.subject span.date,
            table.messagelist .selected td.subject span.fromto,
            table.messagelist .selected td.subject span.subject a,
            table.messagelist .selected td.subject span.priority,
            table.messagelist .selected span.threads > div,
            table.messagelist tr.message.selected:hover td.subject span.msgicon.status::before{
                color:var(--main-text-color)!important;
            }

            table.messagelist tr.selected td {
              background-color: #edebe9;
            }
        
            #layout-list .listing tr.selected td.flags{
                border:none!important;
            }
        
            #layout-list .listing tbody tr:hover td{
                // background-color: #edebe9;
                border-bottom-color: transparent!important;
            }
        
            #layout-list .listing tr.selected td.threads + .subject{
                border-left:none!important;
            }
        }
        
        .task-calendar {
            #layout{
                > div {
                    background-color:var(--layout-list-background-color)!important;
                    border-color: var(--main-text-color)!important;
        
                    > .header{
                        background-color:var(--layout-list-background-color)!important;
                        color:var(--main-text-color)!important;
                        border-color: var(--main-text-color)!important;
                        a{
                            &.button{
                                color:var(--main-text-color)!important;
                                border-top:solid thin var(--invisible)!important;
        
                                &:hover{
                                    // color:var(--secondary-text-color)!important;
                                    background-color:#edebe9!important;
                                    border-top-color:  var(--tierciary-bckg-color)!important;
                                }
                            }
                        }
                    }
                }
        
            }
        
            .mixin-listing();
        
            .listing li > div a.quickview{
                &::before{
                    color:var(--main-text-color)!important;
                }
        
                &:hover{
                    &::before{
                        color:var(--secondary-text-color)!important;
                    }
                }
            }
        
            #datepicker{
                background-color:#edebe9!important;
            }
        
            .calendar-datepicker{
                .ui-datepicker{
                    background-color:#edebe9!important;
        
                    &-header{
                        background-color:#edebe9!important;
        
                        a{
                            color:var(--main-text-color);
                        }
        
                        div{
                            color:var(--main-text-color);
                        }
                    }
        
                    &-calendar{
                        color:var(--main-text-color);
                        border-top-color: var(--main-text-color)!important;
                    }
                }
            }
        
            #layout-sidebar .ui-datepicker.ui-widget-content .ui-state-default {
                color:var(--main-text-color);
            }
        
            #datepicker-onoff{
                color:var(--main-text-color)!important;
            }
        
            .fc .fc-header-toolbar
            {
                color:var(--main-text-color);
                background-color: #F0F0F0;
            }
        
            .fc .fc-center h2{
                color:var(--main-text-color);
            }
        
            .waiting-events-number {
                color:var(--main-text-color);
                background-color: #F0F0F0;
            }

            .searchbar {
                border: solid thin var(--main-text-color)!important;
                background-color: var(--default-background)!important;
            }

            .small-toolbar-calendar,
            #mel-button-small-search{
                .toolbar_button();
            }
        
        }

        .task-addressbook {
            .searchbar {
                border: solid thin var(--main-text-color)!important;
                background-color: var(--default-background)!important;
            }

            .listing-info{
                color: var(--theme-base-text-color);
            }
        }

        .task-tasks{
            .searchbar {
                border: solid thin var(--main-text-color)!important;
                background-color: var(--default-background)!important;
            }
        }

        .task-settings{
            #layout-list{
                .header {
                    a{
                        --secondary-text-color:var(--main-text-color);
                    }
                }
            }

            .listing {
                tbody {
                    td {
                        &:hover {
                            --secondary-text-color:var(--main-text-color);
                            background-color: #edebe9;
                        }
                    }
                }
            }
        }

        .mel-selectable{
            border-bottom: solid thin var(--invisible);
            &:hover{
                background-color: #edebe9;
                color: var(--main-text-color);
                border-bottom-color: var(--tierciary-bckg-color);
            }

            &.picture-only {
                &:hover{
                    border:solid thin var(--invisible);;
                }
            }

            &.selected{
                background-color: #edebe9;
                color: var(--main-text-color);
                border-bottom:solid thin var(--invisible)!important;
                border-left: solid thick var(--tierciary-bckg-color);
                
                &.picture-only {
                    border:solid thin var(--invisible);

                    &:hover {
                        border:solid thin var(--invisible);
                    }
                }

                &.picture {
                    border-bottom: solid thick #484D7A!important;
                    background-color:var(--invisible);
                }
            }
        }

        #melplusmails{
            color: var(--theme-base-text-color);
            border-top: solid thin var(--invisible) !important;
    
            &:hover {
                background-color: #edebe9!important;
                color:var(--theme-base-text-color)!important;
                border-top-color: var(--tierciary-bckg-color)!important;
            }
    
            &:focus{
                color:var(--secondary-text-color);
            }
        }
    }
}

.toolbar_button()
{
    --secondary-text-color: var(--theme-base-text-color);
    --tierciary-bckg-color: var(--invisible);
    --mel-button-border-color-alt: var(--invisible);
    border-top: solid thin var(--invisible);
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;

    &:hover{
        --tierciary-bckg-color: #edebe9;
        --main-bckg-color: #edebe9;
        --mel-button-border-color-alt: var(--theme-base-text-color);
        --mel-button-border-color: var(--theme-base-text-color);
    }
}

html.theme-classique body.task-calendar .ui-datepicker-inline .ui-datepicker-activerange{
    background-color:#edebe9!important;
}

html.theme-classique body.task-calendar #menu-gu-black{
    background-color:var(--ghost-div-background)!important;
}

html.theme-classique #layout-list .listing tr.selected td.labels{
    border:none!important;
}

html.theme-classique body.task-mail.action-compose #attachment-list *
{
    color: var(--theme-base-text-color)!important;
}

html.theme-classique .task-mail.action-compose #layout-sidebar .scroller a.button.icon.dropdown,
html.theme-classique .task-mail.action-compose #layout-sidebar .scroller a.delete {
    border-bottom: solid thin var(--invisible);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    &:hover{
        background-color:#edebe9!important;
        border-bottom-color: var(--theme-base-text-color);
    }
}

#mulsah {
    html@{layout-phone}.theme-classique &,
    html@{layout-small}.theme-classique &{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

#mulba {
    html@{layout-phone}.theme-classique &,
    html@{layout-small}.theme-classique &{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}