html.theme-super-classique #layout-menu {
  background-color: #F0F0F0;
  border-right: solid thin #2C3054;
}
html.theme-super-classique #layout-menu #taskmenu a {
  color: var(--main-text-color);
}
html.theme-super-classique #layout-menu #taskmenu a:hover,
html.theme-super-classique #layout-menu #taskmenu a:hover > span.inner,
html.theme-super-classique #layout-menu #taskmenu a.selected,
html.theme-super-classique #layout-menu #taskmenu a.selected > span.inner {
  background-color: white!important;
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
  color: #0EAF9C !important;
}
html.theme-super-classique #layout-menu #taskmenu a:hover > span.inner,
html.theme-super-classique #layout-menu #taskmenu a.selected > span.inner {
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
}
html.theme-super-classique #layout-menu #taskmenu a.selected {
  border-right: solid thin #2C3054 !important;
}
html.theme-super-classique #layout-menu:hover #taskmenu a.selected {
  border-right: none!important;
}
html.theme-super-classique .menu.toolbar a.menu-last-frame::before {
  color: #127F97;
}
