html.theme-super-classique #layout-menu {
  background-color: var(--main-layout-taskbar-background-color);
}
html.theme-super-classique #layout-menu #taskmenu a {
  color: var(--main-text-color) !important;
}
html.theme-super-classique #layout-menu #taskmenu a:hover,
html.theme-super-classique #layout-menu #taskmenu a:hover > span.inner,
html.theme-super-classique #layout-menu #taskmenu a.selected,
html.theme-super-classique #layout-menu #taskmenu a.selected > span.inner {
  background-color: var(--mail-layout-sidebar-background-color) !important;
  color: var(--main-text-color) !important;
}
html.theme-super-classique #layout-menu #taskmenu a:hover > span.inner,
html.theme-super-classique #layout-menu #taskmenu a.selected > span.inner {
  border-bottom: none !important;
}
html.theme-super-classique #layout-menu #taskmenu a.selected {
  border-radius: 10px 0 0 10px;
}
html.theme-super-classique #layout-menu #taskmenu a > span.inner {
  border: none;
}
html.theme-super-classique #layout-menu #taskmenu a:focus,
html.theme-super-classique #layout-menu #taskmenu a:focus > span.inner {
  box-shadow: none;
  background-color: var(--mail-layout-sidebar-background-color) !important;
  color: var(--main-text-color) !important;
}
html.theme-super-classique #layout-menu #taskmenu .menu-last-frame > span {
  max-width: 140px;
}
html.theme-super-classique #layout-menu:hover #taskmenu a.selected {
  border-right: none !important;
}
html.theme-super-classique #layout-menu:hover a > span.inner {
  width: 140px;
  padding-right: 20px;
}
html.theme-super-classique #layout-menu:hover a.wsp:hover > span.inner {
  padding-bottom: 0;
}
html.theme-super-classique #layout-menu:hover a.more-options:hover > span.inner {
  padding-bottom: 0;
}
html.theme-super-classique #layout-menu:hover a.menu-last-frame:hover > span.inner {
  padding-bottom: 0;
}
html.theme-super-classique .menu.toolbar a.menu-last-frame::before {
  color: var(--roundbadge-bckg-color);
}
