<?php

$config = array();

// --------------- AUTH Methods --------------

// OIDC only (?oidc=1 triggers OIDC auth)
$config['auth_oidc_enabled'] = true;
$config['auth_oidc_keyword'] = "oidc";

// OIDC + Kerberos (Kerberos triggers OIDC auth, after LDAP check)
$config['auth_kerb_enabled'] = true;
$config['auth_kerb_keyword'] = "kerb";

// --------------- Provider ------------------

// OIDC Provider URL
$config['oidc_url'] = 'OIDC_PROVIDER_URL';

// Proxy (url:port) to reach OIDC Provider - Leave empty if you don't need it
$config['oidc_proxy'] = '';

// App URL to redirect after OIDC login - Leave empty if you don't need it
$config['oidc_redirect'] = '';

// Client ID (registered on the provider)
$config['oidc_client'] = 'OIDC_CLIENT_ID';

// Client secret (corresponding to the given client ID)
$config['oidc_secret'] = 'OIDC_CLIENT_SECRET';

// OIDC scopes ('openid' is automatically added, it should not be needed here)
$config['oidc_scope'] = 'uid';

// -------------- OIDC -----------------

$config['auth_oidc_link_enabled'] = true;
$config['auth_oidc_link_name'] = "Cerbère"; // "CAS", "Auth Unifiée", ...

// Field used as a login UID (email, uid, ...)
$config['oidc_field_uid'] = 'uid';
$config['oidc_field_eidas'] = 'acr';

// OIDC - Token expiration delay, in seconds
$config['oidc_exp_delay'] = 600;

// OIDC - Inactivity delay, in seconds
$config['oidc_act_delay'] = 300;

// Actions that will count as refresh (inactivity)
// Mel
$config['refresh_actions'] = ['refresh', 'load_events', 'plugin.list_contacts_recent', 'plugin.get_unread_count'];
// BNUM
$config['refresh_actions'] = ['refresh', 'load_events', 'plugin.list_contacts_recent', 'plugin.get_unread_count', 'get_wsp_unread_mails_count', 'get_unread_mail_count'];

// -------------- Kerberos Activation -----------------

// Kerberos activation based on client browser(s)
// -- Activates if all conditions match (Use " " to target all browsers) 
//
//$config['kerb_browsers'] = [ " " => true, "libwww-perl" => false];
//$config['kerb_browsers'] = ["Firefox" => true, "Chrome" => false];

// Kerberos activation based on PHP ($_SERVER) header(s)
// -- Activates if one header matches
// 
//$config['kerb_headers'] = [ "HTTP_X_MINEQPROVENANCE" => "intranet" ];

// Kerberos activation based on IP Address (IN or NOT IN subnet(s))
// -- Activates if all conditions match (Use '0.0.0.0/0' to target all addresses)
//
//$config['kerb_subnets'] = [ "0.0.0.0/0" => false, "100.0.0.0/8" => true ];
//$config['kerb_subnets'] = [ "100.64.0.0/10" => false, "161.48.0.0/16" => false ];
