// out: false
@import "var.less";
@import "screen_size.less";

:root{
    --main-text-color:@main-text-color;
    --secondary-text-color:@secondary-text-color;
    --other-text-color:@other-text-color;
    
    --main-link-color:@main-link-color;
    --main-link-hover-color:@main-link-hover-color;
    
    --main-bckg-color:@main-bckg-color;
    --secondary-bckg-color:@secondary-bckg-color;
    --tierciary-bckg-color: @tierciary-bckg-color;
    
    --roundbadge-bckg-color:@roundbadge-bckg-color;
    
    --warning-color:@warning-color;
    --danger-color:@danger-color;
    --royal-color:@royal-color;
}