// out: false
@import "dark-var.less";
@import "screen_size.less";
@import "dark-color-root.less";

:root{
    --invisible:@invisible;

    --main-icon-font:@main-symbol-font;
    --secondary-icon-font:@secondary-symbol-font;
}

@import "dark-mixin.less";
@import "animations.less";