// out: false

.mel-no-border{
    border: none;
}

.mel-clickable {
    cursor: pointer;
}

.noselect
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.titanic{
    float: none;
}

.restore-font{
    font-family: @default-fonts;
}

.mel-max-width-500
{
    max-width: 500px;
}

.mel-centered{
    justify-content: center;
}

.absolute-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.mel-bnum-indirect-actions
{
    box-shadow: 0 0 0 .2rem #484D7A69;
}

.mel-bnum-indirect-actions-light
{
    box-shadow: 0 0 0 .2rem #FFFFFF69;
}

.mel-all-ease-in-animation(){
    transition: @mel-default-animation;
}

.mel-invisible-background-unimportant
{
    background-color: var(--invisible);
}

.mel-invisible-background
{
    .mel-invisible-background-unimportant()!important;
}

.mel-loading {
	animation: spin 0.75s linear infinite;
	display: inline-block;
}

.element-block
{
    display:block;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
} 

.margin-right-15{
    margin-right: 15px;
}

.ignore-bullet{
    list-style-type: none;
    padding: 0;
}

.mel-main-colors{
    background-color: var(--main-bckg-color);
    color:var(--secondary-text-color);
}

.mel-main-colors-important{
    .mel-main-colors()!important;
}

.mel-secondary-colors{
    background-color: var(--secondary-bckg-color);
    color:var(--secondary-text-color);
}

.mel-secondary-colors-important{
    .mel-secondary-colors()!important;
}

.mel-tiercary-colors{
    background-color: var(--tierciary-bckg-color);
    color:var(--secondary-text-color);
}

.mel-tiercary-colors-important{
    .mel-tiercary-colors()!important;
}

