// out: false

@import "var.less";
@import "screen_size.less";
@import "color-root.less";

:root{

    --invisible:@invisible;

    --main-icon-font:@main-symbol-font;
    --secondary-icon-font:@secondary-symbol-font;
}

