// out: false

/** COLORS **/

@main-text-color: #363A5B;
@secondary-text-color: white;
@other-text-color: #909497;

@main-link-color: #0476C4;
@main-link-hover-color: #4F7B9F;

@main-bckg-color: #363A5B;
@secondary-bckg-color: #2C3054;
@tierciary-bckg-color: #484D7A;

@roundbadge-bckg-color: #80D5C6;

@invisible:transparent;

@warning-color: #FC945A;
@danger-color: #ff5552;
@royal-color: #FDCF42;

/** FONTS **/
@default-fonts:Marianne,Roboto,sans-serif;
@main-symbol-font: 'DWP';
@secondary-symbol-font: 'IcoFont';

/** ANIMATIONS **/
@mel-default-animation:all 0.1s ease-in;