<?php
/**
 * Configuration des templates pour le portail
 * Permet de charger des fichiers supplémentaires pour les cards
 * 
 * Supported properties :
 *      'php'   => '<template>.php',
        'js'    => '<template>.js',
        'css'   => '<template>.css',
 * 
 * @var array $rcmail_config
 */
$rcmail_config['portail_templates_list'] = [];


/**
 * Items list for the portail
 * Supported properties :
 *      'type'          => Template name
        'flip'          => Card support flip or not
        'newtab'        => Open links in a new tab
        'logo'          => Url to the logo of the card if not default
        'logobg'        => Background color for the logo
        'title'         => Tooltip of the card
        'name'          => Name title of the card
        'description'   => Description of the card
        'url'           => URL of the card
        'dn'            => Matched DN for the current user to show the card
        'feedUrl'       => URL to use as a feed
        'onclick'       => Onclick event on click on the card
        'buttons'       => List of buttons for the card
        'links'         => List of links for the card (Card of cards)
 * 
 */
$rcmail_config['portail_items_list'] = [];
