.task-calendar #layout > div > .header ,
.task-calendar #layout-sidebar
{
    background-color:#484D7A!important;    
}

.task-calendar #layout-sidebar
{
    border-right-color:white;
    border-right-width: thin;
    border-right-style: solid;
    
}

html body.task-calendar .ui-datepicker-inline .ui-datepicker-activerange,
.task-calendar .calendar-datepicker .ui-datepicker-header, 
.task-calendar .calendar-datepicker .ui-datepicker, 
.task-calendar .listing li.selected > div > *
{
    background-color :#31365B!important;
}

.task-calendar #layout #layout-content > .header a.button
{
    color:white;
}

.task-calendar #layout #layout-content > .header a.button.reset
{
    color:black;
}

html.layout-large .task-calendar #layout #layout-content > .header,
html.layout-normal .task-calendar #layout #layout-content > .header
{
    display: block;
} 

.task-calendar #layout #layout-content > .header #toolbar-menu
{
    text-align: left;
}

html body.task-calendar .ui-datepicker-inline .ui-datepicker-activerange{
    text-align: center;
    text-align: -moz-center;
}

.task-calendar .ui-datepicker a.ui-state-active.ui-state-highlight, 
.task-calendar .ui-datepicker.ui-widget-content a.ui-state-active.ui-state-highlight, 
.task-calendar .ui-datepicker a.ui-state-active
{

        border-radius: 100%;
        height: 20px;
        width: 20px;
        line-height: 15px!important;
        color: #31365B!important;
    
}

.task-calendar #layout-content .searchbar.menu {
	border-radius: 15px;
	margin-top: 14px;
	margin-right: 15px;
	min-height: 20px;
	height: 30px;
    border:none;
}

.task-calendar .searchbar form::before {
	content: unset;
	height: 36px;
	color: #737677;
	margin: 0 0 0 .75rem;
}

.task-calendar .searchbar form::after {
	content: "\e92d";
	height: 36px;
	color: #424564;
	margin: 0 .75rem 0 0;
    font-family: DWP!important;
}

.task-calendar .fc .fc-header-toolbar
{
    background-color: #5870BF;
    color:white;
}

.task-calendar .fc .fc-center h2
{
    color:white;
    margin-top:8px;
}

.task-calendar #timezone-display{
    display: none;
}

.fc-unthemed th, 
.fc-unthemed td, 
.fc-unthemed thead, 
.fc-unthemed tbody, 
.fc-unthemed .fc-divider, 
.fc-unthemed .fc-row, 
.fc-unthemed .fc-content, 
.fc-unthemed .fc-popover, 
.fc-unthemed .fc-list-view, 
.fc-unthemed .fc-list-heading td
{
    border-color:#C2C5D3!important;
}

.task-calendar .fc .fc-day.fc-today
{
    background-color: #F2FAF9!important;
}

.task-calendar .fc .fc-now-indicator
{
    border-color: #FE7351;
    border-width: thin;
}

/* .fc-now-indicator.fc-now-indicator-line::after,
.fc-now-indicator.fc-now-indicator-line::before {
	content: ".";
	position: absolute;
	top: -0.1rem;
	left: -3px;
	background-color: #FE7351;
	border-radius: 100%;
	color: transparent;
    max-height: 4px;
    max-width: 4px;
    height: 4px;
    width: 4px;
}

.fc-now-indicator.fc-now-indicator-line::after
{
    left:unset;
    right: -3px;
} */

.task-calendar .fc .fc-nonbusiness
{
    background-color: #F0F0F0;
}

.fc-axis.fc-widget-header,
.fc-day-header {
	background-color: #E3E4EA;
	font-weight: normal;
}

.fc-day-header.fc-widget-header.fc-thu.fc-today {
	font-weight: bold;
}

.fc .fc-axis, 
.fc .fc-day-number, 
.fc .fc-week-number, 
.fc .fc-day-header, 
.fc .fc-week-header
{
	color: #575A76 !important;
}

.ui-datepicker-calendar {
	border-top-color: white !important;
	border-top-style: solid !important;
	border-top-width: thin !important;
	/* margin: 0 15px !important; */
}

.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
{
    margin: 0 15px !important;
}

#datepicker{
    background-color :#31365B!important;
}

html .task-calendar #layout .ui-datepicker-year,
html .task-calendar #layout .ui-datepicker-month {
    display: inline-block!important;
    margin: 0!important;
    padding: 0px!important;
    opacity: 0;
    width:100%; 
    position: absolute;
    pointer-events: none;
}

/* .task-calendar .calendar-force-show
{
    display: inline-block!important;
    margin: 0!important;
    padding: 0.1px!important;
    opacity: 0;
    /* width:0!important; *
    position: absolute;
} */

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
	margin: 0 20px;
}

.datepicker-dp-title{
    white-space: nowrap;
}

body.task-calendar .fc-toolbar.fc-header-toolbar .fc-right .prev::before,
.ui-datepicker-prev::before
{
    content:"\e905"!important;
    font-weight: normal!important;
    font-family: DWP!important;
}

body.task-calendar .fc-toolbar.fc-header-toolbar .fc-right .next::before,
.ui-datepicker-next::before
{
    content:"\e904"!important;
    font-weight: normal!important;
    font-family: DWP!important;
}

body.task-calendar .ui-datepicker-inline .ui-datepicker-week-col
{
    color:white!important;
    font-weight: bold;
}

body.task-calendar .fc-toolbar.fc-header-toolbar .fc-left .btn-group.btn-group-toggle
{
    display: none;
}

body.task-calendar select.mel-input.calendar
{
    background-color:white;
    margin-top: 6px;
    margin-left: 15px;
}

body.task-calendar .fc-toolbar.fc-header-toolbar .fc-right .prev
{
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;    
}

body.task-calendar .fc-toolbar.fc-header-toolbar .fc-right .next
{
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;    
}

body.task-calendar .fc-toolbar.fc-header-toolbar .fc-right .prev,
body.task-calendar .fc-toolbar.fc-header-toolbar .fc-right .next
{
    padding-right: 7px;
    padding-left: 7px;
}

body.task-calendar .fc-toolbar.fc-header-toolbar .fc-right button{
    background-color: white;
    color:#424564;
    transition: all 0.1s ease-in;
    border-color: #F0F0F0;
}

body.task-calendar .fc-toolbar.fc-header-toolbar .fc-right button:hover
{
    background-color: #484D7A;
    border-color: #484D7A;
    color:white;
}

.task-calendar #layout-sidebar .searchbar 
{
    display: none;
}

.task-calendar #layout > #layout-sidebar > .header .header-title
{
    font-size: 1.5rem;
    font-weight: normal;
}

.task-calendar #layout > #layout-sidebar > .header
{
    border-bottom: solid white thin;
    margin: 0 15px;
}

.task-calendar .listing li > div.calendar .calname::before
{
    /* margin-left: 15px; */
    position: absolute;
    content: "\e94d";
    margin-left: -42px;
    font-family: DWP;
    font-size: 9px !important;
}

.task-calendar .listing li > div.calendar .actions
{
    padding-right: 30px;
}

.task-calendar .listing li > div.calendar > *
{
    padding-top:5px;
    padding-bottom: 5px;
}

.task-calendar.cal-space-smaller .listing li > div.calendar > * {
    padding-top:0px;
    padding-bottom: 0px;
	/* margin-bottom: -5px; */
}

.task-calendar.cal-space-larger .listing li > div.calendar > * {
    padding-top:10px;
    padding-bottom: 10px;
	/* margin-bottom: -5px; */
}

.task-calendar .listing li > div.calendar
{
    margin-top:5px;
}

.task-calendar .listing li > div.calendar .custom-control
{
    height: auto;
    padding-left: 50px;
    margin-right: -20px;
}

.task-calendar .listing.notree li > div.calendar .custom-control
{
    margin-right: -10px;
}

.task-calendar .listing li[aria-level="2"] .custom-control{
    padding-left: 70px!important;
    margin-right: -43px!important;
}
html.touch .task-calendar .listing .custom-switch .custom-control-label
{
    padding-left: 2.5rem;
}

.task-calendar .listing .custom-switch .custom-control-label::before/*,
.task-calendar .listing .custom-switch .custom-control-input:checked ~ .custom-control-label::before*/ {
	border-color: black!important;
	background-color: white!important;
	border-radius: 5px;
	width: 16px;
    height: 16px;
    margin-left: 10px;
}


.task-calendar .listing .custom-switch .custom-control-label::after
{
    background:none;
    transition: none;
    margin-left: 10px;
}

.task-calendar .listing .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
	background: none;
	top: 4px;
	left: -4px;
	content: "\ec4b";
	font-family: IcoFont;
	/* font-weight: bold; */
	/* color: black; */
	font-size: 8px;
    /* transform: none; */
    /* filter: brightness(0.5); */
    text-shadow: 0px 0px 1px black;
}

html.touch .task-calendar .listing .custom-switch .custom-control-input:checked ~ .custom-control-label::after
{
    transform: translateX(10px);
}

.task-calendar ul.treelist.iconized li div.treetoggle {
	top: 10px;
	left: 22px;
}

.task-calendar.cal-space-smaller ul.treelist.iconized li div.treetoggle {
	top: 6px;
	left: 22px;
}

.task-calendar.cal-space-larger ul.treelist.iconized li div.treetoggle {
	top: 15px;
	left: 22px;
}

.task-calendar #layout > #layout-sidebar > .header .header-title
{
    text-align: left;
}

.task-calendar .listing li > div.calendar .calname {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.task-calendar #layout-content .searchbar.menu input
{
    padding-left:15px;
}

.menu a.refresh::before {
	content: "\e95b"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

.menu a.create::before {
	content: "\e929"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

.task-calendar #layout #layout-content > .header a.button.create::before {
	content: "\e929"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

.menu a.edit::before {
	content: "\e95c"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

.menu a.showurl::before {
	content: "\e91c"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

.menu a.settings::before {
	content: "\e926"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

.menu a.import::before, .menu a.upload::before {
	content: "\e95f"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

.menu a.export::before, .menu a.export.all::before, .menu a.export.selection::before {
	content: "\e90d"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

.mel-cal-icon
{
    margin-right:15px;
}

.mel-calendar-col
{
    white-space: nowrap;
}

.mel-calendar-right-element
{
    display: inline-block;
    max-width: 100%;
}

.mel-calendar-left-element
{
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

.mel-ellipsis{

    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    
}

a.mel-calendar-button
{
    text-decoration: none;
    transition: all 0.1s ease-in;
    border-radius: 50px;
    width: -moz-fit-content;
    width: fit-content;
    /* padding: 5px 5px!important; */
    /* padding: 5px 10px; */
}

button.mel-calendar-button
{
    transition: all 0.1s ease-in;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right:10px!important;
    margin-left:0!important;
}

button.mel-calendar-button > .inner
{
    display: block;
    font-size: small;
    margin-top: 9px;
}

.mel-calendar-button-sm{
    padding: 5px 5px!important;
}

button.mel-calendar-button:hover,
a.mel-calendar-button:hover
{
    color: white!important;
    background-color: #484D7A;
    border-color: #484D7A;
}

button.mel-calendar-button.danger:hover,
a.mel-calendar-button.danger:hover
{
    background-color: #fc945a;
    border-color: #fc945a;
}

button.mel-calendar-button:hover{
    border-radius: 10px;
}

a.mel-calendar-button:hover > span
{
    color:white!important;
}

.calendar-show-event.modal-footer.global-modal-footer {
	border-top-style: solid;
	border-top-width: 1.6px;
	border-color: #B1B4C6;
	margin: 0 3rem;
}

html.layout-phone .task-calendar #layout-content,
html.layout-small .task-calendar #layout-content
{
    max-width: calc(100% - 60px);
}

html.layout-phone.framed .task-calendar #layout-content,
html.layout-small.framed .task-calendar #layout-content
{
    max-width: 100%;
}

html.layout-phone .toolbar-calendar,
html.layout-small .toolbar-calendar
{
    display: none;
}

html.layout-large .small-toolbar-calendar,
html.layout-normal .small-toolbar-calendar
{
    display: none;
}

.task-calendar #layout > #layout-content > .header .header-title span
{
    color:white;
}

.input-group.icalendar input
{
    border-radius: 0 !important;
}

.input-group.icalendar .mel-button
{
    border-radius: 0 !important;
}

html .task-calendar .ui-dialog .ui-datepicker-header,
html .task-calendar .ui-dialog .ui-datepicker,
.ui-dialog #datepicker {
	background-color: white !important;
}

html body.task-calendar .ui-dialog .ui-datepicker-inline .ui-datepicker-activerange
{
    background-color:#F2FAF9 !important;
}

.layout-small body.task-calendar select.mel-input.calendar,
.layout-phone body.task-calendar select.mel-input.calendar
{
    border-radius: 0!important;
    margin:0;
}

.task-calendar .ui-datepicker .ui-state-highlight, 
.task-calendar .ui-datepicker.ui-widget-content .ui-state-highlight {
	background-color: #454F98 !important;
}

.menu a.print::before {
	content: "\e965";
    font-weight: normal!important;
    font-family: DWP!important;
}

.task-calendar .listing li > div a.quickview::before {
	content: "\e961";
    font-family: DWP!important;
}

.task-calendar .listing li > div.focusview a.quickview::before {
	content: "\e962";
}

.menu a.download::before, 
.menu a.download.eml::before, 
.menu a.download.maildir::before, 
.menu a.download.mbox::before {
	content: "\e90d"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

.menu a.copy::before {
	content: "\e90a";
    font-family: DWP!important;
    font-weight: normal!important;
}

.virtual > div > .custom-control {
    /* display: none; */
    opacity: 0;
    margin-right: -50px!important;
}

.virtual > .calname::before {
    margin-left: -16px!important;
}