.span-mel.t1 {
	font-size: large;
	margin-top: 30px;
	display: block;
	margin-bottom: 15px;
	width:100%
}
legend.span-mel.t1 {
	font-size: large;
	padding-top: 30px;
	display: block;
	margin-bottom: 15px;
	margin-top:0;
	width:100%
}

.span-mel.t1.first {
	font-size: large;
	margin-top: 15px;
}

.span-mel.t1.low-margins {
	margin-top: 5px;
	display: block;
	margin-bottom: 10px;
}

.span-mel.t2 {
	font-size: medium;
	display: block;
	margin-bottom: 5px;
}

.span-mel.t2.margin {
	margin-top: 30px;
	margin-bottom: 15px;
}

.form-check.mel-radio-1 {
	padding-left: 0;
}

.mel-radio-1 input[type="checkbox"] {
	display: none;
}

.mel-radio-1 span {
	/* position: absolute; */
	/* top: 0; */
	/* left: 0; */
	width: 50px;
	height: 30px;
	background-color: #F0F0F0;
	border-radius: 60px;
	border-style: solid;
	border-width: thin;
	cursor: pointer;
	display: inline-block;
	position: relative;
    margin-right: 15px;
    transition: all 0.1s ease-in;
}

.mel-radio-1.radio-small span {
	width: 25px;
	height: 15px;
	width: 25px;
	height: 15px;
	margin-right: 10px;
	/* margin-left: 10px; */
	margin-top: 9px;
}

.mel-radio-1 input[type="checkbox"]:checked + label span
{
    background-color:#484D7A
}

.mel-radio-1 input[type="checkbox"] + label span:before {
	content: "";
	background-color: white;
	position: absolute;
	top: -1px;
	left: -1px;
	height: 30px;
	width: 30px;
	border-radius: 100%;
	border-style: solid;
	border-width: thin;
    transition: all 0.1s ease-in;
}

.mel-radio-1 input[type="checkbox"]:checked + label span:before {
	content: "";
	top: -1px;
	right: -1px;
    left:unset;
}

.mel-radio-1.radio-small input[type="checkbox"] + label span:before {
	height: 15px;
	width: 15px;
}

.mel-radio-1 text {
	vertical-align: top;
	margin-top: 6px;
	display: inline-block;
}

#listview-float-right #list-contacts .listsearchbox input,
#edit-alarm-item,
#edit-attendees-comment,
#edit-attendee-name,
#edit-identities-list,
.edit-attendee-role,
textarea.input-mel,
.fake-input.input-mel,
select.input-mel,
input.input-mel {
	border-radius: 60px;
	background-color: #F0F0F0;
	border-color: #F0F0F0;
}

#wspf.form-control.input-mel,
.mel-input-container.form-control.input-mel
{
	border-color: #F0F0F0;
	background-color: #F0F0F0;
	border-top-left-radius: 60px !important;
	border-bottom-left-radius: 60px !important;
}

input.input-mel.alternate-background{
	border-color: white;
	background-color: white;
}

.mel-input-container.form-control.input-mel
{
	border-radius: 60px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
	height: 51px;
	/* background-color: #fbfbfb; */
}

.mel-input-container.form-control.input-mel input,
.mel-input-container.form-control.input-mel .menu
{
	border:none;
}

.mel-input-container.form-control.input-mel input
{
	border-radius: 60px;
	margin: 0 5px;
}

.input-group-append > .input-group-text.mel-text,
.input-group-append > .input-group-text.mel-text-center
{
	cursor: pointer;
}

.input-group-append > .input-group-text.mel-text-center {
	background-color: #F0F0F0;
	border-color: #F0F0F0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.input-group-append > .input-group-text.mel-text
{
	background-color: #F0F0F0;
	border-color: #F0F0F0;
	border-bottom-right-radius: 60px;
	border-top-right-radius: 60px;
}

.input-group-append > .input-group-text.mel-text-center:hover,
.input-group-append > .input-group-text.mel-text:hover
{
	background-color: #484D7A;
	border-color: #484D7A;
	color:white;
}

.input-group .form-control.input-mel.mel-input-container:not(:last-child) {
	border-top-right-radius: 0!important;
   border-bottom-right-radius: 0!important;
 }

#edit-alarm-item:focus,
#edit-attendees-comment:focus,
#edit-attendee-name:focus,
#edit-identities-list:focus,
.edit-attendee-role:focus,
textarea.input-mel:focus,
select.input-mel:focus,
input.input-mel:focus {
	background-color: #F0F0F0;
	border-color: #484D7A;
	box-shadow: 0 0 0 .2rem #C8CDFC59;
}

input.input-mel.alternate-background:focus{
	background-color: white;
}

#edit-alarm-item,
select.input-mel{
	cursor: pointer;
}
.input-mel.custom-file-input + .custom-file-label {
	border-radius: 60px;
	background-color: white;
	border-color: #4A4D6B;
	padding-right: 0px;
	width: 30%;
}

.input-mel.larger.custom-file-input + .custom-file-label
{
	padding-right: 56px;
	width: 44%;
}

.input-mel.custom-file-input + .custom-file-label::after {
	background-color: white; 
	border-left: none;
}
.input-mel.custom-file-input:focus ~ .custom-file-label {
	border-color: #484D7A;
	box-shadow: 0 0 0 .2rem #C8CDFC59;
}
.input-mel.custom-file-input ~ .custom-file-label[data-browse]::after {
	content: "\e90d";
	font-family: "DWP";
}
#edit-attendees-comment,
textarea.input-mel{
	border-radius: 5px;
}
#eventedit .alarms-input .edit-alarm-type
{
	border-radius: 60px;
}

.datetime .input-mel {
	width: 90% !important;
}

/* .input-mel.input-mel-datetime::after {
	content: "\eecd";
} */

.input-mel-datetime
{
	position: relative;
}

.input-mel-datetime::after {
	content: "\e901";
	font-family: "DWP";
	font-size: 22px;
	position: absolute;
	top: 0;
	right: 0;
}

.datetime .input-mel-datetime::after
{
	top: 0;
	right: 45px;
}

#eventedit .form-check.mel-radio-1 {
	margin-left: 5px;
}

#eventedit
{
	margin: 0 30px;
}

html.layout-small #eventedit,
html.layout-phone #eventedit {
  margin: 0 10px;
  }  

#eventedit .have-options #edit-alarm-item {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;  

}

#eventedit #edit-alarm-item {
   /* border-bottom-right-radius: 60px;
   border-top-right-radius: 60px;  */
   height: 100%;
}



.iframe #eventedit .alarms-input .input-group-text {
	border-color: #F0F0F0;
	background-color: #F0F0F0;
	border-bottom-right-radius: 60px !important;
	border-top-right-radius: 60px !important;
}

.iframe #eventedit .alarms-input .input-group-text:hover {
	background-color: #484D7A;
	color: white;
	border-color: #484D7A;
}

#eventedit .edit-alarm-value,
#eventedit .edit-alarm-offset,
#eventedit .edit-alarm-related 
{
	border-color: #F0F0F0;
	background-color: #F0F0F0;
	margin-left: 0;
}

#eventedit .edit-alarm-value:focus,
#eventedit .edit-alarm-offset:focus,
#eventedit .edit-alarm-related:focus
{
	border-color: #F0F0F0;
	background-color: #F0F0F0;
	box-shadow: 0 0 0 .2rem #C8CDFC59;
}

.iframe #eventedit .edit-alarm-value,
.iframe #eventedit .edit-alarm-offset,
.iframe #eventedit .edit-alarm-related 
{
	width: max-content;
	border-color: #F0F0F0;
	background-color: #F0F0F0;
}

.iframe #eventedit .edit-alarm-value:focus,
.iframe #eventedit .edit-alarm-offset:focus,
.iframe #eventedit .edit-alarm-related:focus
{
	/* border-color: #F0F0F0;
	background-color: #F0F0F0; */
	box-shadow: 0 0 0 .2rem #C8CDFC59;
}

#edit-identities-list,
.input-mel.file.custom-file-input,
.iframe #eventedit .edit-alarm-offset,
.iframe #eventedit .edit-alarm-related 
{
	cursor: pointer;
}

#eventedit .edit-attendee-role.form-control.custom-select.pretty-select {
	cursor: pointer;
}

#eventedit .edit-attendee-role.form-control.custom-select.pretty-select[disabled="true"] {
	cursor: unset;
}

#edit-alarm-item,
select.input-mel.custom-select
{
	background-image: url("../fonts/mel_icons/Chevron_down.svg");
}

html.dark-mode-custom #edit-alarm-item,
html.dark-mode-custom select.input-mel.custom-select {
	background-image: url("../fonts/mel_icons/Chevron_down_dark.svg");
}

a.button.icon.discard::before, button.btn.discard::before, a.button.icon.delete::before, button.btn.delete::before
{
	font-family: "DWP";
	content: "\e934";
}

.alarms-input .edit-alarm-buttons a.add::before
{
	font-family: "DWP";
	content: "\e929"!important;	
}

.edit-attendees-table th.invite label::before
{
	content: "\e91e"!important;
	font-family: "DWP"!important;
}

textarea.input-mel.error,
select.input-mel.error,
input.input-mel.error {
	border-color: red;
}

.span-mel.t1.error
{
	color:red;
}

.custom-select:disabled
{
	pointer-events: none;
}

#edit-recurrence-frequency
{
	display: none;
}

.mel-input-container .hidden-input-inside
{
	margin-top:4px;
}

.mel-input-container .hidden-input-inside a.added-item
{
	font-size: 21px;
	margin-top: 5px;
	display: block;
	text-align: center;
}

.mel-input-container.form-control.input-mel.sm{
	height: 40px;
}

.mel-input-container.form-control.input-mel.sm .hidden-input-inside
{
	margin-top:-3px;
}

#edit-attendees-donotify
{
	/* display: none; */
}

#eventedit
{
	height: unset;
}

#eventedit ul
{
	position: sticky;
	top: -15px;
	margin: -15px -2px 1rem;
	z-index: 5;
	background-color: white;
} 

.action-dialog-ui #eventedit ul
{
	top:0px;
}

#eventedit li.nav-item{
	margin-right: 15px;
}

#eventedit li.nav-item a
{
  font-size: 18px;
  background-color:#DBDBDB;
  color:#3A3E5E;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border:0px;
  /* margin-right: 15px; */
  /* width: 50%; */
}

#eventedit li.nav-item a:hover
{
  background-color:#F0F0F0;
  color:#3A3E5E;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border:0px;
}

#eventedit li.nav-item a.active
{
  background-color:#F0F0F0;
  color:#3A3E5E;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border:0px;
}

/* #eventedit li.nav-item a{
	background-color: transparent;
	border:none;
} */
#taskedit ul.nav.nav-tabs{
	display: none!important;
}

@media screen and (max-width:492px) {

	#eventedit .nav-link{
		color:transparent!important;
	}

	#eventedit .nav-link[href="#event-panel-summary"],
	#eventedit .nav-link[href="#event-panel-detail"]
	{
		width: 3em!important;
	}

	#eventedit .nav-link::before{
		color:#3A3E5E;
	}

	#eventedit .nav-link[href="#event-panel-summary"]::before
	{
		content: "\e923"!important; /*e929*/
		font-family: DWP!important;
	}

	#eventedit .nav-link[href="#event-panel-detail"]::before
	{
		content: "\e929"!important;
		font-family: DWP!important;
		margin-left: 3px;
	}
}

#mailsearchform {
  box-shadow: none;
}

.mel-input.search-like{
	background-color:white;
	border-color: #424665;
}

.custom-switch .custom-control-label::before {
	/* border-color: black; */
	background-color: #e8e8e8;
  border: none;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
	/* border-color: black; */
	background-color: #484D7A;
  border: none;
}

.inverted .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #363A5B;
}

.selected .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
	/* border-color: black; */
	background-color: #363A5B ;
  border: none;
}

html.dark-mode  .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  border: 1px solid;
}

html.dark-mode .custom-switch .custom-control-label::before {
  border: 1px solid;
}

.inverted .selected .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #484D7A ;
}

.custom-switch .custom-control-label::after
{
	border-style: solid;
	border-width: thin;
	/* border-color: black; */
  border: none;
	background-color:white;
	left: 5px;
	top: 6px;
	width: 12px;
	height: 12px;
}

.custom-switch .custom-control-label::before {
  left: 2px;
  width: 32px;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(14px);
}

.custom-switch .custom-control-label {
  margin-right: 6px;
}
.datetime input.input-mel.small-input
{
	width: 10em !important;
}

.ui-slider {
	border-color: black;
}

.ui-slider .ui-slider-range
{
	background-color: #484D7A;
}

.ui-slider .ui-slider-handle {
	border-radius: 100%;
	background-color: #F0F0F0;
}

.ui-slider .ui-slider-handle.ui-state-active {
	border-color: black;
	background-color: #484D7A;
}

#calendars-content .custom-switch .custom-control-label::after
{
	border:none;
	background-color: transparent!important;
}

.input-group .input-group-prepend .form-control.input-mel {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group-text.mel {
	border-top-left-radius: 60px;
	border-bottom-left-radius: 60px;
	border-right: none;
	background-color: #F0F0F0;
	border-color: #F0F0F0;
}

/* .form-floating > .form-control.input-mel {
	height: calc(1.5em + .75rem + 10px);
} */

.form-floating.pixel-correction{
	margin-bottom: -35px;
	margin-top:13px;
}

.form-floating > label {
    bottom: 34px;
    left: 8px;
    position: relative;
    /* background-color: white; */
    padding: 5px;
    font-size: 1.1em;
    transition: 0.1s;
    pointer-events: none;
    font-weight: 500 !important;
    transform-origin: bottom left;
}

.form-floating > .form-control:focus~label,
.form-floating.floating-focus > label{
    transform: translate(1px,-85%) scale(0.80);
    opacity: .8;
	font-style: italic;
    /* color: #005ebf; */
}

.form-floating > .form-control:valid~label, 
.form-floating.floating-not-empty > label{
    transform-origin: bottom left;
    transform: translate(1px,-85%) scale(0.80);
    opacity: .8;
}

