.mel-icon::before
{
    content: "";
    /* background: url("../fonts/mel_icons/Dashboard.svg"); */
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 18px;
    height: 17px;
    position: absolute;
    top: 0;
    right: 0; 
    transition: all 0.1s ease-in;
}

.mel-icon.mel-white::before,
.mel-hoverable-icon:hover .mel-icon::before,
.mel-hoverable-icon.mel-icon:hover::before
{
    filter: brightness(6);
}

/* .mel-hoverable-icon:hover .mel-icon.mel-white::before,
.mel-hoverable-icon.mel-icon.mel-white:hover:before
{
    filter:unset;
} */

.mel-hoverable-icon.mel-yellow:hover .mel-icon::before,
.mel-hoverable-icon.mel-yellow.mel-icon:hover::before
{
    filter:brightness(3.5) hue-rotate(160deg)
}

.mel-icon.icon-align::before
{
    /* top: -1px; */
    right: -16px;
}

.jitsi-select .mel-icon::before
{
    width: 12px;
    top: 5px;
    right: 2px;
}

.mel-icon.mel-icon-inline::before {
	content: "YO";
	position: relative;
	display: inline-block;
	width: unset;
	height: unset;
	color: transparent;
	background-size: contain;
}

.mel-icon.icon-favorite::before
{
    background-image: url("../fonts/mel_icons/Dashboard.svg");
}

.mel-icon.icon-chevron-down::before
{
    background-image: url("../fonts/mel_icons/Chevron_down.svg");
}

.mel-icon.icon-help::before
{
    background-image: url("../fonts/mel_icons/Help.svg");
}

.mel-icon.icon-plus::before
{
    background-image: url("../fonts/mel_icons/Plus.svg");
}

.mel-icon.icon-plus::before
{
    background-image: url("../fonts/mel_icons/Plus.svg");
}

.mel-icon.icon-workspace::before
{
    background-image: url("../fonts/mel_icons/Workplace.svg");
}

.mel-icon.icon-email::before
{
    background-image: url("../fonts/mel_icons/Workplace.svg");
}