/* #layout>div>.header {
    background-color: white;
    border: none;
} */

body {
    color:#363A5B;
}

body,
button,
input,
optgroup,
select,
textarea,
.popover {
    font-family: Marianne,Roboto,sans-serif;
}

a{
    color:#0476C4;
}

a:hover{
    color:#4F7B9F
}

.mel-clickable {
    cursor: pointer;
}

#message-header .short-header {
    display: flex;
}

#message-header .short-header img.contactphoto {
    margin: 0 1rem 0 0;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

#layout > div > .header,
#layout-sidebar,
#layout-list {
    border: none;
}

#layout-sidebar, #layout-sidebar>.header
{
    background-color: #363A5B !important;
    color:white !important;
}

#layout-list, #layout-list>.header
{
    background-color: #484D7A !important;
    color:#fff !important;
}

#layout .header a.button,
#layout .header a.options,
#layout .header a.select,
#layout .header a.threads,
#layout > div > .header a.button {
    color:#fff;
}

ul.treelist li.selected > div > a,
ul.treelist li.selected > a {
    background-color: #484D7A;
    color:#fff;
}

.listing li.selected, .listing tr.selected td,
.popupmenu .listing li.selected {
    background-color: #2C3054;
    color:#fff;
}

a.button.icon:not(.disabled):focus,
.header a.button.icon:not(.disabled):hover {
    background-color: #484D7A !important;
    color:#fff;
}

.header a.toolbar-button.button.icon:not(.disabled):hover,
.header a.toolbar-button:hover,
.menu a:not(.disabled):focus,
.menu a:not(.disabled):hover {
    background-color: #2C3054 !important;
    color: #fff !important;
}

.listing tbody td, .scroller>.listing li a
{
    color:white;
}

.listing tbody td,
.listing li {
    border: none;
}

ul.listing li ul {
    border-top: none;
}

.listing tbody tr.context-source:not(.selected) > td,
.listing:not(.treelist) li.context-source:not(.selected),
body > #layout > div.sidebar .listing tbody tr.context-source:not(.selected) > td,
body > #layout > div.sidebar .listing:not(.treelist) li.context-source:not(.selected),
body > #layout > div.sidebar ul.treelist li.context-source:not(.selected) > a,
body > #layout > div.sidebar ul.treelist li.context-source:not(.selected) > div > a,
ul.treelist li.context-source:not(.selected) > a,
ul.treelist li.context-source:not(.selected) > div > a {
    background-color: #2C3054 !important;
}

.listing tbody td a {
    color:#fff;
}

/* .messagelist tr.unread > td:first-child,
.messagelist:not(.withselection) tr.unread > td.selection + td {
    border-left: 2px solid #fff !important;
}

.messagelist tr.message td {
    border-bottom: 1px solid #5C5F7B;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
} */

/* .messagelist td.subject span.date,
.messagelist td.subject a,
.messagelist td.subject span.fromto {
    color:#cacfd2;
}

.messagelist td.subject span.msgicon.status::before {
    color:#909497;
} */

.messagelist td.subject {
    flex-wrap: wrap;
}

.messagelist td.labels
{
    flex-basis: 100%;
    border: none!important;
}

.messagelist td.subject span.date {
    font-size: 85%;
    padding-top: 4px;
}

/* .messagelist .unread td.subject span.date,
.messagelist tr.unread td.subject a,
.messagelist .unread td.subject span.fromto,
.messagelist td.subject span.msgicon.status.unread::before {
    font-weight: bold;
    color:#fff;
} */

.messagelist span.attachment span::before {
    font-size: 80%;
    color:#909497;
}

.messagelist span.flagged::before,
.messagelist tr:hover span.unflagged::before {
    font-size: 90%;
}

.messagelist td.subject span {
    line-height: 1.8em;
}

.listing-info {
    color:#fff;
}

.popup > div >div #directorylist > li
{
    background-color: #2C3054;
}
.popup > div >div #directorylist > li:hover
{
    background-color: #484D7A;
}
.popup > div >div #directorylist > li > a:hover
{
    background-color:transparent;
}

#contacts-table > tbody > tr >td.contactgroup,
#contacts-table > tbody > tr >td.contact
{
    background-color: #2C3054;
}

#contacts-table > tbody > tr >td.contactgroup:hover,
#contacts-table > tbody > tr >td.contact:hover
{
    background-color: #484D7A;
}

#contacts-table > tbody > tr.selected >td.contactgroup,
#contacts-table > tbody > tr.selected >td.contact
{
    background-color: #484D7A;
}

#layout #layout-content > .header a.button {
    color: black;
}

/******Calendrier*******/
.listing li > div.folder .listname::before,
.listing li > div span.subscribed::before,
.listing li > div.readonly a:first-child::after,
.listing li.readonly:not(.virtual) > div a:first-child::after,
.listing li > div.calendar .calname::before,
fieldset.categories .input-group a.button.create::before,
.fc button.prev::before,
.fc button.next::before,
.fc .fc-time i::before,
#eventshow .event-partstat .changersvp::before,
.availability span::before,
.calendar-scheduler .schedule-buttons .next-slot::after,
.resources-dialog .listing li.resource > a::before,
#devices-table td:not(.selection)::before,
#delegate-table td::before,
a.btn.fromcloud::before,
li > a.icon.saveas::before,
a.button.filesaveall::before,
a.button.saveas::before,
.folderlist li.mailbox a.subscription.subscribed::before,
.filelist tr.session > td.name::after,
.filelist tbody td.filename span::before,
.document-editor-header #collaborators a.button.add::before,
.editors-dialog table td.options a.delete::before,
#kolabnoteslist td.title::before,
#taglist li::before,
#tagsform option::before,
.rsvp-status.loading::before,
.rsvp-status.declined::before,
.rsvp-status.tentative::before,
.rsvp-status.accepted::before,
.rsvp-status.delegated::before,
.rsvp-status.needs-action::before,
.attendee::before,
.edit-attendees-table th.invite label::before,
#event-status-badge span::before,
#alarm-display h3::before,
#alarm-display .alarm-actions a::before,
.listing li > div.tasklist .listname::before,
#tasklist .childtoggle::before,
#tasklist .taskhead:not(.flagged):hover span.flagged::before,
#tasklist .taskhead.flagged span.flagged::before,
#taskshow.status-flagged h2::before {
    font-size: 1em !important;
}

div.calendar-invitebox .rsvp-status {
	font-weight: bold;
}

.listing li > div.calendar .calname::before {
    opacity: 0.7;
}

.listing li > div.readonly a:first-child::after,
.listing li.readonly:not(.virtual) > div a:first-child::after {
    font-size: .8em !important;
    background-color: transparent !important;
    color: #80D5C6 !important;
}

.ui-datepicker select.ui-datepicker-year {
    width: 5em !important;
    margin-left: 15px;
}

.calendar-datepicker .ui-datepicker-header,
.calendar-datepicker .ui-datepicker,
.listing li.selected > div > * {
    background-color: #484D7A !important;
    border: none !important;
}

body.task-calendar .ui-datepicker-inline .ui-datepicker-activerange {
    background-color: #363A5B !important;
}

body.task-calendar .ui-datepicker-inline .ui-datepicker-week-col {
    color: #b3b6b7  !important;
}

#layout-sidebar .ui-datepicker .ui-state-default,
#layout-sidebar .ui-datepicker.ui-widget-content .ui-state-default {
    color: #fff;
}

.ui-datepicker .ui-state-highlight,
.ui-datepicker.ui-widget-content .ui-state-highlight {
    background-color: #2C3054 !important;
    color: #fff !important;
}

.ui-datepicker a.ui-state-active.ui-state-highlight,
.ui-datepicker.ui-widget-content a.ui-state-active.ui-state-highlight,
.ui-datepicker a.ui-state-active {
    background-color: #80D5C6 !important;
    color: #000 !important;
}

.ui-datepicker th {
    padding: .7em 0 !important;
}

.listing li > div a.quickview::before {
    color: #80D5C6 !important;
}

/*** Full Calendar ***/
.fc-event {
    border-width: 1px 7px 1px 1px !important;
    font-size: 12px !important;
}

.fc .fc-event .fc-title {
    font-weight: 400 !important;
    padding: 3px;
}

.fc .fc-event .fc-bg {
    opacity: 0 !important;
}

.fc-event-location {
	padding: 1px 3px;
}

.fc-agenda-divider-inner {
	height: 0 !important;
}

.fc-time-grid-event {
	opacity: 0.8;
}

.fc-time-grid-event .fc-time {
	text-align: center;
}

/******Fin cal*******/

.mel-add{
    display:inline-block;
    width: 107px;
    height: 32px;
    border-radius: 50px;
    background-color: #363A5B;
    color: white;
    padding: 5px 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in;
    float:right;
    font-size: 1rem;
    font-weight: initial;
}

.mel-add:hover
{
    background-color: #484D7A;
}


.mel-add >span>.plus
{
    position: absolute;
    top: 3px;
    right: -43px;
}

.mel-add.left{
    float: left;
}

select.mel-select.form-control{
    border-radius: 60px;
    background-color: #F0F0F0;
    border: none;
    color:#363A5B;
}

separate {
    border-top-color: #5C5F7B;
    border-top-style: solid;
    border-top-width: thin;
    margin: 20px 30px;
}









/*************************/
.task-addressbook>#layout #layout-sidebar>.header,
.task-addressbook>#layout #layout-list>.header
{
	height: 120px;
}

.searchgroup > center > span,
.filtergroup > center > span
{
    font-size: larger;
}


.task-addressbook .searchbar form:before {
    content: none;
}


.task-addressbook.action-plugin-annuaire .searchbar form:after
{
    content: none!important;
}

.task-addressbook .searchbar{
    border:none!important;
}

.task-addressbook .searchbar:after {
    content: "\f002";
    height: 36px;
    color: #363A5B;
	margin: 0 .75rem 0 0;

	font-size: 1.25em;
    display: block;
    float: left;
    width: 1.18em;
    font-family: 'Icons';
    font-style: normal;
    font-weight: 900;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.filtergroup > .row{
	margin-top: -11px;
}

.filtergroup > .row > div > select{
	border-radius: 60px;
}

.task-addressbook .searchbar
{
	border-radius: 60px;
}

.task-addressbook .button.reset
{
	display:block!important;
    color: #363A5B!important;
}

.task-addressbook .button.reset:hover
{
    color: white!important;
}

.task-addressbook .button.options
{
    color: #363A5B!important;
}

.task-addressbook .button.options:hover
{
    color: white!important;
}

#tasklist li.taskitem div.taskhead.selected
{
    background-color:#2C3054!important;
}

li.mel >a:before,
li#settingstabpluginmel_doubleauth > a::before,
li#settingstabpluginmel_suggestion_box > a::before
{
    content: " ";
}

#settingstabpluginmel_resources,
#settingstabpluginmel_statistics,
.noselect
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#settingstabpluginmel_resources > a::before
{
    font-family: 'IcoFont';
    content: "\eaa0";
}

#settingstabpluginmel_resources._selected > a::before
{
    font-family: 'IcoFont';
    content: "\ea99";
}

#settingstabpluginmel_statistics > a::before
{
    font-family: 'IcoFont';
    content: "\eaa0";
}

#settingstabpluginmel_statistics._selected > a::before
{
    font-family: 'IcoFont';
    content: "\ea99";
}

.menu.pagenav.pagenav-list+.navlist
{
    background-color: #363A5B;
}

#tasklist li.taskitem div.taskhead.complete span.title
{
    color: white!important;
}


#showcontacts::before
{
  vertical-align: sub;
  margin: 0!important;
}

/* .task-addressbook
{
    margin-top: 60px;
} */

/* .task-addressbook>#layout>div>.footer.small
{
    position: absolute;
    bottom: 60px;
    width: 100%;
} */

framed_item > .framed_item{
    padding:15px;
}

.row.separate,
.btn.separate,
.mel_separate
{
    margin-top:5px;
}

/*roundbadges*/

.roundbadge{
    display: inline-block;
    height: 12px;
    width: 12px;
    line-height: 12px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
    font-size: 6px;
}

.roundbadge.no-weight{
    font-weight: normal;
}

.roundbadge.large
{
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: initial;
}

.roundbadge.clear
{
  background-color: #F0F0F0;
}

.roundbadge.dark
{
  background-color: #363A5B;
}

.roundbadge.setalign
{
  top: -1px;
  left: -6px;
  position: absolute;
}

.roundbadge.warning{
  background-color: #FC945A;
}

.roundbadge.danger{
    background-color: #ff5552;
}

.roundbadge.royal{
    background-color:#FDCF42;
}

.roundbadge.lightgreen,
.roundbadge.hover.tick:hover
{
  background-color: #80D5C6;
}

.roundbadge.hover.tick
{
  cursor: pointer;
}

.roundbadge.hover.tick:hover:before{
  content: "\eed8"!important;
}

.roundbadge.menu
{
    /* -moz-transform: translateY(15px); */
    top: -5px;
    position: absolute;
    height: 15px;
    width: 15px;
    line-height: 16px;
    font-size: 8px;
    color: #2C3054;
    left: -10px;
}

a.roundbadge.link{
    color:white;
    text-decoration: none;
    font-weight: normal;
}

a.roundbadge.link:hover{
    background-color: #484D7A;
}

#taskmenu a.selected > sup > span,
#taskmenu a:hover > sup > span,
#taskmenu a.selected:hover > sup > span,
#taskmenu .action-buttons a:hover > sup > span
{
    color:#484D7A;
}

.task-error-login > #layout > #layout-content{
    margin-top:60px;
}

.menu a.icofont-plus-circle:before
{
    content: "\efc0"!important;
    font-family: "IcoFont"!important;
}

.menu a.icofont-question-circle:before
{
    content: "\efca"!important;
    font-family: "IcoFont"!important;
}

.menu a.icofont-favourite:before
{
    content: "\ef25"!important;
    font-family: "IcoFont"!important;
}

.menu a.icofont-search:before
{
    content: "\ed1b"!important;
    font-family: "IcoFont"!important;
}

.restore-font{
    font-family: Roboto,sans-serif;
}

#button-back-adressbook,
#button-back-adressbook2
{
    position: absolute;
    left: 5px;
}

#button-back-adressbook:hover
{
    color:#2C3054!important;
}

#button-back-adressbook2:hover{
    color:#484D7A !important;
    background-color: transparent!important;
}

html.layout-small .floating-action-buttons
{
    top:0px;
}

html.layout-small .floating-action-buttons > a
{
    background-color: transparent;
    box-shadow: none;
    transition: all 0.1s ease-in;
}

html.layout-small .floating-action-buttons > a:hover
{
    color:#2C3054!important;
    background-color: #484D7A !important;
}

body.task-mail .floating-action-buttons
{
    display: none;
}

.red-star::before,
.red-star-after::after {
    content: "*";
    color:red;
}

.red-star.mel-before-remover
{
    color:red;
}

.mel-return{
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.mel-return:hover {
    color:#ff5552;
}

.dwp-round{
    width: 64px;
    height: 64px;
    background-color: #80D5C6;
    display: block;
    border-radius: 100%;
    text-align: center;
    color: inherit!important;
    text-decoration: none!important;
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1.0), white);
}

.dwp-round > span
{
    line-height: 64px;
    font-size: x-large;
}

.dwp-round > img
{
    height: 100%;
}

img.menu-image {
    width: 30px;
    /* max-height: 30px; */
    margin-left: -26px;
    margin-right: 15px;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
}
.folderlist li.mailbox .unreadcount {
    background: #80D5C6;
    color: #484D7A;
    font-size: 0.9rem;
    border-radius: 5rem;
}

.folderlist li.boite > a::before {
    content: "\f01c";
    font-weight: 900;
}

ul.folderlist.treelist li ul li a {
    padding-left: 1.5em;
}

ul.folderlist.treelist li ul li div.treetoggle {
    left: 0;
}

ul.folderlist.treelist li ul li li a {
    padding-left: 3em;
}

ul.folderlist.treelist li ul li li div.treetoggle {
    left: 1.5em;
}

ul.folderlist.treelist li ul li li li a {
    padding-left: 4.5em;
}

ul.folderlist.treelist li ul li li li div.treetoggle {
    left: 3em;
}

ul.folderlist.treelist li ul li li li li a {
    padding-left: 6em;
}

ul.folderlist.treelist li ul li li li li div.treetoggle {
    left: 4.5em;
}

ul.folderlist.treelist li ul li li li li li a {
    padding-left: 7.5em;
}

ul.folderlist.treelist li ul li li li li li div.treetoggle {
    left: 6em;
}

.listing li > a.virtual.boite,
.listing li.virtual.boite > a,
.listing li > a.virtual.inbox,
.listing li.virtual.inbox > a,
.listing li > a.virtual.drafts,
.listing li.virtual.drafts > a,
.listing li > a.virtual.models,
.listing li.virtual.models > a,
.listing li > a.virtual.sent,
.listing li.virtual.sent > a,
.listing li > a.virtual.junk,
.listing li.virtual.junk > a,
.listing li > a.virtual.trash,
.listing li.virtual.trash > a,
.listing li > a.virtual.dossier,
.listing li.virtual.dossier > a {
    opacity: .9;
}

html:not(.touch) .listing li > a:focus, html:not(.touch) .listing.focus tbody tr.focused > td:first-child,
html:not(.touch) .listing.focus:not(.withselection) tbody tr.focused > td.selection + td {
    border-left: 2px solid #80D5C6 !important;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #80D5C6;
    background-color: #80D5C6;
}

.form-control:focus {
    border-color: #80D5C6;
    box-shadow: 0 0 0 .2rem rgba(128, 213, 198,0.25);
}

.btn-primary {
    color: #484D7A;
    background: #80D5C6;
    border-color: #80D5C6;
}

.btn-primary:hover {
    color: #484D7A;
    background: #8FE4D5;
    border-color: #8FE4D5;
}

table.listing td.subscribed {
    width: 30px;
    padding: 3px 12px 3px 3px;
    text-align: right;
}

.card-header-disabled
{
    display:none;
}

.mel-search-group > input,
.mel-search
{
    border-right: none;
    border-color: #424665;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.mel-search
{
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.mel-search-group > .input-group-append > .input-group-text{
    background-color: white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-color: #424665;
}

.mel-max-width-500
{
    max-width: 500px;
}

.mel-centered{
    justify-content: center;
}

.mel-tabheader{
    font-size: larger;
    white-space: nowrap;
    border-color:transparent!important;
    border-right-style: solid!important;
    border-width: 1px!important;
    border-right-color: black!important;
    border-radius: 0px!important;
}

.mel-tabheader.last
{
    border: none!important;
}

.mel-tab{
    cursor: pointer;
    padding: 0 15px;
    display: inline-block;
}

button.btn.mel-tab
{
    background-color: transparent!important;
    /* border-color:transparent!important; */
    color:#363A5B!important;
}

.mel-tab:hover,
.mel-tab.active,
button.btn.mel-tab:hover,
button.btn.mel-tab.active,
button.btn.mel-tab:active
{
    color:#5069BC!important;
    text-decoration: underline;
}

.mel-tab.active{
    cursor: initial;
}

div{

    scrollbar-width: thin;
    scrollbar-color: #363A5B #A3A7BC;

}

 /* width */
 ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #A3A7BC;
    border-radius: 15px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #363A5B;
    border-radius: 15px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #070B2D;
  }

.mel-selected-content-button
{
    border-radius: 0;
    min-width: 50px;
}

td.mel-fit-content{
    max-width: min-content;
    max-width: -moz-min-content;
}

.mel-button{
    color: white;
    background-color: #363A5B;
    border-color: #363A5B;
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 50px;
    padding: 5px 10px;
    margin-top: 15px;
    transition: all 0.1s ease-in;
    cursor: pointer;
    /* font-size: small; */
}

.ignoreActive.mel-button{
    color: white!important;
    background-color: #363A5B!important;
    border-color: #363A5B!important;
}

.mel-button.inverse
{
    border-color: #484D7A;
    background-color: #484D7A;
}

.ignoreActive.mel-button.inverse
{
    border-color: #484D7A!important;
    background-color: #484D7A!important;
}

.mel-button.inverse:hover
{
    background-color: #363A5B;
    border-color: #363A5B;
}

.ignoreActive.mel-button.inverse:hover
{
    background-color: #363A5B!important;
    border-color: #363A5B!important;
}

.mel-button.white{
    background-color: white;
    color: unset;
    border-style: solid;
    border-width: thin;
    border-color: #363A5B;
}
.mel-button.white:hover{
    color: white;
}

.mel-button.bckg{
    background-color: transparent;
    color: unset;
    border-style: solid;
    border-width: thin;
    border-color: #363A5B;
}
.mel-button.bckg:hover{
    color: white;
}

.mel-button.btn-danger{
    background-color: #fc945a;
    border-color: #fc945a;
}

.mel-button.btn-success{
    background-color: #03a889;
    border-color: #03a889;
}

.mel-button:hover
{
    background-color: #484D7A;
    border-color: #484D7A;
}

.ignoreActive.mel-button:hover
{
    background-color: #484D7A!important;
    border-color: #484D7A!important;
}

.mel-button:hover > .mel-return
{
    color:#ff5552;
}

.mel-button.button-white:hover
{
    color:white;
}

.mel-button.disabled{
    color: white;
    background-color: #73778e !important;
    border-color: #73778e !important;
    pointer-events: none;
}

.mel-button.no-button-margin
{
    margin-top:0;
}

.square_div > .contents
{
  background-color:#F0F0F0;
  height:230px;
  border-radius: 5px;
}

.square_div > .contents.DARK
{
  background-color:#484D7A;
  color:#E6E7ED;
}

.square-contents
{
    padding:30px;
}
.mm-agenda-icon
{
    font-size: x-large;
    position: relative;
}

.absolute-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.btn.mel-ui-button
{
    background-color: #363a5b;
    color: white;
    border-color: #363a5b;
}


.btn.mel-ui-button:hover
{
    background-color: #484D7A;
    border-color: #484D7A;
}

.btn.mel-ui-button.disabled
{
    background-color: #a3a7bc;
    border-color: #a3a7bc;
}

.webconf-myday
{
    text-align: center;
}

span.span-webconf
{
    display:block;
    font-size: 10px;
/* padding-right: 3px; */
}

.task-mail.action-compose #layout-sidebar
{
    margin-left: 0px!important;
}

a.button.icon.attach::before, button.btn.attach::before {
	content: "\e91c";
	font-family: DWP;
	font-weight: normal;
	font-size: unset;
}
.mel-list
{
    background-color:#363A5B;
}
.mel-list li{
    background-color: transparent;
	color: white;
    padding: 0 1.25rem;
}

.mel-list .mel-list-item.mel-item-7 {
	background-color: #363A5B;
}

.mel-list .mel-list-item:hover {
	background-color: #A1AAFF30;
}

.mel-list li.selected
{
    background-color: #484D7A!important;
}

.mel-list li .mel-text {
	margin-left: 15px;
	width: 100%;
	display: inline-block;
    padding: .75rem 0;
}

.mel-list li .mel-item-icon{
    position: absolute;
    top: 14px;
    left: 10px;
}

.mel-list.mel-tree .mel-list-item:hover > .mel-text
{
    text-decoration: underline;
}

.mel-loading {
	animation: spin 0.75s linear infinite;
	display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
  }


.mel-before-remover::before,
.mel-child-form-before-remover > form:before
{
    content: none!important;
}
.mel-after-remover::after
{
    content: none!important;
}

.mel-hover:hover
{
    box-shadow: 0 0 0 .2rem #484D7A69;
    border-radius: 15px;
}

.mel-hover:hover:focus
{
    border-radius: initial;
}

.mel-focus:focus,
.mel-focus.focused,
.input-child-mel-focus input:focus,
.a-child-mel-focus a:focus,
.mel-button:focus
{
    box-shadow: 0 0 0 .2rem #484D7A69;
}

.mel-focus.light-focus:focus,
a.filename:focus
{
    box-shadow: 0 0 0 .2rem #FFFFFF69;
}

.mel-focus.focus-bordered:focus {
	/* box-shadow: 0 0 0px 80px #484D7A69; */
	border: solid;
	box-shadow: none;
	border-width: thin;
	border-color: #484D7A;
	/* color: #484D7A; */
}

.mel-focus.focus-text:focus
{
    box-shadow: none;
    text-shadow: 0 0 .2rem #484D7A;
}

.mel-focus.focus-background:focus
{
    box-shadow: none;
    background: radial-gradient(circle, transparent 20%, #484D7A4F 26%, rgba(255,255,255,0) 28%);
    background-repeat: no-repeat;
}

.mel-not-link{
    color:#363A5B
}

.mel-not-link.color-white
{
     color:white;
}

.mel-not-link:hover
{
    text-decoration: none;
}

.mel-not-link.color-white:hover
{
    color:white;
}

.mel-not-link.link-like-hover:hover
{
    text-decoration: underline;
}

main {
	display: flex;
	height: 100%;
	width: 100%;
}

.sr-only-focusable.mel-rapid-link:focus
{
    position: absolute;
    top:0;
    z-index: 9999999;
    background-color: #F8F8F8;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-arrow {
	/* font-size: x-large; */
    cursor: pointer;
    transition: all 0.1s ease-in;
}

button.btn.btn-arrow
{
    background-color: transparent !important;
    color: #363A5B;
    border-color: transparent !important;
}


.btn-arrow:hover,
button.btn.btn-arrow:hover
{
    color:#484D7A;
}
/* #sr-document-title-focusable:focus{
    background-color: red;
} */

button.btn.no-style{
    color: #363A5B;
    text-align: left;
    background-color: transparent;
    border-color: transparent;
}

button.btn.no-style.full-width{
    width: 100%;
}

button.btn.no-style:hover{
    color: #484D7A;
}

button.btn.no-style:active{
    color: white!important;
    background-color: #484D7A!important;
    border-color: transparent!important;
}

.mel-invisible-background
{
    background-color: transparent!important;
}

/* body.task-mail #toolbar-menu li > .compose
{
    display: block !important;
} */

html.layout-normal body.task-mail.action-compose #layout-sidebar
{
    display: initial !important;
}

/* html body.task-mail.action-show #layout-content .header .back-list-button
{
    display: block!important;
} */

#toolbar-menu a.icon-mel-undo::before
{
    content: "\e936" !important;
    font-family: DWP !important;
}

body.task-mail.action-compose a.filename .attachment-name{
	color: white;
}

html body a.filename .attachment-name {
	color: black;
}

/* #event-attachments a.filename .attachment-name,
#edit-attachments a.filename .attachment-name{
	color: black;
} */


a.filename:hover .attachment-name {
	text-decoration: underline;
}

ul.treelist li.droptarget > a
{
    background-color: #a39bff2e;
}

ul.treelist li.context-source:not(.selected) > a
{
    color:#424564;
}

.ui-dialog {
    border-radius: 1em;
}

.ui-dialog .ui-dialog-titlebar {
    border-radius: 1em;
    border-bottom: none;
}

#mainscreen.box.mel_help-box
{
    display: block !important;
}

tr.elementmoveup > td{
    border-top-style: dotted;
    border-top-color: black;
    /* border-top-width: thin; */
}

body.task-settings.action-plugin-mel_resources_bal #layout-content .header,
html.layout-small body.task-settings.action-plugin-mel_resources_bal #layout-content .header .toolbar-menu-button,
html.layout-small body.task-settings.action-plugin-mel_resources_bal #layout-list .floating-action-buttons .create.button
{
    display: none!important;
}

html.layout-small body.task-settings.action-plugin-mel_resources_bal #layout-content .header
{
    display: initial!important;
}

/**temporaire**/
/* @media screen and (max-width: 1367px){
    html.layout-large body.task-mail #layout-content .header .menu.toolbar a
    {
        font-size: 0.65rem;
        line-height: 2;
    }

    html.layout-large body.task-mail #layout-content .header .menu.toolbar a:before{
        font-size: 1rem;
    }
} */

@media screen and (max-width: 997px){
    body.task-mail #layout-content .header .menu.toolbar a
    {
        font-size: 0.65rem;
        line-height: 2;
    }

    body.task-mail #layout-content .header .menu.toolbar a:before{
        font-size: 1rem;
    }
}

/*********/

body.task-mail .ui-dialog iframe, .ui-dialog .ui-dialog-content.iframe{
    width: 97.9% !important;;
}

/* .element-title{
    /* font-size: 14px; 
    font-weight: bold;
} */
/* 
.element-desc
{
    font-size: 12px;
} */

.ignore-bullet{
    list-style-type: none;
    padding: 0;
}

#compose-contacts #annuaire-list [aria-expanded="true"]{
    /* color:white; */
    background-color: white!important;
    color:#424564!important;
    /* #757575 */
}

html #compose-contacts #annuaire-list .folder > .description{
    color:#757575!important;
}

#compose-contacts #annuaire-list .object:hover{
    background-color: #484D7A !important;
    color:white;
}

#compose-contacts #annuaire-list .person.object.selected
{
    color:white;
}

#compose-contacts #annuaire-list .person.object.added
{
    background-color: #363A5B !important;
    color:white;
}



#annuaire-list [aria-expanded="true"] .folder{
    /* color:white; */
}

#messagestack{
    z-index: 9999;
}

/* #files-compose-dialog
{
    display:none!important;
} */

.mel-animated
{
    transition: all 0.1s ease-in;
}

.element-block
{
    display:block;
}

.btn-mel-invisible.btn-text
{
    background-color: transparent !important;
    color: #363A5B;
    border-color: transparent !important;
    border-radius: 15px!important;
}

.btn-mel-invisible.btn-text:hover{
    color: #484D7A;
}

.upload-form .hint
{
    color:white;
}

#eventshow .event-attendees .attendee {
    display: block;
    margin-bottom: 5px;
}

body.task-settings.action-plugin-managesieve #layout-list .menu.toolbar a
{
    color:white!important;
}

.listing li.disabled, .listing tr.disabled td
{
    color:#ffffff80;
}

form#mel_doubleauth-form{
    overflow: auto;
}

#settingstabresponses {
	display: none;
}

body.task-calendar .popup.ui-dialog-content  #showcontacts
{
    display: none;
}

.hidden-item-mt {
	width: 0;
}

.contextmenu .moved-item-mt
{
    display:none!important;
}

.fc-event.cal-event-status-cancelled div {
	/* text-decoration-style: dashed !important; */
	/* text-rendering: unset; */
	/* font-style: unset; */
	text-decoration: line-through;
}

/* li.parent-close-visu
{
    border-right-style: solid!important;
    border-right-width: thin!important;
    border-right-color: white!important;
} */

.icon-mel::before
{
    font-family: DWP!important;
    font-weight: normal;
}

.icon-mel-send::before
{
    content: "\e954"!important;
}

.icon-mel-videoconference::before
{
    content: "\e938"!important;
}

.icon-mel-plus::before
{
    content: "\e929"!important;
}

.icon-mel-close::before
{
    content: "\e908"!important;
}

a.roadmap::before
{
    content: "\efd8"!important;
    font-family: 'IcoFont'!important;
    font-weight: normal!important;
}

#mel_envoi_differe::before
{
    font-family: IcoFont!important;
    font-weight: normal!important;
    content: "\eedc"!important;
}

.layout-hidden{
    display: none!important;
}

#sections-table tr td {
	width: 100%;
}

div#files-folder-list ul li.selected {
    color: white;
    background-color: #363A5B;
}

.show-on-small
{
    display: none;
}


html.layout-small .show-on-small,
html.layout-phone .show-on-small
{
    display: initial;
}



html.layout-small .hide-on-small,
html.layout-phone .hide-on-small
{
    display: none;
}

#toolbar-list-menu li .compose{
    display: none;
}

.task-mail #toolbar-list-menu li .compose{
    display: unset;
}

.task-addressbook.action-show.formcontainer #layout
{
    display: none;
}

.task-mail .header .attach
{
    display:none;
}

.menu a.folders::before {
	content: "\e951"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

.menu a.source::before {
	content: "\eef0"!important;
    font-family: IcoFont!important;
    font-weight: normal!important;
}

.menu a.move::before {
	content: "\e915"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

.menu a.extwin::before {
	content: "\e910"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

.menu a.calendarlink::before {
	content: "\e901"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

.menu a.tasklistlink::before,
.menu a.taskaddlink::before {
	content: "\e931"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

html .menu a.selection::before {
	content: "\e932"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

.menu a.select.page::before {
	content: "\e91f"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

.menu a.unread::before, 
.menu a.expand.unread::before, 
.menu a.select.unread::before {
	content: "\e91e"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

.menu a.flag::before, 
.menu a.select.flagged::before {
	content: "\e957"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

/***/
.menu a.select.invert::before {
	content: "\e932"!important;
    font-family: DWP!important;
    font-weight: normal!important;
    color: white;
    text-shadow: 0px 0px 1px black;
}

.menu a.select.invert:hover:before {
    color: #2C3054;
    text-shadow: 0px 0px 1px white;
}

.menu a.select.none::before {
	content: "\e908"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

.menu a.logout::before {
	content: "\e967"!important;
    font-family: DWP!important;
    font-weight: normal!important;
}

.task-mail.action-compose #files-compose-dialog
{
    display: none!important;
}

.task-mail.action-compose .popup #files-compose-dialog
{
    display: flex!important;
}

.link-ellipse {
	white-space: nowrap;
	display:inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
 }

 .three-lines,
 .two-lines
 {
    display: -webkit-box;
	-webkit-box-orient: vertical;
	white-space: normal;
 }

.three-lines {
	-webkit-line-clamp: 3;
}

.two-lines {
	-webkit-line-clamp: 3;
}

html.touch .popover-overlay {
	z-index: 1000;
	background-color: rgba(44,54,58,0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

html.layout-small #mailsearchlist a::before,
html.layout-phone #mailsearchlist a::before,
html.layout-small .searchbar a::before,
html.layout-phone .searchbar a::before
{
    height: auto!important;
}

html.layout-phone body.task-mail a.toolbar-list-button,
html.layout-small body.task-mail a.toolbar-list-button
{
    display: inline-block!important;
}

html.layout-phone #mel-added-list-menu,
html.layout-small #mel-added-list-menu
{
    display: none!important;
}

html.touch body.task-mail #layout-sidebar {
	/* width: 100% !important; */
	/* flex: 1 0 100% !important; */
	max-width: 100%;
}

#datepicker-onoff
{
    color:white!important;
}

#datepicker-onoff:hover
{
    background-color: #5870BF !important;
}

#datepicker{
    transition: all 0.1s ease-in;
}

.icon-mel-videoconference::before
{
    font-family: DWP!important;
    content: "\e938"!important;
    font-weight: normal!important;
}

.icon-mel-mail::before
{
    font-family: DWP!important;
    content: "\e91e"!important;
    font-weight: normal!important;
}

.icon-mel-workplace::before
{
    font-family: DWP!important;
    content: "\e93a"!important;
    font-weight: normal!important;
}

.icon-mel-calendar::before
{
    font-family: DWP!important;
    content: "\e901"!important;
    font-weight: normal!important;
}

.icon-mel-survey::before
{
    font-family: DWP!important;
    content: "\e931"!important;
    font-weight: normal!important;
}

.icon-mel-folder::before
{
    font-family: DWP!important;
    content: "\e915"!important;
    font-weight: normal!important;
}

.icon-mel-sondage::before
{
    font-family: DWP!important;
    content: "\e930"!important;
    font-weight: normal!important;
}

#datepicker-onoff:focus
{
    box-shadow: none;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
} 

/* #layout > div > .header,
#layout-content body.action-preview
{
    font-size-adjust: none;
} */

.margin-right-15{
    margin-right: 15px;
}

.task-addressbook ul.treelist.iconized li div.treetoggle {
    top: 0px!important;
}

html.mwsp,
#layout-content.mwsp,
iframe.discussion-frame.mwsp
{
    border-style: solid;
    border-width: thick;
    border-color: #5870BF;
}

iframe.discussion-frame.mwsp
{
    border-style: solid!important;
    border-width: thick!important;
    border-color: #5870BF!important;
    background-color:#5870BF;
}

html.mwsp .task-workspace.action-workspace,
.task-workspace.action-workspace #layout-content.mwsp
{
    margin-bottom: 75px;
    transition: all 0.1s ease-in;
}

iframe.mwsp{
    padding-bottom: 75px;
    transition: all 0.1s ease-in;
}

iframe.discussion-frame.mwsp
{
    padding-bottom: 75px;
    margin-bottom: 0;
}

html.mwsp.moved .task-workspace.action-workspace,
.task-workspace.action-workspace #layout-content.mwsp.moved
{
    margin-bottom: 15px;
}

.mwsp.moved{
    padding-bottom: 15px;
}

iframe.discussion-frame.mwsp.moved{
    padding-bottom: 0;
    margin-bottom: 15px;
}

.mwsp.mwvcs
{
    /* padding-bottom: 0; */
}

body.task-mail.action-none #layout-content {
	border-left: solid #484D7A;
}

.icon-mel-parameters-invert::before{
    font-family: DWP!important;
    content: "\e925"!important;
    font-weight: normal!important;
}

#messagestack .notice.private{
    background-color: #99454d;
}

#messagestack .notice.private .icon::before
{
    font-family: DWP!important;
    content: "\e966"!important;
    font-weight: normal!important;
}

#messagestack .notice.notif{
    background-color: #FDCF42;
}

#messagestack .notice.notif .icon::before
{
    font-family: DWP!important;
    content: "\e964"!important;
    font-weight: normal!important;
}

.amwsp {
	background-color: transparent;
}

.amwsp iframe {
	padding-bottom: 80px;
}

.mwsp .conditionNoSatisfy
{
    display: none!important;
}

.task-mail.action-compose #layout-sidebar .scroller {
    max-height: 92%;
}

.task-mail.action-compose #layout-sidebar .scroller a.button.icon.dropdown,
.task-mail.action-compose #layout-sidebar .scroller a.delete {
    color: white;
    border-radius: 5px;
    transition: all 0.1s ease-in;
    
}

.task-mail.action-compose #layout-sidebar .scroller a.button.icon.dropdown:hover,
.task-mail.action-compose #layout-sidebar .scroller a.delete:hover {
    color: white;
    background-color: #2C3054;
}

.layout-phone .roundbadge.menu {
	top: 32px;
	left: -20px;
}

.theme-mode-switch
{
    margin-top:3px;
}

.theme-mode-switch span
{
    font-size: 0.8rem;
}

.barup .user-child .mel-icofont-theme::before
{
    font-family: "Icofont";
    content: "\ee7e";
}

#createthings
{
    margin-right: 5px;
}

.theme-mode-switch.btn.btn-primary.btn-block {
	border-radius: 60px;
	height: 30px;
	width: 60px;
	border-color: #3A3E5E;
	background-color: #F0F0F0;
    position: relative;
    margin-top: 15px;
}

.theme-mode-switch.btn.btn-primary.btn-block::before {
	content: "\ee66";
	font-family: icofont;
	margin: 0 !important;
	position: absolute;
	top: 2px;
	left: 33px;
	color: #3A3E5E !important;
    transition: all 0.1s ease-in;
}

.theme-mode-switch.btn.btn-primary.btn-block::after {
	content: "";
	border: solid #3A3E5E thin;
    background-color: white;
	width: 28px;
	height: 28px;
	display: block;
	border-radius: 100%;
	position: absolute;
	top: 0;
	right: 31px;
    transition: all 0.1s ease-in;
}

.maintenance-text
{
    text-align: center;
    color: red;
}