#layout-menu {
    background-color:#2C3054;
    position: fixed;
    height: 100%;
    z-index: 999;
    /* overflow-y: auto;
    overflow-x: visible; */
}

html.touch #layout-menu
{
    display: block;
}

#taskmenu{
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

#taskmenu .special-buttons
{
    background-color:#2C3054;
    position: initial;
    display: none;
}

#taskmenu .compose {
    display:none;
}

#taskmenu a.selected, #taskmenu a:hover, #taskmenu a.selected:hover, #taskmenu .action-buttons a:hover,
#otherapps a.selected, #otherapps a:hover, #otherapps a.selected:hover, #otherapps .action-buttons a:hover,
#otherapps a:hover span
{
    /* -moz-border-radius: 100%;
    border-radius: 100%; */
    background-color: #484D7A !important;    
    /* padding: 0; */
    
}

#taskmenu a.selected:focus, #taskmenu a:focus, #taskmenu .action-buttons a:focus
{
    box-shadow: 0 0 0 .2rem #484D7A69;
}

#taskmenu span.inner, #taskmenu span.button-inner
{
    display:block!important;
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#layout-menu, #taskmenu a,
#otherapps a
{
    width: 60px !important;
    font-size: 1.3rem !important;
}

#taskmenu a,#otherapps a {
    height: 58px !important;
}

#taskmenu a:before,#otherapps a:before
{
    line-height: 45px;
    display: inline-block;
}

html.touch #taskmenu a::before{
	line-height: 4rem;
}

/* @media screen and (max-width: 1024px) and (min-width: 481px)
{
#taskmenu a.selected, #taskmenu a:hover, #taskmenu a.selected:hover, #taskmenu .action-buttons a:hover
{
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 42px;
    margin-left: 9px;
    
}
} */

#taskmenu > span > a.icofont::before
{
    font-family:inherit;
    /* content:unset; */
}


.order1{
    order:1;
}

.menu-last-frame{
    order:2;
}

.action-buttons{
    order:3;
}

.mail{
    order:4;
}

.menu.toolbar a.mail:before
{
  content:"\e158";
  font-family: 'Material Symbols Outlined' !important;
  font-weight: normal;
}


.button-calendar, .calendar
{
    order:5;
}

.menu.toolbar a.button-calendar:before,
.menu.toolbar a.calendar:before
{
  content:"\ebcc";
  font-family: 'Material Symbols Outlined' !important;
  font-weight: normal;
}

.button-rocket_chat {
    order:6;
}

.button-wsp{
    order:7;
}

.space{
    order:8;
}

.icon-mel-folder {
    order:9;
}

.news
{
    order:12;
}

.tasklist{
    order:10;
}

.menu.toolbar a.tasklist::before
{
    content:"\e834";
    font-family: 'Material Symbols Outlined' !important;
    font-weight: normal;
}

#otherapps.menu.toolbar a.icon-mel-custom_taskbar::before
{
    content:"\e99b";
    font-family: 'Material Symbols Outlined' !important;
    font-weight: normal;
}

#otherapp-down
{
    /* position: fixed;
    bottom: 0;
    background-color: var(--main-layout-taskbar-background-color); */
    /* width: var(--otherapp-size) !important; */
    margin: 0;
}

.button-mel_sondage {
    order:14;
}

.contacts{
    order:11;
}

.menu.toolbar  a.contacts::before
{
    content:"\e7fd";
    font-family: 'Material Symbols Outlined' !important;
    font-weight: normal;
}

.useful_links 
{
    order:13
}

.wekan {
    order:15;
}

.parapheur::before{
    content:"\e746" !important;
    font-family: 'Material Symbols Outlined' !important;
    font-weight: normal;
}

.more-options{
    order:18;
}

.settings{
    order:19;
}



.menu.toolbar  a.settings::before
{
    content:"\e8b8" !important;
    font-family: 'Material Symbols Outlined' !important;
    font-weight: normal;
}

#taskmenu .special-buttons{
    order:15;
}

.popover-header{
    display: none!important;
}

span.menu-last-frame-item {
	position: absolute;
	left: 22px;
	font-size: 17px;
	margin-top: 10px;
}

html.touch span.menu-last-frame-item {
	margin-top: 14px;
}
/* .menu-last-frame-item::before{
    font-weight: 900;
} */

.menu-last-frame-inner-up
{
    /* margin-top: -7px; */
    font-size: 9px;
    display: block;

    flex: 1 0 100%;
    margin-top: 10px;
}

.menu.toolbar a.menu-last-frame:before
{
    content:"\e93d";
    font-family: "DWP"!important;
    font-weight: normal;
    font-size: 38px;
    /* transform: rotate(79deg) translateY(-12px) translateX(10px) scale(-1.5, 1.5);
    -moz-transform: rotate(79deg) translateY(-12px) translateX(10px) scale(-1.5, 1.5);
    -webkit-transform: rotate(79deg) translateY(-12px) translateX(10px) scale(-1.5, 1.5);
    -o-transform: rotate(79deg) translateY(-12px) translateX(10px) scale(-1.5, 1.5);
    -ms-transform: rotate(79deg) translateY(-12px) translateX(10px) scale(-1.5, 1.5); */
    color:#F28F5A;
}

.menu.toolbar a.wsp.icon-mel-workplace:before
{
    content:"\e1a0" !important;
    font-family: 'Material Symbols Outlined' !important;
    font-weight: normal;
}

.menu.toolbar a.more-options.icon-mel-dots:before
{
    content:"\e5c3";
    font-family: 'Material Symbols Outlined' !important;
    font-weight: normal;
    font-variation-settings: 'wght' 300;
}

a.useful_links.icon-mel-link::before
{
    content:"\e157";
    font-family: 'Material Symbols Outlined' !important;
    font-weight: normal;
}

.menu.toolbar a.home.icon-mel-home:before
{
  content:"\e88a";
  font-family: 'Material Symbols Outlined' !important;
  font-size: 36px !important;
  font-weight: normal;
}

.barup-right-buttons .menu.toolbar a.selected:before,
.barup-right-buttons .menu.toolbar a:hover:before,
#layout-menu .menu.toolbar a.selected:before,
#layout-menu .menu.toolbar a:hover:before,
#otherapps.menu.toolbar a:hover:before,
#otherapps.menu.toolbar a.selected:before
{
  font-variation-settings: 'FILL' 1;
}

#layout-menu .menu.toolbar a.selected.icon-mel-dots:before,
#layout-menu .menu.toolbar a.icon-mel-dots:hover:before
{
  font-variation-settings: 'FILL' 1, 'wght' 300;
}

#layout-menu .menu.toolbar a:before,
#otherapps.menu.toolbar a:before
{
  font-size: 32px;
}

.menu.toolbar a.mel.icon-mel-sondage:before,
#otherapps a.icon-mel-sondage:before
{
    content:"\e653" !important;
    font-family: 'Material Symbols Outlined' !important;
    font-weight: normal;
}

#otherapps a.icon-mel-sondage:before
{
    content:"\e653" !important;
    font-family: 'Material Symbols Outlined' !important;
    font-weight: normal;
}

.menu.toolbar a.icon-mel-message:before
{
    content:"\e0bf";
    font-family: 'Material Symbols Outlined' !important;
    font-weight: normal;
}

.menu.toolbar a.icon-mel-folder:before
{
    content:"\e2c8" !important;
    font-family: 'Material Symbols Outlined' !important;
    font-weight: normal;
}

.menu.toolbar a.news.icofont-newspaper:before
{
    content:"\efa7";
    font-family: "IcoFont"!important;
}

a.menu-small.icofont-navigation-menu:before
{
    content:"\e91f";
    font-family: "DWP"!important;
}

a.icon-mel-trello:before
{
    content:"\eb7f";
    font-family: 'Material Symbols Outlined' !important;
    font-weight: normal;
}

a.icon-mel-newspaper:before
{
    content:"\ef42";
    font-family: 'Material Symbols Outlined' !important;
    font-weight: normal;
}

iframe.mm-frame/*,
#layout-sidebar,
.task-mel_portal > #layout > #layout-content*/
{
    padding-left:60px;
}

html.touch #layout-menu,
#layout-menu:hover,
#layout-menu.force-open
{
    width: 200px!important;
}

#taskmenu .wsp:focus > span {
	font-size: 14px;
}

#layout-menu  a:focus > span.inner,
#layout-menu  span > a:focus > span.inner
{
	background-color: #484D7A;
	height: inherit!important;
	margin-left: -5px;
    white-space: normal;
    padding-left:10px;
	/* box-shadow: 0 0 0 .2rem #484D7AB5; */
	/* margin-top: -31px; */
}

#layout-menu  a > span.inner,
#layout-menu  span > a > span.inner
{
    font-size: 1rem;
}

html.touch #layout-menu{
    z-index: 1001;
}

html.touch #layout-menu  a > span.inner,
html.touch #layout-menu  span > a > span.inner,
#layout-menu:hover  a > span.inner,
#layout-menu:hover  span > a > span.inner,
#layout-menu.force-open  a > span.inner,
#layout-menu.force-open  span > a > span.inner,
#layout-menu  a:focus > span.inner,
#layout-menu  span > a:focus > span.inner {
    display: inline-flex!important;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    left: 65px;
    /* margin-top: -32px; */
    /* top: inherit; */
    font-family: Roboto,sans-serif;
    border-top-style: solid;
    /* border-bottom-style: solid; */
    border-width: thin;
    /* padding-top: 17px; */
    /* padding-bottom: 8px; */
    text-align: left;
    border-color: #363A5B;


    /* border: 0; */
    clip: initial;
    /* height: initial; */
    /* margin: -1px; */
    /* overflow: initial; */
    /* padding: 0; */
    /* position: absolute; */
    width: 140px;

    margin: -.45rem 0;
    margin-left: -5px;
    padding:0;
    padding-left: 5px;
    height: 58px;
    white-space:normal;
}

html.touch #layout-menu  a > span.inner,
html.touch #layout-menu  span > a > span.inner
{
    margin:0;
    margin-left: -5px;
    line-height: initial;
}

 /* html.touch #layout-menu a > span.inner, */
#layout-menu:hover a:hover > span.inner,
#layout-menu.force-open a.force-hover > span.inner,
#layout-menu:hover a.selected > span.inner,
#layout-menu.force-open a.selected > span.inner {
	background-color: #484D7A;
	left: 65px;
	/* margin-top: -2.2rem; */
	font-family: Roboto,sans-serif;
	/* padding-top: 17px;
	padding-bottom: 17px; */
	border-color: #484D7A;
	/* padding-left: 4px; */
    z-index: 3;
    border:none;
    white-space:normal;
    /* margin-top: 0px; */
    /* padding:0;
    height: 58px; */
} 
#layout-menu:hover a.wsp:hover > span.inner,
#layout-menu:hover a.more-options:hover > span.inner {
  border-top: solid thin var(--invisible)
}

#layout-menu:hover a.menu-last-frame:hover > span.inner {
	padding-bottom: 0.75rem;
}

.menu.toolbar a.wsp > span,
.menu.toolbar a.more-options > span
{
    white-space: break-spaces;
    padding-top: 5px!important;
}

.menu-last-frame > span
{
overflow: hidden;
    text-overflow: ellipsis;
    max-width: 130px;
}

.menu-last-frame-inner-down
{
   overflow: hidden;
   text-overflow: ellipsis;
   margin-top: -13px;
    white-space: nowrap;
}

.menu.toolbar li#menu-small-li
{
    display: none!important;
}

html.touch .menu.toolbar li#menu-small-li
{
    display: block!important;
}

/* html.touch .menu.toolbar li#menu-small-li,
html.layout-small .menu.toolbar li#menu-small-li
{
    display: initial!important;
}

html.layout-phone #taskmenu,
html.layout-phone #layout-menu
{
    display: initial!important;
} */

html.layout-phone #taskmenu a:before
{
    line-height: 55px;
    margin-left: 6px!important;
}

html.layout-phone #taskmenu a.menu-last-frame:before
{
    margin-left:-3px!important;
}

/* html.layout-phone #taskmenu a.menu-last-frame .menu-last-frame-item::before {
    margin-top: 19px;
    display: block;
    margin-left: 0px;
} */

html.touch.layout-phone span.menu-last-frame-item {
	margin-top: 6px;
}

html.layout-phone #layout-menu
{
    overflow: auto;
    overflow-x: hidden;
    /* width: 60px!important; */
}

/* html.layout-phone #taskmenu a .inner
{
    display:none!important;
} */

html.layout-phone .button.icon.task-menu-button
{
    display: none!important;
}

nav.otherapps
{
    position: absolute;
    height: 100%;
    width: 200px;
    left: 60px;
    background-color: #2C3054;
    z-index: 999999;
    /* overflow-y: auto;
    overflow-x: hidden; */
}

#otherapps a::before
{
    text-align: left;
    margin-left: 15px !important;
}

#otherapps a
{
    color:white!important;
    width:100%!important;
    max-width:100%!important;
    display: flex;
    position: relative;
}

#otherapps a span {
	/* position: absolute; */
	/* left: 69px; */
	/* margin-top: -16px; */
	font-family:  Roboto,sans-serif;
	margin-left: 15px;
	display: flex;
	align-items: center;
    font-size: 1rem;
}

#otherapps a.wsp span
{
    margin-top: -30px;
}

#listotherapps{
    text-align: left;
}

#otherapps ul li
{
    display:block;
}

#mailsearchlist .icon-mel-search
{
    font-size: 1.3rem!important;
    margin-top: 5px!important;
}

html.touch #taskmenu a{
    border:none!important;
}

li#menu-small-li
{
    display: block!important;
}

/* #taskmenu a.selected {
	pointer-events: none;
} */

.history-icon {
	display: block;
	font-size: xx-large;
}

.history-button {
	width: 100%;
	/* overflow: hidden; */
	/* text-overflow: ellipsis; */
	/* white-space: nowrap; */
}

.history-text {
	display: block;
	/* white-space: nowrap; */
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

#otherapps a sup {
	position: absolute;
	top: 17px;
	left: 35px;
}

#otherapps a sup .roundbadge {
    font-size: smaller;
    display:block;
}

#otherapps a:hover sup .roundbadge{
    background-color: var(--roundbadge-bckg-color)!important;
}

.menu-last-frame:hover .menu-last-frame-item::before{
    font-variation-settings: 'FILL' 1;
}

#layout-menu.main-nav-cannot-deploy:hover {
    max-width: 60px;
}

#layout-menu.main-nav-cannot-deploy:hover a .button-inner,
#layout-menu.main-nav-cannot-deploy:hover a .inner {
    display: none!important;
}
.layout-phone #layout-menu.main-nav-cannot-deploy:hover a .button-inner,
.layout-phone #layout-menu.main-nav-cannot-deploy:hover a .inner{
    display: flex!important;
}


.tchap {
    order: 6;
}

.menu.toolbar a.tchap:before{
  content:"\e96b";
  font-family: 'DWP' !important;
  font-weight: normal;
  /* font-variation-settings: 'wght' 800; */
}