.bnum-button {
  display: var(--bnum-button-display, inline-block);
  padding: var(--bnum-button-padding, 6px 10px);
  border-radius: var(--bnum-button-border-radius, 200px);
  cursor: var(--bnum-button-cursor, pointer);
  padding-top: var(--bnum-button-without-icon-padding-top, 7.5px);
  padding-bottom: var(--bnum-button-without-icon-padding-bottom, 7.5px);
  /* MARK: Icon */
}
.bnum-button.bnum-button--primary {
  background-color: var(--bnum-button-background-color, #363a5b);
  color: var(--bnum-button-text-color, white);
  border: var(--bnum-button-border, solid thin var(--bnum-button-border-color));
}
.bnum-button.bnum-button--primary.bnum-button--loading .bnum-button__icon::before,
.bnum-button.bnum-button--primary.bnum-button--loading bnum-icon::before,
.bnum-button.bnum-button--primary.bnum-button--loading bnum-shadow-icon::before,
.bnum-button.bnum-button--primary.bnum-button--loading .bnum-button__text::before {
  color: var(--bnum-button-danger-text-color, white);
}
.bnum-button.bnum-button--primary:hover {
  background-color: var(--bnum-button-hover-background-color, #484d7a);
  color: var(--bnum-button-hover-text-color, white);
  border: var(--bnum-button-hover-border, solid thin var(--bnum-button-hover-border-color));
}
.bnum-button.bnum-button--primary:active {
  background-color: var(--bnum-button-active-background-color, #2b2e49);
  color: var(--bnum-button-active-text-color, white);
  border: var(--bnum-button-active-border, solid thin var(--bnum-button-active-border-color));
}
.bnum-button.bnum-button--secondary {
  background-color: var(--bnum-button-secondary-background-color, #f6f6f6);
  color: var(--bnum-button-secondary-text-color, #363a5b);
  border: var(--bnum-button-secondary-border, solid thin var(--bnum-button-secondary-border-color));
}
.bnum-button.bnum-button--secondary.bnum-button--loading .bnum-button__icon::before,
.bnum-button.bnum-button--secondary.bnum-button--loading bnum-icon::before,
.bnum-button.bnum-button--secondary.bnum-button--loading bnum-shadow-icon::before,
.bnum-button.bnum-button--secondary.bnum-button--loading .bnum-button__text::before {
  color: var(--bnum-button-secondary-text-color, white);
}
.bnum-button.bnum-button--secondary:hover {
  background-color: var(--bnum-button-secondary-hover-background-color, white);
  color: var(--bnum-button-secondary-hover-text-color, white);
  border: var(--bnum-button-secondary-hover-border, solid thin var(--bnum-button-secondary-hover-border-color));
}
.bnum-button.bnum-button--secondary:active {
  background-color: var(--bnum-button-secondary-active-background-color, #d9d9d9);
  color: var(--bnum-button-secondary-active-text-color, white);
  border: var(--bnum-button-secondary-active-border, solid thin var(--bnum-button-secondary-active-border-color));
}
.bnum-button.bnum-button--danger {
  background-color: var(--bnum-button-danger-background-color, #fc945a);
  color: var(--bnum-button-danger-text-color, white);
  border: var(--bnum-button-danger-border, solid thin var(--bnum-button-danger-border-color));
}
.bnum-button.bnum-button--danger.bnum-button--loading .bnum-button__icon::before,
.bnum-button.bnum-button--danger.bnum-button--loading bnum-icon::before,
.bnum-button.bnum-button--danger.bnum-button--loading bnum-shadow-icon::before,
.bnum-button.bnum-button--danger.bnum-button--loading .bnum-button__text::before {
  color: var(--bnum-button-danger-text-color, white);
}
.bnum-button.bnum-button--danger:hover {
  background-color: var(--bnum-button-danger-hover-background-color, #f7ab82);
  color: var(--bnum-button-danger-hover-text-color, white);
  border: var(--bnum-button-danger-hover-border, solid thin var(--bnum-button-danger-hover-border-color));
}
.bnum-button.bnum-button--danger:active {
  background-color: var(--bnum-button-danger-active-background-color, #fb6817);
  color: var(--bnum-button-danger-active-text-color, white);
  border: var(--bnum-button-danger-active-border, solid thin var(--bnum-button-danger-active-border-color));
}
.bnum-button > .bnum-button__wrapper {
  display: var(--bnum-button-wrapper-display, flex);
  align-items: var(--bnum-button-wrapper-align-items, center);
}
.bnum-button.bnum-button--icon {
  padding: var(--bnum-button-padding, 6px 10px);
}
.bnum-button.bnum-button--icon > .bnum-button__wrapper > .bnum-button__icon + .bnum-button__text,
.bnum-button.bnum-button--icon > .bnum-button__wrapper > bnum-shadow-icon + .bnum-button__text,
.bnum-button.bnum-button--icon > .bnum-button__wrapper > bnum-icon + .bnum-button__text {
  display: var(--bnum-button-icon-display, flex);
  margin-left: var(--bnum-button-icon-margin-left, 20px);
}
.bnum-button.bnum-button--icon > .bnum-button__wrapper > .bnum-button__text + .bnum-button__icon,
.bnum-button.bnum-button--icon > .bnum-button__wrapper > .bnum-button__text + bnum-shadow-icon,
.bnum-button.bnum-button--icon > .bnum-button__wrapper > .bnum-button__text + bnum-icon {
  display: var(--bnum-button-icon-display, flex);
  margin-left: var(--bnum-button-icon-margin-left, 20px);
}
.bnum-button.bnum-button--square {
  border-radius: var(--bnum-button-square-border-radius, 10px);
}
.bnum-button:disabled,
.bnum-button.bnum-button--disabled,
.bnum-button.bnum-button--loading {
  cursor: not-allowed;
  opacity: var(--button-disabled-opacity, 0.6);
  pointer-events: var(--bnum-button-disabled-pointer-events, none);
}
.bnum-button.bnum-button--loading {
  cursor: progress;
}
.bnum-button.bnum-button--loading .bnum-button__text {
  color: transparent;
  position: relative;
}
.bnum-button.bnum-button--loading .bnum-button__text::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-top-color: transparent !important;
  border-radius: 50%;
  animation: spinelement var(--bnum-button-spin-duration, 0.75s) var(--bnum-button-spin-timing, linear) var(--bnum-button-spin-iteration, infinite);
}
.bnum-button--primary.bnum-button.bnum-button--loading .bnum-button__text::before {
  border-color: var(--bnum-button-text-color, white);
}
.bnum-button--secondary.bnum-button.bnum-button--loading .bnum-button__text::before {
  border-color: var(--bnum-button-secondary-text-color, #363a5b);
}
.bnum-button--danger.bnum-button.bnum-button--loading .bnum-button__text::before {
  border-color: var(--bnum-button-danger-active-text-color, white);
}
.bnum-button.bnum-button--loading.bnum-button--icon .bnum-button__icon,
.bnum-button.bnum-button--loading.bnum-button--icon bnum-icon,
.bnum-button.bnum-button--loading.bnum-button--icon bnum-shadow-icon {
  color: transparent;
  position: relative;
}
.bnum-button.bnum-button--loading.bnum-button--icon .bnum-button__icon::before,
.bnum-button.bnum-button--loading.bnum-button--icon bnum-icon::before,
.bnum-button.bnum-button--loading.bnum-button--icon bnum-shadow-icon::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-top-color: transparent !important;
  border-radius: 50%;
  animation: spinelement var(--bnum-button-spin-duration, 0.75s) var(--bnum-button-spin-timing, linear) var(--bnum-button-spin-iteration, infinite);
}
.bnum-button--primary.bnum-button.bnum-button--loading.bnum-button--icon .bnum-button__icon::before,
.bnum-button--primary.bnum-button.bnum-button--loading.bnum-button--icon bnum-icon::before,
.bnum-button--primary.bnum-button.bnum-button--loading.bnum-button--icon bnum-shadow-icon::before {
  border-color: var(--bnum-button-text-color, white);
}
.bnum-button--secondary.bnum-button.bnum-button--loading.bnum-button--icon .bnum-button__icon::before,
.bnum-button--secondary.bnum-button.bnum-button--loading.bnum-button--icon bnum-icon::before,
.bnum-button--secondary.bnum-button.bnum-button--loading.bnum-button--icon bnum-shadow-icon::before {
  border-color: var(--bnum-button-secondary-text-color, #363a5b);
}
.bnum-button--danger.bnum-button.bnum-button--loading.bnum-button--icon .bnum-button__icon::before,
.bnum-button--danger.bnum-button.bnum-button--loading.bnum-button--icon bnum-icon::before,
.bnum-button--danger.bnum-button.bnum-button--loading.bnum-button--icon bnum-shadow-icon::before {
  border-color: var(--bnum-button-danger-active-text-color, white);
}
.bnum-button--primary.bnum-button.bnum-button--loading.bnum-button--icon .bnum-button__text {
  color: var(--bnum-button-text-color, white);
}
.bnum-button--secondary.bnum-button.bnum-button--loading.bnum-button--icon .bnum-button__text {
  color: var(--bnum-button-secondary-text-color, #363a5b);
}
.bnum-button--danger.bnum-button.bnum-button--loading.bnum-button--icon .bnum-button__text {
  color: var(--bnum-button-danger-active-text-color, white);
}
.bnum-button.bnum-button--loading.bnum-button--icon .bnum-button__text::before {
  content: none;
}
@keyframes spinelement {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
