<?php 
$config = [];

//Ressources disponibles
$config['rc_resources'] = [
    //Clé de la ressource
    'flex-office' => [
        //Nom à afficher
        'name' => 'Flex-Office',
        //Si c'est une option dans les évènements
        'is_option' => true,
        //Fonction de la ressource dans driver_mel
        'load_data' => 'resources_flex_office',
    ]
];

//Les différents filtres
$config['rc_filters'] = [
    'flex-office' => [
        [
            //Nom
            'name' => 'locality', 
            //Fonction dans driver_mel (optionnel)
            'load_data' => 'resources_localities',
            //Fonction dans driver_mel (optionnel)
            'load_data_on_change' => 'resources_flex_office',
            //Taille (de 1 à 12)
            'size' => 12,
            //Type d'input (select ou multi-select pour le moment)
            'type' => 'select',
            //Icon material symbol
            'icon' => 'location_on'
        ],
        [
            'name' => 'batiment', 
            'size' => 3,
            'type' => 'select',
            'icon' => 'home'
        ],
        [
            'name' => 'etage', 
            'size' => 3,
            'type' => 'select',
            'icon' => 'floor'
        ],
        [
            'name' => 'roomnumber', 
            'size' => 3,
            'type' => 'select',
            'icon' => 'meeting_room'
        ],
        [
            'name' => 'caracteristiques', 
            'size' => 3,
            'type' => 'multi-select',
            'icon' => 'tune'
            
        ]
    ] 
];