<div id="signature_template" class="template">
<div style="line-height:10pt;margin:10px 0;font-family:arial,sans-serif;">
<div style="font-size:9pt;">
<b>%%TEMPLATE_NAME%%</b>
<br>
<span style="font-size:8pt;">%%TEMPLATE_JOBTITLE%%%%TEMPLATE_SERVICE%%%%TEMPLATE_DIRECTION%%</span>
</div>
<p style="font-size:8pt;margin:15px 0;">%%TEMPLATE_ADDRESS%%%%TEMPLATE_OFFICE%%%%TEMPLATE_PHONE%%
<span>
%%TEMPLATE_LINKS%%
</span>
</p>
<table style="border:0;line-height:10pt;border-collapse:collapse;width:auto;background-color:#fff;font-family:marianne,arial,sans-serif;">
<tbody>
<tr style="border:0">
<td style="padding:0">
%%TEMPLATE_LOGO_MARIANNE%%
</td>
<td style="border:0;text-align:left;vertical-align:middle;padding:%%TEMPLATE_LOGO_TYPE_PADDING%%" rowspan="3" valign="center" align="left">
%%TEMPLATE_LOGO_TYPE%%
</td>
</tr>
<tr style="border:0">
<td style="border:0;border-right:%%TEMPLATE_LOGO_TYPE_BORDER%%;text-align:left;vertical-align:middle;padding:5px 15px 5px 0" valign="top" align="left">
%%TEMPLATE_LOGO%%
</td>
</tr>
<tr style="border:0">
<td style="border:0;text-align:left;vertical-align:top;padding:3px 0 0 0" valign="top" align="left">
%%TEMPLATE_LOGO_DEVISE%%
</td>
</tr>
</tbody>
</table>
%%TEMPLATE_OTHER_LOGO%%
</div>
</div>