<?php

// Default look of access rights table
// In advanced mode all access rights are displayed separately
// In simple mode access rights are grouped into four groups: read, write, delete, full
$config['acl_advanced_mode'] = false;

// LDAP addressbook that would be searched for user names autocomplete.
// That should be an array refering to the $rcmail_config['ldap_public'] array key
// or complete addressbook configuration array.
$config['acl_users_source'] = '';

// The LDAP attribute which will be used as ACL user identifier
$config['acl_users_field'] = 'uid';

// The LDAP search filter will be &'d with search queries
$config['acl_users_filter'] = '';


// LDAP addressbook that would be searched for user names autocomplete.
// That should be an array refering to the $rcmail_config['ldap_public'] array key
// or complete addressbook configuration array.
$config['acl_groups_source'] = '';

// The LDAP attribute which will be used as ACL user identifier
$config['acl_groups_field'] = 'dn';

// The LDAP search filter will be &'d with search queries
$config['acl_groups_filter'] = '';

// Matching mode for addressbook search (including autocompletion)
// 0 - partial (*abc*), default
// 1 - strict (abc)
// 2 - prefix (abc*)
// Note: For LDAP sources fuzzy_search must be enabled to use 'partial' or 'prefix' mode
$config['addressbook_search_mode_groups'] = 0;

// Include the following 'special' access control subjects in the ACL dialog;
// Defaults to array('anyone', 'anonymous') (not when set to an empty array)
// Example: array('anyone') to exclude 'anonymous'.
// Set to an empty array to exclude all special aci subjects.
$config['acl_specials'] = array('anyone', 'anonymous');

?>
