<?php
// Use infinite scroll instead of page navigation for emails
$rcmail_config['use_infinite_scroll'] = true;

// Configuration du HTTP HOST
$rcmail_config['http_host'] = 'localhost/';

// Use an IMAP Proxy or a single IMAP server
$rcmail_config['use_imap_proxy'] = false;

// Hostname of the IMAP Proxy
$rcmail_config['imap_proxy'] = 'imap.proxy.com';

// Default calendar name when created (string or null)
// Support values from current user : %%fullname%%, %%name%%, %%email%%, %%uid%%
$config['default_calendar_name'] = null;

// Default addressbook name when created (string or null)
// Support values from current user : %%fullname%%, %%name%%, %%email%%, %%uid%%
$config['default_addressbook_name'] = null;

// Default addressbook name when created (string or null)
// Support values from current user : %%fullname%%, %%name%%, %%email%%, %%uid%%
$config['default_taskslist_name'] = null;

// Hide keep login button
$rcmail_config['hide_keep_login_button'] = true;

// Is this connexion come from intranet or internet
$rcmail_config['is_internal'] = true;

// Driver name configuration (mce, mtes, ...)
$rcmail_config['mel_driver'] = 'mce';

// Affichage des boites partagées sans partage imap (partage virtuel)
$rcmail_config['virtual_shared_mailboxes'] = false;

// Nom du préfixe a utiliser pour le partage virtuel
$rcmail_config['virtual_balp_label'] = 'Virtual shared';

// Port de l'API de restauration
$rcmail_config['restoration_api_port'] = 5001;

// Jeton d'accès de l'API de restauration
$rcmail_config['restoration_api_key'] = '0123456789012345678901234567890123456789';

// Restauration d'emails ('files', 'api')
$rcmail_config['restore_emails_method'] = 'api';
