<style>
    #button-user {
        padding: 0;
    }

    #button-user .user-child {
        display: flex;
        align-items: center;
    }

    #user-picture {
        margin-top:0;
    }
</style>

<div>
    <p class="sr-only">Liens rapides</p>
    <!-- <a class="sr-only sr-only-focusable mel-rapid-link" href="#" onclick="mm_st_OpenOrCreateFrame('home', true)">Accueil</a> -->
    <a class="sr-only sr-only-focusable mel-rapid-link" href="#taskmenu"><roundcube:label name='mel_metapage.main_nav' /></a>
    <a class="sr-only sr-only-focusable mel-rapid-link" href="#barup-buttons"><roundcube:label name='mel_metapage.secondary_nav' /></a>
    <a class="sr-only sr-only-focusable mel-rapid-link" href="#" onclick="$('#barup-search-input').focus()"><roundcube:label name='search' /></a>
    <a class="sr-only sr-only-focusable mel-rapid-link" href="#" onclick="m_mp_focus_current_frame(this)"><roundcube:label name='mel_metapage.main_contents' /></a>
    <div id="upbar-rapid-links"></div>
</div>

<bnum-header class="barup">
    <img slot="logo" src="skins/mel_elastic/images/bnumloader.svg" alt="Logo du bnum"/>
    <h1 slot="title"><roundcube:object name="defaultpagetitle"  /></h1>

    <bnum-secondary-button slot="actions" data-icon="add" id="create-button" title="<roundcube:label name='mel_metapage.create_help' />"><roundcube:label name="mel_metapage.create" /></bnum-secondary-button>
    <bnum-icon-button slot="actions" id="button-notes" title="Notes">article</bnum-icon-button>

    <roundcube:if condition="env:plugin_list_help===true"/>
        <bnum-icon-button id="button-help" slot="actions">help</bnum-icon-button>
    <roundcube:endif/>
    <bnum-icon-button slot="actions" id="button-settings">settings</bnum-icon-button>

    <!-- <roundcube:if condition="env:plugin_list_notifications===true"/>
        <div id="notification-dropdown" class="dropdown" slot="actions" style="position: relative;">
          <button id="button-notifications" style="width: 1; height: 1; position: absolute; top:0;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            class="transparent-icon-button barup-icons-button" onclick=""
            title="<roundcube:label name='mel_metapage.notifications_help' />">
            <span id="notifications-icon" class="material-symbols-outlined">
              notifications
            </span>
          </button>
          <bnum-icon-button id="notifications-btn">notifications</bnum-icon-button>
          <div class="dropdown-menu notification-dropdown-menu dropdown-menu-right p-2"
            aria-labelledby="button-notifications">
            <div id="notifications-panel"></div>
          </div>
        </div>
        !-- <bnum-icon-button slot="actions">notifications</bnum-icon-button> --
    <roundcube:endif/> -->

    <button id="button-user" slot="avatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        class="transparent-icon-button barup-icons-button"
        title="<roundcube:label name='mel_metapage.user_help' />">

        <div class="user-child" comment="Parent ariane, photo + dispo">
            <bnum-avatar data-shadow="true" id="user-picture" comment="photo utilisateur"></bnum-avatar>

            <roundcube:if condition="env:plugin_list_chat===true"/>
                <div id="user-dispo" class="chat-user-dispo logout" comment="Disponibilitée"></div>
            <roundcube:else />
                <div id="user-dispo" class="chat-user-dispo logout" comment="Disponibilitée" style="display: none;"></div>
            <roundcube:endif/>

        </div>
    </button>
</bnum-header>

<roundcube:include file="includes/quickoptions.html" />
<roundcube:include file="includes/user.html" />

<script>
    (() => {
        /**
         * @param {string} functionName Nom de la fonction qui peut se trouver dans `window`.
         * @return {unknown}
         */
        function tryCallFunction(functionName) {
            /**
             * @type {() => unknown}
             */
            const func = window[functionName] || (() => { throw new Error(`${functionName} n'existe pas !`)});

            return func();
        }
        const NO_THIS_ARG = null;
        const THIS = Symbol(this);


        const actions = {
            'create-button': 'm_mp_Create',
            'button-help':  'm_mp_Help',
            'button-settings': {'name': 'm_mp_ToggleGroupOptionsUser', args:[THIS]}
        };

        for (const id of Object.keys(actions)) {
            const action = actions[id];

            const element = document.getElementById(id);

            if (element) {
                if (typeof action === 'string') element.addEventListener('click', tryCallFunction.bind(NO_THIS_ARG, action));
                else element.addEventListener('click', (function (funcObject, caller) {
                    const {name, args} = funcObject;

                    const func = window[name] || (() => { throw new Error(`${name} n'existe pas !`)});

                    func(...args.map(x => x === THIS ? caller : x ));
                }).bind(NO_THIS_ARG, action, element));
            }
        }
    })();
</script>