<?php
// if true ALL users must have 2-steps active
$rcmail_config['force_enrollment_users'] = false;

// if this is preprod, double auth is always enable
$rcmail_config['is_preprod'] = false;

// Adresse du webservice dynalogin
$rcmail_config['dynalogin_websvc'] = "https://mydynalogin/service.wsdl";

// Set SSL stream context for web service
$rcmail_config['dynalogin_websvc_ssl'] = stream_context_create(array(
    'ssl' => array(
        // set some SSL/TLS specific options
        'verify_peer' => true,
    )
));

// Mode bouchon pour dynalogin
$rcmail_config['dynalogin_mode_bouchon'] = true;

// Mode bouchon double authentification activée ou non
$rcmail_config['dynalogin_bouchon_isActivated'] = true;