// out: false
.color-root()
{
    /** TEXT COLOR **/
    --main-text-color:@main-text-color;
    --secondary-text-color:@secondary-text-color;
    --tierciary-text-color:@tierciary-text-color;
    --fourth-text-color:@fourth-text-color;
    --other-text-color:@other-text-color;
    --alternate-text-color:@alternate-text-color;

    /* DISABLED */
    --disabled-text-color-listing:@disabled[LISTING];
    
    /* LINK COLOR */
    --main-link-color:@main-link-color;
    --main-link-hover-color:@main-link-hover-color;
    
    /** BACKGROUND COLOR **/
    --main-bckg-color:@main-bckg-color;
    --secondary-bckg-color:@secondary-bckg-color;
    --tierciary-bckg-color: @tierciary-bckg-color;
    --drag-n-drop-color:@drag-n-drop-bckg-color;
    --document-create-list-folder-bckg-color:@document-create-list-folder-bckg-color;
    --ghost-div-background:@ghost-div-background;
    --default-background:@default-background;
    
    /* ROUNDBADGE COLOR */
    --roundbadge-bckg-color:@roundbadge-bckg-color;
    --roundbadge-bkcg-color-on-block:@roundbadge-bkcg-color-on-block;
    --roundbadge-bkcg-color-on-block-hover:@roundbadge-bkcg-color-on-block-hover;
    --roundbadge-bkcg-color-tools:@roundbadge-bkcg-color-tools;
    
    /* BASE COLOR */
    --warning-color:@warning-color;
    --danger-color:@danger-color;
    --danger-color-2:@danger-color-2;
    --royal-color:@royal-color;

    /* SCROLLBAR COLOR */
    --scrollbar-handler-color:@scrollbar-color[HANDLE];
    --scrollbar-handler-hover-color:@scrollbar-color[HANDLE_HOVER];
    --scrollbar-background-color:@scrollbar-color[BACKGROUND];

    /* SEPARATE */
    --separate-light:@separate-ways[LIGHT];

}