// out: false
.root(){

    /** COLOR **/
    --invisible:@invisible;

    /** FONTS **/
    --main-icon-font:@main-symbol-font;
    --secondary-icon-font:@secondary-symbol-font;

    /* CONTENTS */
    --empty-content:@empty-content;

    /** BORDER **/
    --scollbar-border-radius:@scrollbar-border-radius;

    /** WIDTH **/

    /* scroll-bar */
    --scrollbar-width-webkit:@scrollbar-width[WEBKIT];
    --scrollbar-width-moz:@scrollbar-width[MOZ];
    --scrollbar-width-hover-webkit:@scrollbar-hover-width[WEBKIT];
    --scrollbar-width-hover-moz:@scrollbar-hover-width[MOZ];
}