//out:false
.fragmented-root()
{
    //Bouton
    --button-background-color:var(--main-bckg-color);
    --button-hover-background-color:var(--tierciary-bckg-color);
    --button-selected-background-color:var(--tierciary-bckg-color);
    --button-focused-background-color:var(--tierciary-bckg-color);
    --button-background-border:solid thin var(--button-background-color);
    --button-hover-background-border:solid thin var(--button-hover-background-color);
    --button-selected-background-border:solid thin var(--button-selected-background-color);
    --button-focused-background-border:solid thin var(--button-focused-background-color);
    --button-text-color:var(--secondary-text-color);
    --button-hover-text-color:var(--secondary-text-color);
    --button-selected-text-color:var(--secondary-text-color);
    --button-focused-text-color:var(--secondary-text-color);

    //Bouton de barre d'outil
        //Roundcube
    --toolbar-roundcube-background-color:var(--invisible);
    --toolbar-roundcube-color:var(--secondary-text-color);
    --toolbar-roundcube-color-inverse:var(--main-text-color);
    --toolbar-roundcube-hover-background-color:var(--secondary-bckg-color);
    --toolbar-roundcube-hover-color:var(--toolbar-roundcube-color);
        //Popover
    --toolbar-popover-background-color:var(--toolbar-roundcube-background-color);
    --toolbar-popover-color:var(--toolbar-roundcube-color-inverse);
    --toolbar-popover-hover-background-color:var(--toolbar-roundcube-hover-background-color);
    --toolbar-popover-hover-color:var(--toolbar-roundcube-hover-color);

    //Ma journée, Informations etc...
    --div-block-background-color:var(--alternate-bckg-color);

    //Navigations
        //Principal
    --main-nav-background-color:var(--secondary-bckg-color);
    --main-nav-hover-background-color:var(--tierciary-bckg-color);
    --main-nav-selected-background-color:var(--main-nav-hover-background-color);
    --main-nav-icon-color:var(--secondary-text-color);
    --main-nav-undo-app-icon-color:#F28F5A;
        //Secondaire
    --secondary-nav-background-color:var(--alternate-bckg-color);
    --secondary-nav-user-background-color:var(--secondary-bckg-color);
    --secondary-nav-user-text-color:var(--secondary-text-color);

    //Colonnes
        //Sidebar
    --layout-sidebar-background-color:var(--main-bckg-color);
    --layout-sidebar-header-background-color:var(--layout-sidebar-background-color);
    --layout-sidebar-text-color:var(--secondary-text-color);
    --layout-sidebar-header-text-color:var(--layout-sidebar-text-color);
        //List
    --layout-list-background-color:var(--tierciary-bckg-color);
    --layout-list-header-background-color:var(--layout-list-background-color);
    --layout-list-text-color:var(--secondary-text-color);
    --layout-list-header-text-color:var(--layout-list-text-color);
        //Content
    --layout-content-background-color:var(--default-background);
    --layout-content-header-background-color:@header-layout-content-bckg-color;
    --layout-content-text-color:var(--secondary-text-color);
    --layout-content-header-text-color:var(--layout-content-text-color);

    //Epingle
    --tak-disabled-background-color:var(--invisible);
    --tak-disabled-text-color:#696D7F;
    --tak-enabled-background-color:var(--royal-color);
    --tak-enabled-text-color:#2C3054;

    //Slider
    --slider-disabled-background-color: var(--alternate-bckg-color);
    --slider-disabled-border: solid thin var(--primary-border-color);
    --slider-disabled-round-background-color: var(--default-background);
    --slider-disabled-round-border: var(--slider-disabled-border);

    --slider-enabled-background-color: var(--tierciary-bckg-color);
    --slider-enabled-border: var(--slider-disabled-border);
    --slider-enabled-round-background-color: var(--slider-disabled-round-background-color);
    --slider-enabled-round-border: solid thin var(--invisible);

    //Listes
    --list-text-color: var(--secondary-text-color);
    --list-context-background-color: var(--tierciary-bckg-color);
    --list-context-text-color: var(--secondary-text-color);
    //Listes en arbre
    --treelist-selected-background-color: var(--tierciary-bckg-color);
    --treelist-selected-text-color: var(--secondary-text-color);
    --treelist-selected-background-color-2: var(--secondary-bckg-color);
    --treelist-selected-text-color-2: var(--treelist-selected-text-color);
    --treelist-hover-background-color: var(--treelist-selected-background-color);
    --treelist-hover-background-color-2: var(--treelist-selected-background-color-2);
    --treelist-context-background-color: var(--list-context-background-color);
    --treelist-context-text-color: var(--list-context-text-color);
    --treelist-context-background-color-2: var(--secondary-bckg-color);
    --treelist-context-text-color-2: var(--treelist-context-text-color);

}