//out:false
.page-root()
{
    //Calendar
        //table
    --calendar-table-border: #C2C5D3;
        //Colonnes
            //Sidebar
    --calendar-sidebar-text-color: var(--layout-sidebar-text-color);
    --calendar-sidebar-background-color: var(--tierciary-bckg-color);
    --calendar-sidebar-right-separator: solid thin var(--layout-border);
            //Headers
    --calendar-base-header-background-color: var(--calendar-sidebar-background-color);
    --calendar-sidebar-header-background-color: var(--calendar-base-header-background-color);
    --calendar-sidebar-header-bottom-separator: solid thin var(--layout-border);
    --calendar-sidebar-header-color: var(--calendar-sidebar-text-color);
    --calendar-content-header-background-color: var(--calendar-base-header-background-color);
    --calendar-content-header-color: var(--calendar-sidebar-text-color);
                //Barre d'outils
    --calendar-toolbar-roundcube-background-color: var(--toolbar-roundcube-background-color);
    --calendar-toolbar-roundcube-color: var(--toolbar-roundcube-color);
    --calendar-toolbar-roundcube-hover-background-color: var(--toolbar-roundcube-hover-background-color);
    --calendar-toolbar-roundcube-hover-color: var(--toolbar-roundcube-hover-color);
    --calendar-toolbar-search-icon-color: var(--main-text-color);
        //datepicker
    --calendar-datepicker-background-color: #31365B;
    --calendar-datepicker-color: var(--layout-sidebar-text-color);
    --calendar-datepicker-header-background-color: var(--calendar-datepicker-background-color);
    --calendar-datepicker-selected-color: var(--calendar-datepicker-background-color);
    --calendar-datepicker-selected-unactive-background-color: var(--calendar-sidebar-background-color);
    --calendar-datepicker-active-range-background-color: var(--calendar-datepicker-background-color);
    --calendar-datepicker-week-column-color: var(--calendar-sidebar-text-color);
    --calendar-datepicker-top-separator: solid thin var(--calendar-sidebar-text-color);
        //Calendar list
    --calendar-list-item-selected-background-color: var(--layout-sidebar-background-color);
    --calendar-list-item-hover-background-color: var(--calendar-list-item-selected-background-color);
    --calendar-list-item-switch-background-color: var(--default-background);
    --calendar-list-item-switch-border-color: black;
    --calendar-list-item-switch-tick-stroke-color: var(--main-text-color);
    --calendar-list-item-switch-tick-stroke: 1px var(--calendar-list-item-switch-tick-stroke-color);
    --calendar-list-quickview-color: var(--fourth-text-color);
        //widget
    --calendar-widget-header-background-color: var(--alternate-bckg-color-2);
    --calendar-widget-header-text-color: var(--secondary-text-color);
    --calendar-widget-header-button-background-color: var(--default-background);
    --calendar-widget-header-button-text-color: var(--main-text-color);
    --calendar-widget-header-button-border-color: var(--alternate-bckg-color);
    --calendar-widget-header-button-hover-background-color: var(--button-hover-background-color);
    --calendar-widget-header-button-hover-text-color: var(--button-hover-text-color);
    --calendar-widget-header-button-hover-border-color: var(--calendar-widget-header-button-hover-background-color);
    --calendar-widget-header-select-background-color: var(--calendar-widget-header-button-background-color);
    --calendar-widget-today-background-color: #F2FAF9;
    --calendar-widget-text-color: #575A76;
    --calendar-widget-day-text-color: var(--calendar-widget-text-color);
    --calendar-widget-table-header-text-color: var(--calendar-widget-text-color);
    --calendar-widget-table-header-background-color: #E3E4EA;
    --calendar-widget-hours-text-color: var(--calendar-widget-text-color);
    --calendar-widget-now-color: #F28F5A;
    --calendar-widget-nonbusiness: var(--alternate-bckg-color);

    --calendar-resume-button-background-color: var(--invisible);
    --calendar-resume-button-text-color: var(--main-text-color);
    --calendar-resume-button-border: none;
    --calendar-resume-button-hover-background-color: var(--button-hover-background-color);
    --calendar-resume-button-hover-text-color: var(--button-hover-text-color);
    --calendar-resume-button-hover-border-color: var(--calendar-resume-button-hover-background-color);
    --calendar-resume-footer-top-separator: solid 1.6px #B1B4C6;

    //Slider
    --calendar-slider-disabled-background-color: var(--slider-disabled-background-color);
    --calendar-slider-disabled-border: var(--slider-disabled-border);
    --calendar-slider-disabled-round-background-color: var(--slider-disabled-round-background-color);
    --calendar-slider-disabled-round-border: var(--slider-disabled-round-border);

    --calendar-slider-enabled-background-color: var(--slider-enabled-background-color);
    --calendar-slider-enabled-border: var(--slider-enabled-border);
    --calendar-slider-enabled-round-background-color: var(--slider-enabled-round-background-color);
    --calendar-slider-enabled-round-border: var(--slider-enabled-round-border);

    //MAIL
    --mail-treelist-context-background-color: var(--main-bckg-color);
    --mail-treelist-context-text-color: var(--treelist-context-text-color);

    //Tasks
    --tasks-layout-list-item-hover-background-color: var(--treelist-hover-background-color);
    --tasks-layout-list-item-hover-border-radius: 15px;
}