.theme-super-classique-main.picture-theme.abstract-picture-theme-two-colored.party-christmas body {

  &:before,
  &:after {
    display: none;
    filter: blur(1px);
    content: "";
    position: fixed;
    top: -3000%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(black, 0.01);
    background-image: url(http://www.freepngimg.com/download/winter_snow/4-2-white-snow-png.png);
    background-size: 30%;
    // animation-name: MOVE-BG;
    // animation-duration: 500s;
    // animation-timing-function: linear;
    // animation-iteration-count: infinite;
    z-index: -100;

  }
}

.theme-super-classique-main.picture-theme.abstract-picture-theme-two-colored.party-christmas.framed body {

  &:before,
  &:after {
    content: none;
    background-image: none;
    animation: none;
  }
}

@keyframes MOVE-BG {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(70%);
  }
}