<?php

$config = array();

// --------------- AUTH Methods --------------

// OIDC only (?oidc=1 triggers OIDC auth)
$config['oidc_auth_standalone'] = false;

// OIDC + Kerberos (Kerberos triggers OIDC auth, after LDAP check)
$config['oidc_auth_kerberos'] = true;

// --------------- Provider ------------------

// OIDC Provider URL
$config['oidc_url'] = 'OIDC_PROVIDER_URL';

// Client ID (registered on the provider)
$config['oidc_client'] = 'OIDC_CLIENT_ID';

// Client secret (corresponding to the given client ID)
$config['oidc_secret'] = 'OIDC_CLIENT_SECRET';

// OIDC scopes
$config['oidc_scope'] = 'openid profile email';

// -------------- User Fields -----------------

// Field used as a login UID (email, uid, ...)
$config['oidc_field_uid'] = 'uid';

