/* Nuances de bleu */
/* Nuances de gris */
/* Danger */
/* Warnings */
/*  - Espace interne des boutons            */
/*  - Espace entre items de liste           */
/*  - Padding interne des cartes            */
/*  - Espace entre les cartes (organismes)  */
/* - Espace entre sections                 */
/* Padding par défaut des dossiers */
/* Padding plus large pour les dossiers */
/* Padding plus petit pour les dossiers */
/* Padding par défaut des dossiers racines */
/* Padding plus large pour les dossiers racines */
/* Composites */
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Nuances de bleu */
/* Nuances de gris */
/* Danger */
/* Warnings */
:root {
  /* =================================
     1. Couleurs (Palette)
     ================================= */
  /* Sémantique de l'UI */
  --bnum-color-primary: #000091;
  --bnum-color-primary-hover: #1212ff;
  --bnum-color-primary-active: #2e2eff;
  --bnum-color-secondary: #ffffff;
  --bnum-color-secondary-hover: #f6f6f6;
  --bnum-color-secondary-active: #ededed;
  --bnum-color-danger: #ce0500;
  --bnum-color-danger-hover: #ff2725;
  --bnum-color-danger-active: #ff4140;
  --bnum-color-background: #ffffff;
  /* Le fond de la page */
  --bnum-color-surface: #f6f6f6;
  /* Le fond des surfaces */
  --bnum-color-border: #ddd;
  /* Bordure des surfaces */
  --bnum-color-in-surface-border: var(--bnum-color-border);
  --bnum-color-in-surface-hover: #dfdfdf;
  --bnum-color-in-surface-active: #cfcfcf;
  --bnum-color-input: #eee;
  /* Fond des champs input */
  --bnum-color-input-hover: #d2d2d2;
  --bnum-color-input-active: #c1c1c1;
  --bnum-color-input-border: #3a3a3a;
  /* Bordure des champs input */
  --bnum-color-left-column: #f6f6f6;
  /* Les items d'une liste ont forcément un fond transparent, 
     donc on se base sur le classique pour le selected,
     sur le hover pour le hover
     et le selected pour le drag and drop*/
  --bnum-color-list-idle: transparent;
  --bnum-color-list: #e3e3fd;
  --bnum-color-list-hover: #c1c1fb;
  --bnum-color-list-drag: #adadf9;
  --bnum-color-list-alt: #f6f6f6;
  --bnum-color-list-alt-hover: #dfdfdf;
  --bnum-color-list-alt-active: #cfcfcf;
  --bnum-main-nav-color: #242424;
  --bnum-main-nav-color-hover: #474747;
  --bnum-main-nav-color-active: #5b5b5b;
  --bnum-header-color: #ffffff;
  /* Texte */
  --bnum-text-primary: #3a3a3a;
  /* Texte principal */
  --bnum-text-title-primary: #161616;
  /* Titres principaux */
  --bnum-text-hint: #666;
  /* Texte d'aide / hint */
  --bnum-text-on-input: var(--bnum-text-primary);
  /* Texte sur fond input */
  --bnum-text-on-primary: #f5f5fe;
  /* Texte sur fond primaire */
  --bnum-text-on-primary-hover: var(--bnum-text-on-primary);
  --bnum-text-on-primary-active: var(--bnum-text-on-primary);
  --bnum-text-on-secondary: #000091;
  /* Texte sur fond secondaire */
  --bnum-text-on-secondary-hover: var(--bnum-text-on-secondary);
  --bnum-text-on-secondary-active: var(--bnum-text-on-secondary);
  --bnum-text-on-danger: #f5f5fe;
  /* Texte sur fond danger */
  --bnum-text-on-danger-hover: var(--bnum-text-on-danger);
  --bnum-text-on-danger-active: var(--bnum-text-on-danger);
  /* Sémantique de Feedback (vu sur les avatars) */
  --bnum-semantic-danger: #de350b;
  /* Rouge "DEV" */
  --bnum-semantic-success: #36b37e;
  /* Vert "TES" */
  /* =================================
     2. Typographie
     ================================= */
  --bnum-font-family-primary: -apple-system, system-ui, BlinkMacSystemFont, Arial, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  --bnum-font-family-secondary: Georgia;
  --bnum-icon-font-family: 'Material Symbols Outlined';
  /* Tailles */
  --bnum-font-size-xxl: 24px;
  --bnum-font-size-xl: 1.25rem;
  --bnum-font-size-l: 1.125rem;
  --bnum-font-size-m: 1rem;
  --bnum-font-size-s: 0.875rem;
  --bnum-font-size-xs: 0.75rem;
  --bnum-font-size-h1: 2.5rem;
  --bnum-font-size-h2: 2rem;
  --bnum-font-size-h3: 1.75rem;
  --bnum-font-size-h4: 1.5rem;
  --bnum-font-size-h5: 1.375rem;
  --bnum-font-size-h6: 1.25rem;
  --bnum-font-size-title-xl: 5rem;
  --bnum-font-size-title-l: 4.5rem;
  --bnum-font-size-title-m: 4rem;
  --bnum-font-size-title-s: 3.5rem;
  --bnum-font-size-title-xs: 3rem;
  --bnum-font-badge-s: 0.5625rem;
  --bnum-body-font-size: var(--bnum-font-size-m, 1rem);
  /* Line heights */
  --bnum-font-height-h1: 48px;
  --bnum-font-height-h1-mobile: 40px;
  --bnum-font-height-h2: 40px;
  --bnum-font-height-h2-mobile: 36px;
  --bnum-font-height-h3: 36px;
  --bnum-font-height-h3-mobile: 32px;
  --bnum-font-height-h4: 32px;
  --bnum-font-height-h4-mobile: 28px;
  --bnum-font-height-h5: 28px;
  --bnum-font-height-h5-mobile: 28px;
  --bnum-font-height-h6: 28px;
  --bnum-font-height-h6-mobile: 24px;
  --bnum-font-height-title-xl: 88px;
  --bnum-font-height-title-xl-mobile: 80px;
  --bnum-font-height-title-l: 80px;
  --bnum-font-height-title-l-mobile: 72px;
  --bnum-font-height-title-m: 72px;
  --bnum-font-height-title-m-mobile: 64px;
  --bnum-font-height-title-s: 64px;
  --bnum-font-height-title-s-mobile: 56px;
  --bnum-font-height-title-xs: 56px;
  --bnum-font-height-title-xs-mobile: 48px;
  --bnum-font-height-text-xl: 32px;
  --bnum-font-height-text-l: 28px;
  --bnum-font-height-text-m: 24px;
  --bnum-font-height-text-s: 24px;
  --bnum-font-height-text-xs: 20px;
  /* Graisses */
  --bnum-font-weight-bold: bold;
  --bnum-font-weight-medium: 500;
  --bnum-font-weight-normal: 400;
  /* =================================
     3. Espacements (Grille)
     ================================= */
  /* Basé sur une grille de 10px */
  --bnum-space-xs: 5px;
  /*  - Espace interne des boutons            */
  --bnum-space-s: 10px;
  /*  - Espace entre items de liste           */
  --bnum-space-m: 15px;
  /*  - Padding interne des cartes            */
  --bnum-space-l: 20px;
  /*  - Espace entre les cartes (organismes)  */
  --bnum-space-xl: 25px;
  /* - Espace entre sections                 */
  --bnum-space-title: var(--bnum-space-l);
  --bnum-space-alternate-title: var(--bnum-space-xl);
  --bnum-space-text: var(--bnum-space-l);
  --bnum-folder-title-padding: var(--bnum-space-s) var(--bnum-space-m);
  --bnum-folder-title-padding-larger: var(--bnum-space-m) var(--bnum-space-m);
  --bnum-folder-title-padding-smaller: var(--bnum-space-xs) var(--bnum-space-m);
  --bnum-folder-bal-title-padding: var(--bnum-space-m) var(--bnum-space-m);
  --bnum-folder-bal-title-padding-larger: var(--bnum-space-l) var(--bnum-space-m);
  --bnum-folder-bal-title-padding-smaller: var(--bnum-space-s) var(--bnum-space-m);
  /* =================================
     4. Bordures et Ombres
     ================================= */
  /* --- A. RADIUS (Arrondis) --- */
  --bnum-radius-s: 0;
  --bnum-radius-m: 5px;
  --bnum-radius-circle: 50%;
  --bnum-radius-pill: 9999px;
  /* --- B. WIDTHS (Epaisseurs) --- */
  --bnum-border-width-s: 1px;
  --bnum-border-width-m: 2px;
  --bnum-border-width-l: 4px;
  /* --- C. STYLES --- */
  --bnum-border-style-default: solid;
  --bnum-border-style-dashed: dashed;
  /* --- D. COMPOSITES (Shorthands Intelligents) --- */
  --bnum-border-in-surface: var(--bnum-border-style-default) var(--bnum-border-width-s) var(--bnum-color-in-surface-border);
  --bnum-border-in-surface-hover: var(--bnum-border-style-default) var(--bnum-border-width-s) var(--bnum-border-in-surface-hover);
  --bnum-border-in-surface-active: var(--bnum-border-style-default) var(--bnum-border-width-s) var(--bnum-border-in-surface-active);
  --bnum-border-surface: var(--bnum-border-style-default) var(--bnum-border-width-s) var(--bnum-color-primary);
  --bnum-border-column: var(--bnum-border-style-default) var(--bnum-border-width-s) #ddd;
  --bnum-border-in-column: var(--bnum-border-column);
  --_bnum-border-on-surface-bottom: var(--bnum-border-style-default) var(--bnum-border-width-l) var(--bnum-border-on-surface-bottom-color, var(--bnum-color-primary));
  --bnum-border-on-surface-bottom: var(--_bnum-border-on-surface-bottom, solid 4px #000091);
  /* Ombres (pour élever les cartes) */
  --bnum-shadow-s: 0 1px 2px rgba(0, 0, 0, 0.05);
  --bnum-shadow-m: 0 4px 8px rgba(0, 0, 0, 0.05);
  /* =================================
     5. Z-index
     ================================= */
  --bnum-zindex-dropdown: 10;
  --bnum-zindex-modal: 100;
  --bnum-zindex-tooltip: 1000;
  /* =================================
     6. Animations
     ================================= */
  --bnum-animation-rotate360: rotate360 1s linear infinite;
}
html.dark-mode:root,
html.dark-mode-custom:root {
  /* =================================
     1. Couleurs (Palette)
     ================================= */
  /* Sémantique de l'UI */
  --bnum-color-primary: #8585f6;
  --bnum-color-primary-hover: #b1b1f9;
  --bnum-color-primary-active: #c6c6fb;
  --bnum-color-secondary: #3a3a3a;
  --bnum-color-secondary-hover: #616161;
  --bnum-color-secondary-active: #777777;
  --bnum-color-danger: #ff5655;
  --bnum-color-danger-hover: #ff8c8c;
  --bnum-color-danger-active: #ffa6a6;
  --bnum-color-background: #161616;
  /* Le fond de la page */
  --bnum-color-surface: var(--bnum-color-background);
  --bnum-color-surface-hover: #343434;
  --bnum-color-surface-active: #474747;
  --bnum-header-color: #161616;
  /* Le fond des surfaces */
  --bnum-color-border: #353535;
  /* Bordure des surfaces */
  --bnum-color-in-surface-border: #353535;
  --bnum-color-in-surface-hover: #343434;
  --bnum-color-in-surface-active: #474747;
  --bnum-color-input: #2f2f2f;
  /* Fond des champs input */
  --bnum-color-input-hover: #545454;
  --bnum-color-input-active: #696969;
  --bnum-color-input-border: #cecece;
  /* Bordure des champs input */
  --bnum-color-left-column: #161616;
  /* Les items d'une liste ont forcément un fond transparent, 
     donc on se base sur le classique pour le selected,
     sur le hover pour le hover
     et le selected pour le drag and drop*/
  --bnum-color-list-idle: #161616;
  --bnum-color-list: #474747;
  --bnum-color-list-hover: #343434;
  --bnum-color-list-drag: #343434;
  --bnum-main-nav-color: #242424;
  --bnum-main-nav-color-hover: #474747;
  --bnum-main-nav-color-active: #5b5b5b;
  /* Texte */
  --bnum-text-primary: #cecece;
  /* Texte principal */
  --bnum-text-title-primary: #ffffff;
  /* Titres principaux */
  --bnum-text-hint: #1e1e1e;
  /* Texte d'aide / hint */
  --bnum-text-on-input: var(--bnum-text-primary);
  /* Texte sur fond input */
  --bnum-text-on-primary: #313178;
  /* Texte sur fond primaire */
  --bnum-text-on-primary-hover: var(--bnum-text-on-primary);
  --bnum-text-on-primary-active: var(--bnum-text-on-primary);
  --bnum-text-on-secondary: #8585f6;
  /* Texte sur fond secondaire */
  --bnum-text-on-secondary-hover: var(--bnum-text-on-secondary);
  --bnum-text-on-secondary-active: var(--bnum-text-on-secondary);
  --bnum-text-on-danger: #313178;
  /* Texte sur fond danger */
  --bnum-text-on-danger-hover: var(--bnum-text-on-danger);
  --bnum-text-on-danger-active: var(--bnum-text-on-danger);
  /* Sémantique de Feedback (vu sur les avatars) */
  --bnum-semantic-danger: #de350b;
  /* Rouge "DEV" */
  --bnum-semantic-success: #36b37e;
  /* Vert "TES" */
  --_border: var(--bnum-border-style-default) var(--bnum-border-width-s) var(--bnum-color-border);
  --bnum-border-on-surface-top: var(--_border);
  --bnum-border-on-surface-left: var(--_border);
  --bnum-border-on-surface-right: var(--_border);
  --bnum-button-secondary-background-color: var(--bnum-color-background);
  --_image-url: var(--_image-dark);
}
.hidden {
  display: none;
}
html.layout-small,
html.layout-phone,
html.touch {
  --size-display-state: none;
  --size-margin-right-state: 0;
  --size-margin-left-state: 0;
}
body {
  font-size: var(--bnum-body-font-size, var(--bnum-font-size-m, 1rem));
  font-family: var(--bnum-font-family-primary);
  --_color: var(--bnum-body-text-color, var(--bnum-text-primary));
  --_background: var(--bnum-body-background-color, var(--bnum-color-background));
  color: var(--_color);
  --layout-content-text-color: var(--_color);
  --main-text-color: var(--_color);
  --bureau-card-text-color: var(--_color);
  --default-text-color: var(--_color);
  background-color: var(--_background);
  --body-background-color: var(--_background);
  --bureau-background-color: var(--_background);
  --layout-sidebar-background-color: var(--_background);
}
h1 {
  font-size: var(--bnum-font-size-h1, 2.5rem);
  line-height: var(--bnum-font-height-h1, 48px);
  margin-bottom: var(--bnum-space-xl);
}
h2 {
  font-size: var(--bnum-font-size-h2, 2rem);
  line-height: var(--bnum-font-height-h2, 40px);
  margin-bottom: var(--bnum-space-xl);
}
h3 {
  font-size: var(--bnum-font-size-h3, 1.75rem);
  line-height: var(--bnum-font-height-h3, 36px);
  margin-bottom: var(--bnum-space-xl);
}
h4 {
  font-size: var(--bnum-font-size-h4, 1.5rem);
  line-height: var(--bnum-font-height-h4, 32px);
  margin-bottom: var(--bnum-space-xl);
}
h5 {
  font-size: var(--bnum-font-size-h5, 1.375rem);
  line-height: var(--bnum-font-height-h5, 28px);
  margin-bottom: var(--bnum-space-xl);
}
h6 {
  font-size: var(--bnum-font-size-h6, 1.25rem);
  line-height: var(--bnum-font-height-h6, 28px);
  margin-bottom: var(--bnum-space-xl);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  --_color: var(--bnum-title-text-color, var(--bnum-text-title-primary));
  color: var(--_color);
}
h1.no-margin,
h2.no-margin,
h3.no-margin,
h4.no-margin,
h5.no-margin,
h6.no-margin {
  margin-bottom: 0;
}
iframe {
  border: var(--bnum-iframe-border, none);
}
.ds-block {
  display: block;
  width: 100%;
  flex: 1;
}
bnum-hide {
  display: contents;
}
.ghost-container {
  width: 180px;
  background: var(--bnum-color-surface);
  border: var(--bnum-border-surface);
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  font-family: var(--bnum-font-family-primary);
}
.ghost-sender {
  font-size: 11px;
  color: var(--bnum-text-primary);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ghost-subject {
  font-size: 13px;
  color: var(--bnum-text-primary);
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Limite à 2 lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.ghost-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--bnum-color-primary);
  color: var(--bnum-text-on-primary);
  font-size: 10px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 10px;
  border: var(--bnum-border-in-surface);
}
.bds-nav-button {
  display: var(--bds-nav-button-display, flex);
  flex-direction: var(--bds-nav-button-flex-direction, column);
  align-content: var(--bds-nav-button-align-content, center);
  justify-content: var(--bds-nav-button-justify-content, center);
  align-items: var(--bds-nav-button-align-items, center);
  padding: 0.45rem;
}
.bds-nav-button::before {
  height: var(--bds-nav-button-icon-height, fit-content);
}
.bds-nav-button .inner {
  display: var(--bds-nav-button-text-display, block);
  font-size: var(--bds-nav-button-text-font-size, 90%);
  font-weight: var(--bds-nav-button-text-font-weight, 400);
}
.bds-nav-button-important {
  display: var(--bds-nav-button-display, flex) !important;
  flex-direction: var(--bds-nav-button-flex-direction, column) !important;
  align-content: var(--bds-nav-button-align-content, center) !important;
  justify-content: var(--bds-nav-button-justify-content, center) !important;
  align-items: var(--bds-nav-button-align-items, center) !important;
  padding: 0.45rem !important;
}
.bds-nav-button-important::before {
  height: var(--bds-nav-button-icon-height, fit-content) !important;
}
.bds-nav-button-important .inner {
  display: var(--bds-nav-button-text-display, block) !important;
  font-size: var(--bds-nav-button-text-font-size, 90%) !important;
  font-weight: var(--bds-nav-button-text-font-weight, 400) !important;
}
.bds-space-xs {
  margin: var(--bnum-space-xs);
}
.bds-space-xs-top {
  margin-top: var(--bnum-space-xs);
}
.bds-space-xs-bottom {
  margin-bottom: var(--bnum-space-xs);
}
.bds-space-xs-left {
  margin-left: var(--bnum-space-xs);
}
.bds-space-xs-right {
  margin-right: var(--bnum-space-xs);
}
.bds-space-xs-important {
  margin: var(--bnum-space-xs) !important;
}
.bds-space-xs-top-important {
  margin-top: var(--bnum-space-xs) !important;
}
.bds-space-xs-bottom-important {
  margin-bottom: var(--bnum-space-xs) !important;
}
.bds-space-xs-left-important {
  margin-left: var(--bnum-space-xs) !important;
}
.bds-space-xs-right-important {
  margin-right: var(--bnum-space-xs) !important;
}
.bds-space-s {
  margin: var(--bnum-space-s);
}
.bds-space-s-top {
  margin-top: var(--bnum-space-s);
}
.bds-space-s-bottom {
  margin-bottom: var(--bnum-space-s);
}
.bds-space-s-left {
  margin-left: var(--bnum-space-s);
}
.bds-space-s-right {
  margin-right: var(--bnum-space-s);
}
.bds-space-s-important {
  margin: var(--bnum-space-s) !important;
}
.bds-space-s-top-important {
  margin-top: var(--bnum-space-s) !important;
}
.bds-space-s-bottom-important {
  margin-bottom: var(--bnum-space-s) !important;
}
.bds-space-s-left-important {
  margin-left: var(--bnum-space-s) !important;
}
.bds-space-s-right-important {
  margin-right: var(--bnum-space-s) !important;
}
.bds-space-m {
  margin: var(--bnum-space-m);
}
.bds-space-m-top {
  margin-top: var(--bnum-space-m);
}
.bds-space-m-bottom {
  margin-bottom: var(--bnum-space-m);
}
.bds-space-m-left {
  margin-left: var(--bnum-space-m);
}
.bds-space-m-right {
  margin-right: var(--bnum-space-m);
}
.bds-space-m-important {
  margin: var(--bnum-space-m) !important;
}
.bds-space-m-top-important {
  margin-top: var(--bnum-space-m) !important;
}
.bds-space-m-bottom-important {
  margin-bottom: var(--bnum-space-m) !important;
}
.bds-space-m-left-important {
  margin-left: var(--bnum-space-m) !important;
}
.bds-space-m-right-important {
  margin-right: var(--bnum-space-m) !important;
}
.bds-space-l {
  margin: var(--bnum-space-l);
}
.bds-space-l-top {
  margin-top: var(--bnum-space-l);
}
.bds-space-l-bottom {
  margin-bottom: var(--bnum-space-l);
}
.bds-space-l-left {
  margin-left: var(--bnum-space-l);
}
.bds-space-l-right {
  margin-right: var(--bnum-space-l);
}
.bds-space-l-important {
  margin: var(--bnum-space-l) !important;
}
.bds-space-l-top-important {
  margin-top: var(--bnum-space-l) !important;
}
.bds-space-l-bottom-important {
  margin-bottom: var(--bnum-space-l) !important;
}
.bds-space-l-left-important {
  margin-left: var(--bnum-space-l) !important;
}
.bds-space-l-right-important {
  margin-right: var(--bnum-space-l) !important;
}
.bds-space-xl {
  margin: var(--bnum-space-xl);
}
.bds-space-xl-top {
  margin-top: var(--bnum-space-xl);
}
.bds-space-xl-bottom {
  margin-bottom: var(--bnum-space-xl);
}
.bds-space-xl-left {
  margin-left: var(--bnum-space-xl);
}
.bds-space-xl-right {
  margin-right: var(--bnum-space-xl);
}
.bds-space-xl-important {
  margin: var(--bnum-space-xl) !important;
}
.bds-space-xl-top-important {
  margin-top: var(--bnum-space-xl) !important;
}
.bds-space-xl-bottom-important {
  margin-bottom: var(--bnum-space-xl) !important;
}
.bds-space-xl-left-important {
  margin-left: var(--bnum-space-xl) !important;
}
.bds-space-xl-right-important {
  margin-right: var(--bnum-space-xl) !important;
}
.bds-padding-xs {
  padding: var(--bnum-space-xs);
}
.bds-padding-xs-top {
  padding-top: var(--bnum-space-xs);
}
.bds-padding-xs-bottom {
  padding-bottom: var(--bnum-space-xs);
}
.bds-padding-xs-left {
  padding-left: var(--bnum-space-xs);
}
.bds-padding-xs-right {
  padding-right: var(--bnum-space-xs);
}
.bds-padding-xs-important {
  padding: var(--bnum-space-xs) !important;
}
.bds-padding-xs-top-important {
  padding-top: var(--bnum-space-xs) !important;
}
.bds-padding-xs-bottom-important {
  padding-bottom: var(--bnum-space-xs) !important;
}
.bds-padding-xs-left-important {
  padding-left: var(--bnum-space-xs) !important;
}
.bds-padding-xs-right-important {
  padding-right: var(--bnum-space-xs) !important;
}
.bds-padding-s {
  padding: var(--bnum-space-s);
}
.bds-padding-s-top {
  padding-top: var(--bnum-space-s);
}
.bds-padding-s-bottom {
  padding-bottom: var(--bnum-space-s);
}
.bds-padding-s-left {
  padding-left: var(--bnum-space-s);
}
.bds-padding-s-right {
  padding-right: var(--bnum-space-s);
}
.bds-padding-s-important {
  padding: var(--bnum-space-s) !important;
}
.bds-padding-s-top-important {
  padding-top: var(--bnum-space-s) !important;
}
.bds-padding-s-bottom-important {
  padding-bottom: var(--bnum-space-s) !important;
}
.bds-padding-s-left-important {
  padding-left: var(--bnum-space-s) !important;
}
.bds-padding-s-right-important {
  padding-right: var(--bnum-space-s) !important;
}
.bds-padding-m {
  padding: var(--bnum-space-m);
}
.bds-padding-m-top {
  padding-top: var(--bnum-space-m);
}
.bds-padding-m-bottom {
  padding-bottom: var(--bnum-space-m);
}
.bds-padding-m-left {
  padding-left: var(--bnum-space-m);
}
.bds-padding-m-right {
  padding-right: var(--bnum-space-m);
}
.bds-padding-m-important {
  padding: var(--bnum-space-m) !important;
}
.bds-padding-m-top-important {
  padding-top: var(--bnum-space-m) !important;
}
.bds-padding-m-bottom-important {
  padding-bottom: var(--bnum-space-m) !important;
}
.bds-padding-m-left-important {
  padding-left: var(--bnum-space-m) !important;
}
.bds-padding-m-right-important {
  padding-right: var(--bnum-space-m) !important;
}
.bds-padding-l {
  padding: var(--bnum-space-l);
}
.bds-padding-l-top {
  padding-top: var(--bnum-space-l);
}
.bds-padding-l-bottom {
  padding-bottom: var(--bnum-space-l);
}
.bds-padding-l-left {
  padding-left: var(--bnum-space-l);
}
.bds-padding-l-right {
  padding-right: var(--bnum-space-l);
}
.bds-padding-l-important {
  padding: var(--bnum-space-l) !important;
}
.bds-padding-l-top-important {
  padding-top: var(--bnum-space-l) !important;
}
.bds-padding-l-bottom-important {
  padding-bottom: var(--bnum-space-l) !important;
}
.bds-padding-l-left-important {
  padding-left: var(--bnum-space-l) !important;
}
.bds-padding-l-right-important {
  padding-right: var(--bnum-space-l) !important;
}
.bds-padding-xl {
  padding: var(--bnum-space-xl);
}
.bds-padding-xl-top {
  padding-top: var(--bnum-space-xl);
}
.bds-padding-xl-bottom {
  padding-bottom: var(--bnum-space-xl);
}
.bds-padding-xl-left {
  padding-left: var(--bnum-space-xl);
}
.bds-padding-xl-right {
  padding-right: var(--bnum-space-xl);
}
.bds-padding-xl-important {
  padding: var(--bnum-space-xl) !important;
}
.bds-padding-xl-top-important {
  padding-top: var(--bnum-space-xl) !important;
}
.bds-padding-xl-bottom-important {
  padding-bottom: var(--bnum-space-xl) !important;
}
.bds-padding-xl-left-important {
  padding-left: var(--bnum-space-xl) !important;
}
.bds-padding-xl-right-important {
  padding-right: var(--bnum-space-xl) !important;
}
.bds-flex {
  display: flex;
}
.bds-flex.bds-flex-row {
  flex-direction: row;
}
.bds-flex.bds-flex-column {
  flex-direction: column;
}
.bds-flex.bds-flex-align-center {
  align-content: center;
  align-items: center;
}
.bds-flex.bds-flex-justify-between {
  justify-content: space-between;
}
.bds-flex.bds-flex-justify-center {
  justify-content: center;
}
.bds-flex.bds-flex-center,
.bds-center {
  align-content: center;
  align-items: center;
  justify-content: center;
}
.bds-flex.bds-flex-wrap {
  flex-wrap: wrap;
}
.bds-flex.bds-flex-nowrap {
  flex-wrap: nowrap;
}
.bds-flex-important {
  display: flex !important;
}
.bds-flex-important.bds-flex-row {
  flex-direction: row !important;
}
.bds-flex-important.bds-flex-column {
  flex-direction: column !important;
}
.bds-flex-important.bds-flex-align-center {
  align-content: center !important;
  align-items: center !important;
}
.bds-flex-important.bds-flex-justify-between {
  justify-content: space-between !important;
}
.bds-flex-important.bds-flex-justify-center {
  justify-content: center !important;
}
.bds-flex-important.bds-flex-center,
.bds-center-important {
  align-content: center !important;
  align-items: center !important;
  justify-content: center !important;
}
.bds-flex-important.bds-flex-wrap {
  flex-wrap: wrap !important;
}
.bds-flex-important.bds-flex-nowrap {
  flex-wrap: nowrap !important;
}
.bds-gap-xs {
  gap: var(--bnum-space-xs);
}
.bds-gap-xs-important {
  gap: var(--bnum-space-xs) !important;
}
.bds-gap-s {
  gap: var(--bnum-space-s);
}
.bds-gap-s-important {
  gap: var(--bnum-space-s) !important;
}
.bds-gap-m {
  gap: var(--bnum-space-m);
}
.bds-gap-m-important {
  gap: var(--bnum-space-m) !important;
}
.bds-gap-l {
  gap: var(--bnum-space-l);
}
.bds-gap-l-important {
  gap: var(--bnum-space-l) !important;
}
.bds-gap-xl {
  gap: var(--bnum-space-xl);
}
.bds-gap-xl-important {
  gap: var(--bnum-space-xl) !important;
}
.bds-text-xl {
  font-size: var(--bnum-font-size-xl);
  line-height: var(--bnum-font-height-text-xl);
}
.bds-text-l {
  font-size: var(--bnum-font-size-l);
  line-height: var(--bnum-font-height-text-l);
}
.bds-text-m {
  font-size: var(--bnum-font-size-m);
  line-height: var(--bnum-font-height-text-m);
}
.bds-text-s {
  font-size: var(--bnum-font-size-s);
  line-height: var(--bnum-font-height-text-s);
}
.bds-text-xs {
  font-size: var(--bnum-font-size-xs);
  line-height: var(--bnum-font-height-text-xs);
}
.bds-font-bold {
  font-weight: var(--bnum-font-weight-bold);
}
.bds-font-medium {
  font-weight: var(--bnum-font-weight-medium);
}
.bds-font-normal {
  font-weight: var(--bnum-font-weight-normal);
}
.bds-text-xxl {
  font-size: var(--bnum-font-size-xxl);
  line-height: var(--bnum-font-height-text-xxl, var(--bnum-font-height-text-xl));
}
.bds-block {
  display: block;
}
.bds-inline-block {
  display: inline-block;
}
.bds-inline-flex {
  display: inline-flex;
}
.bds-hidden {
  display: none;
}
.bds-overflow-hidden {
  overflow: hidden;
}
.bds-overflow-auto {
  overflow: auto;
}
.bds-overflow-scroll {
  overflow: scroll;
}
.bds-relative {
  position: relative;
}
.bds-absolute {
  position: absolute;
}
.bds-full-width {
  width: 100%;
}
.bds-full-height {
  height: 100%;
}
.bds-cursor-pointer {
  cursor: pointer;
}
.bds-cursor-default {
  cursor: default;
}
.bds-pointer-events-none {
  pointer-events: none;
}
.bds-user-select-none {
  user-select: none;
}
.bds-bg-primary {
  background-color: var(--bnum-color-primary);
}
.bds-bg-primary-hover {
  background-color: var(--bnum-color-primary-hover);
}
.bds-bg-primary-active {
  background-color: var(--bnum-color-primary-active);
}
.bds-bg-primary-action {
  background-color: var(--bnum-color-primary);
}
.bds-bg-primary-action:hover {
  background-color: var(--bnum-color-primary-hover);
}
.bds-bg-primary-action:active {
  background-color: var(--bnum-color-primary-active);
}
.bds-bg-secondary {
  background-color: var(--bnum-color-secondary);
}
.bds-bg-secondary-hover {
  background-color: var(--bnum-color-secondary-hover);
}
.bds-bg-secondary-active {
  background-color: var(--bnum-color-secondary-active);
}
.bds-bg-secondary-action {
  background-color: var(--bnum-color-secondary);
}
.bds-bg-secondary-action:hover {
  background-color: var(--bnum-color-secondary-hover);
}
.bds-bg-secondary-action:active {
  background-color: var(--bnum-color-secondary-active);
}
.bds-bg-danger {
  background-color: var(--bnum-color-danger);
}
.bds-bg-danger-hover {
  background-color: var(--bnum-color-danger-hover);
}
.bds-bg-danger-active {
  background-color: var(--bnum-color-danger-active);
}
.bds-bg-danger-action {
  background-color: var(--bnum-color-danger);
}
.bds-bg-danger-action:hover {
  background-color: var(--bnum-color-danger-hover);
}
.bds-bg-danger-action:active {
  background-color: var(--bnum-color-danger-active);
}
.bds-bg-input {
  background-color: var(--bnum-color-input);
}
.bds-bg-input-hover {
  background-color: var(--bnum-color-input-hover);
}
.bds-bg-input-active {
  background-color: var(--bnum-color-input-active);
}
.bds-bg-input-action {
  background-color: var(--bnum-color-input);
}
.bds-bg-input-action:hover {
  background-color: var(--bnum-color-input-hover);
}
.bds-bg-input-action:active {
  background-color: var(--bnum-color-input-active);
}
.bds-bg-main-nav {
  background-color: var(--bnum-main-nav-color);
}
.bds-bg-main-nav-hover {
  background-color: var(--bnum-main-nav-color-hover);
}
.bds-bg-main-nav-active {
  background-color: var(--bnum-main-nav-color-active);
}
.bds-bg-main-nav-action {
  background-color: var(--bnum-main-nav-color);
}
.bds-bg-main-nav-action:hover {
  background-color: var(--bnum-main-nav-color-hover);
}
.bds-bg-main-nav-action:active {
  background-color: var(--bnum-main-nav-color-active);
}
.bds-bg-surface {
  background-color: var(--bnum-color-surface);
}
.bds-bg-surface-hover {
  background-color: var(--bnum-color-in-surface-hover);
}
.bds-bg-surface-active {
  background-color: var(--bnum-color-in-surface-active);
}
.bds-bg-surface-action {
  background-color: var(--bnum-color-surface);
}
.bds-bg-surface-action:hover {
  background-color: var(--bnum-color-in-surface-hover);
}
.bds-bg-surface-action:active {
  background-color: var(--bnum-color-in-surface-active);
}
.bds-bg-list {
  background-color: var(--bnum-color-list);
}
.bds-bg-list-hover {
  background-color: var(--bnum-color-list-hover);
}
.bds-bg-list-active {
  background-color: var(--bnum-color-list-drag);
}
.bds-bg-list-action {
  background-color: var(--bnum-color-list);
}
.bds-bg-list-action:hover {
  background-color: var(--bnum-color-list-hover);
}
.bds-bg-list-action:active {
  background-color: var(--bnum-color-list-drag);
}
.bds-text-on-primary {
  color: var(--bnum-text-on-primary);
}
.bds-text-on-primary-hover {
  color: var(--bnum-text-on-primary-hover);
}
.bds-text-on-primary-active {
  color: var(--bnum-text-on-primary-active);
}
.bds-text-on-primary-action {
  color: var(--bnum-text-on-primary);
}
.bds-text-on-primary-action:hover {
  color: var(--bnum-text-on-primary-hover);
}
.bds-text-on-primary-action:active {
  color: var(--bnum-text-on-primary-active);
}
.bds-text-on-secondary {
  color: var(--bnum-text-on-secondary);
}
.bds-text-on-secondary-hover {
  color: var(--bnum-text-on-secondary-hover);
}
.bds-text-on-secondary-active {
  color: var(--bnum-text-on-secondary-active);
}
.bds-text-on-secondary-action {
  color: var(--bnum-text-on-secondary);
}
.bds-text-on-secondary-action:hover {
  color: var(--bnum-text-on-secondary-hover);
}
.bds-text-on-secondary-action:active {
  color: var(--bnum-text-on-secondary-active);
}
.bds-text-on-danger {
  color: var(--bnum-text-on-danger);
}
.bds-text-on-danger-hover {
  color: var(--bnum-text-on-danger-hover);
}
.bds-text-on-danger-active {
  color: var(--bnum-text-on-danger-active);
}
.bds-text-on-danger-action {
  color: var(--bnum-text-on-danger);
}
.bds-text-on-danger-action:hover {
  color: var(--bnum-text-on-danger-hover);
}
.bds-text-on-danger-action:active {
  color: var(--bnum-text-on-danger-active);
}
.bds-border-radius-s {
  border-radius: var(--bnum-radius-s);
}
.bds-border-radius-m {
  border-radius: var(--bnum-radius-m);
}
.bds-border-radius-circle {
  border-radius: var(--bnum-radius-circle);
}
.bds-border-radius-pill {
  border-radius: var(--bnum-radius-pill);
}
/* Width */
.bds-border-width-s {
  border-width: var(--bnum-border-width-s);
}
.bds-border-width-m {
  border-width: var(--bnum-border-width-m);
}
.bds-border-width-l {
  border-width: var(--bnum-border-width-l);
}
.bds-border-style-default {
  border-style: var(--bnum-border-style-default);
}
.bds-border-style-dashed {
  border-style: var(--bnum-border-style-dashed);
}
.bds-border-in-surface {
  border: var(--bnum-border-in-surface);
}
.bds-border-surface {
  border: var(--bnum-border-surface);
}
.bds-border-column {
  border: var(--bnum-border-column);
}
.bds-zindex-dropdown {
  z-index: var(--bnum-zindex-dropdown);
}
.bds-zindex-modal {
  z-index: var(--bnum-zindex-modal);
}
.bds-zindex-tooltip {
  z-index: var(--bnum-zindex-tooltip);
}
.bds-zindex-dropdown-important {
  z-index: var(--bnum-zindex-dropdown) !important;
}
.bds-zindex-modal-important {
  z-index: var(--bnum-zindex-modal) !important;
}
.bds-zindex-tooltip-important {
  z-index: var(--bnum-zindex-tooltip) !important;
}
.bds-list-item,
.bds-list-table tr {
  --_bdsli-idle: var(--bnum-list-item-color, var(--bnum-body-text-color, var(--bnum-text-primary)));
  --_bdsli-hover: var(--bnum-list-item-color-hover, var(--bnum-body-text-color, var(--bnum-text-primary)));
  --_bdsli-active: var(--bnum-list-item-color-active, var(--bnum-body-text-color, var(--bnum-text-primary)));
  --_bdsli-alt: var(--_bdsli-idle);
  --_bdsli-alt-bg: var(--bnum-color-list-alt);
  --_bdsli-idle-bg: var(--bnum-list-item-bg-color, var(--bnum-color-list-idle, transparent));
  --_bdsli-hover-bg: var(--bnum-list-item-bg-color-hover, var(--bnum-color-list-hover, transparent));
  --_bdsli-active-bg: var(--bnum-list-item-bg-color-active, var(--bnum-color-list-drag, transparent));
  background-color: var(--_bdsli-background-color, var(--_bdsli-idle-bg));
  color: var(--_bdsli-color, var(--_bdsli-idle));
}
.bds-list-item.selected,
.bds-list-item:active,
.bds-list-table tr.selected,
.bds-list-table tr:active {
  --_bdsli-background-color: var(--_bdsli-active-bg);
  --_bdsli-color: var(--_bdsli-active);
}
.bds-list-item.unread,
.bds-list-table tr.unread {
  --_bdsli-background-color: var(--_bdsli-alt-bg);
  --_bdsli-color: var(--_bdsli-alt);
}
.bds-list-item:hover,
.bds-list-table tr:hover {
  --_bdsli-background-color: var(--_bdsli-hover-bg);
  --_bdsli-color: var(--_bdsli-hover);
}
.bds-list-item.--no-shadow,
.bds-list-table.--no-shadow tr {
  box-shadow: none !important;
  --message-list-hover-shadow: none;
}
.bds-list-item.--no-rc,
.bds-list-table.--no-rc,
.bds-list-table.--no-rc tr {
  --_no-rc-color: var(--_bdsli-color, var(--_bdsli-idle));
  --message-list-content-mail-address-color: var(--_no-rc-color);
  --message-list-content-mail-address-hover-color: var(--_no-rc-color);
  --message-list-content-mail-subject-color: var(--_no-rc-color);
  --message-list-content-mail-subject-hover-color: var(--_no-rc-color);
  --message-list-content-selected-mail-subject-color: var(--_no-rc-color);
  --mail-unread-icon-color: var(--_no-rc-color);
  --mail-unread-icon-hover-color: var(--_bdsli-hover);
  --mail-icon-hover-color: var(--_bdsli-hover);
}
.bds-list-item.--no-rc.selected,
.bds-list-table.--no-rc tr.selected {
  --message-list-content-selected-mail-subject-color: var(--_no-rc-color);
  --secondary-bckg-color: var(--_bdsli-active-bg);
  --secondary-text-color: var(--_bdsli-active, red);
  --message-list-content-selected-mail-button-color: var(--_bdsli-active, red);
  --message-list-content-selected-mail-subject-hover-color: var(--_bdsli-active, red);
  --message-list-content-selected-mail-address-hover-color: var(--_bdsli-active, red);
  --message-list-content-selected-mail-button-hover-color: var(--_bdsli-active, red);
  --mail-icon-hover-color: var(--_bdsli-active, red);
  --message-list-content-selected-mail-subject-color: var(--_bdsli-active, red);
}
.bds-list-item.--no-rc.selected span,
.bds-list-item.--no-rc.selected td,
.bds-list-table.--no-rc tr.selected span,
.bds-list-table.--no-rc tr.selected td {
  background-color: var(--_bdsli-active-bg);
  color: var(--_bdsli-active, red);
}
.bds-list-item.--no-rc.unread,
.bds-list-table.--no-rc tr.unread {
  --alternate-bckg-color: var(--_bdsli-alt-bg);
  --message-list-content-mail-address-color: var(--_bdsli-alt);
  --message-list-content-mail-subject-color: var(--_bdsli-alt);
}
.bds-list-item.--no-rc:hover,
.bds-list-table.--no-rc tr:hover {
  --_bdsli-active-bg: var(--_bdsli-hover-bg);
  --_bdsli-alt-bg: var(--_bdsli-hover-bg);
}
.bds-list-table.--no-rc tr td {
  background-color: transparent !important;
}
.popover {
  --_idle-background: var(--nav-button-background, transparent);
  --_idle-color: var(--nav-button-color, var(--bnum-body-text-color, var(--bnum-text-primary)));
  --_hover-background: var(--nav-button-background-hover, var(--bnum-color-secondary-hover));
  --_hover-color: var(--nav-button-color-hover, var(--_idle-color));
  --_active-background: var(--nav-button-background-active, var(--bnum-color-secondary-active));
  --_active-color: var(--nav-button-color-active, var(--_idle-color));
  --_focus-background: var(--nav-button-color-focus, var(--_active-background));
  --_focus-color: var(--nav-button-color-focus, var(--_active-color));
}
.popover span {
  background-color: transparent !important;
}
.popover li,
.popover .menu .dropbutton a.dropdown,
.popover a {
  background-color: var(--_idle-background);
  color: var(--_idle-color);
}
.popover li:hover,
.popover .menu .dropbutton a.dropdown:hover,
.popover a:hover,
.popover li:hover + a.dropdown,
.popover .menu .dropbutton a.dropdown:hover + a.dropdown,
.popover a:hover + a.dropdown {
  background-color: var(--_hover-background);
  color: var(--_hover-color);
  --popover-hover-background-color: var(--_hover-background);
  --popover-hover-text-color: var(--_hover-color);
  --popover-hover-icon-color: var(--_hover-color);
}
.popover li:hover + a.dropdown,
.popover .menu .dropbutton a.dropdown:hover + a.dropdown,
.popover a:hover + a.dropdown {
  --_idle-background: var(--_hover-background);
  --_idle-color: var(--_hover-color);
}
.popover li:active,
.popover .menu .dropbutton a.dropdown:active,
.popover a:active {
  background-color: var(--_active-background);
  color: var(--_active-color);
}
.popover li:focus,
.popover .menu .dropbutton a.dropdown:focus,
.popover a:focus {
  background-color: var(--_focus-background);
  color: var(--_focus-color);
}
.popover .menu li a[aria-haspopup]::after {
  color: var(--_idle-color);
}
