<?php

// Configuration de la recherche dans le menu du haut.
$config["search"] = [];
//Vous pouvez commenter les recherches qui ne vous interesse pas, une recheche ce configure comme ceci : 
/*
$config["search"]["module"] = [
    "type" => "type d'action",
    "action" => "action dans le plugin",
    "headers" => "où chercher",
    "startDate" => "date de départ de la recherche",
    "endDate"  => "date de fin de la recherche"
];

"type" sert à dire de quel plugin vient la recherche, "default" pour le plugin mel_metapage, "calendar" pour le plugin calendar.
=> Liste des types disponibles : "default", "calendar"

"action" c'est l'action à efféctuer lorsque l'on effectue une recherche dans la barre de recherche.
=> Uniquement disponible pour le type "default"

"headers" ce sont les champs, si ils éxistent, à tester.
=> Uniquement disponible pour le type "défaut"

"startDate", la date de départ pour la recherche des évènements dans le calendrier. "now" signifie la date de maintenant, auquel on peut ajouter ou soustraire un nombre de jours.
"endDate", la date de fin pour la recherche des évènements dans le calendrier. 
=> Uniquement disponible pour le type "calendar".

 */
$config["search"]["mail"] = [
    "type" => "default",
    "action" => "search_mail"
];
$config["search"]["contact"] = [
    "type" => "default",
    "action" => "search_contact",
    //Possibilité d'enlever des champs, vous pouvez choisir de rechercher dans tout les champs
    //contact en mettant seulement '*'.
    "headers" => "name,firstname,surname,email"
    //nom complet, prénom, nom de famille, email  
];
$config["search"]["calendar"] = [
    "type" => "calendar",
    //nom peux être suivi de + ou - ainsi qu'un nombre de jours.
    "startDate" => "now",
    "endDate" => "now+60"
];

//Configuration de la popup d'ariane.
$config["pop_up_ariane"] = [
    //A ne pas supprimer, position par défaut pour toute les pages.
    "all" => ["right" => "50px", "bottom" => "50px"],
    //Exception pour la page "Discussion", cache le bouton.
    "discussion" => ["hidden"=> true],
    //Exception pour la page "Ariane", cache le bouton.
    "ariane" => ["hidden" => true]
];

//Configuration des type de documents disponible à la création.
/*
    name => nom du type de document
    icon => icon qui sera affiché
    default_ext => extention par défaut du fichier
    type => type de document, existe : 
        raw => un fichier texte
        text => un fichier text libre office
        calc => une feuille de calcul libre office
        presentation => un "power point" libre office
    tags => Différents comportements,
        "f" => "Féminin", le nom du type de document est féminin.
        "l" => "libre", il est possible de changer l'extention à la création.
*/
$config["documents_types"] = [
    ["name" => "Document texte", "icon" => "txt", "default_ext" => "md", "type" => "raw", "tags" => ["l"]],
    ["name" => "Document office", "icon" => "word", "default_ext" => "odt", "type" => "text"],
    ["name" => "Feuille de calcul", "icon" => "calc", "default_ext" => "ods", "type" => "calc", "tags" => ["f"]],
    ["name" => "Document texte", "icon" => "pp", "default_ext" => "odp", "type" => "presentation"]
];