@font-face {
  font-family: 'DWP';
  src:
    url('fonts/DWP.ttf?9y9xnr') format('truetype'),
    url('fonts/DWP.woff?9y9xnr') format('woff'),
    url('fonts/DWP.svg?9y9xnr#DWP') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-mel-"], [class*=" icon-mel-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'DWP' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mel-lock:before {
  content: "\e966";
  color: #363a5b;
}
.icon-mel-log-out:before {
  content: "\e967";
  color: #363a5b;
}
.icon-mel-clock:before {
  content: "\e95e";
  color: #363a5b;
}
.icon-mel-descri:before {
  content: "\e960";
  color: #363a5b;
}
.icon-mel-eye-crossed:before {
  content: "\e961";
  color: #363a5b;
}
.icon-mel-eye:before {
  content: "\e962";
  color: #363a5b;
}
.icon-mel-pin-location:before {
  content: "\e963";
  color: #363a5b;
}
.icon-mel-notif:before {
  content: "\e964";
  color: #363a5b;
}
.icon-mel-print:before {
  content: "\e965";
  color: #363a5b;
}
.icon-mel-trello:before {
  content: "\e94c";
}
.icon-mel-arrow-left:before {
  content: "\e93b";
}
.icon-mel-arrow-right:before {
  content: "\e900";
}
.icon-mel-arrow-down:before {
  content: "\e91d";
}
.icon-mel-calendar:before {
  content: "\e901";
}
.icon-mel-check:before {
  content: "\e903";
}
.icon-mel-chevron-right:before {
  content: "\e904";
}
.icon-mel-chevron-left:before {
  content: "\e905";
}
.icon-mel-chevron-up:before {
  content: "\e906";
}
.icon-mel-chevron-down:before {
  content: "\e907";
}
.icon-mel-close:before {
  content: "\e908";
}
.icon-mel-popup-cose:before {
  content: "\e93f";
}
.icon-mel-coffee:before {
  content: "\e909";
}
.icon-mel-copy:before {
  content: "\e90a";
}
.icon-mel-favorite:before {
  content: "\e90b";
}
.icon-mel-updgrade-1:before {
  content: "\e950";
}
.icon-mel-dots:before {
  content: "\e90c";
}
.icon-mel-download:before {
  content: "\e90d";
}
.icon-mel-upload:before {
  content: "\e95f";
  color: #363a5b;
}
.icon-mel-edit:before {
  content: "\e90e";
}
.icon-mel-expand:before {
  content: "\e90f";
}
.icon-mel-popup-expand:before {
  content: "\e940";
}
.icon-mel-fullscreen-interface:before {
  content: "\e947";
}
.icon-mel-external:before {
  content: "\e910";
}
.icon-mel-popup-external:before {
  content: "\e941";
}
.icon-mel-heart:before {
  content: "\e911";
}
.icon-mel-file-empty:before {
  content: "\e93c";
}
.icon-mel-file-pdf:before {
  content: "\e912";
}
.icon-mel-file-word:before {
  content: "\e913";
}
.icon-mel-file-excel:before {
  content: "\e914";
}
.icon-mel-file-ppt:before {
  content: "\e942";
}
.icon-mel-folder:before {
  content: "\e915";
}
.icon-mel-folder-2:before {
  content: "\e951";
}
.icon-mel-cloud:before {
  content: "\e952";
}
.icon-mel-cloud-alt:before {
  content: "\e94f";
}
.icon-mel-hand:before {
  content: "\e916";
}
.icon-mel-help:before {
  content: "\e917";
}
.icon-mel-home:before {
  content: "\e918";
}
.icon-mel-intranet:before {
  content: "\e919";
}
.icon-mel-newspaper:before {
  content: "\e91a";
}
.icon-mel-life:before {
  content: "\e91b";
}
.icon-mel-link:before {
  content: "\e91c";
}
.icon-mel-mail:before {
  content: "\e91e";
}
.icon-mel-compose:before {
  content: "\e953";
}
.icon-mel-pencil:before {
  content: "\e95c";
}
.icon-mel-send:before {
  content: "\e954";
}
.icon-mel-label-full:before {
  content: "\e955";
}
.icon-mel-label:before {
  content: "\e956";
}
.icon-mel-flag-full:before {
  content: "\e957";
}
.icon-mel-flag:before {
  content: "\e958";
}
.icon-mel-pj:before {
  content: "\e959";
}
.icon-mel-menu:before {
  content: "\e91f";
}
.icon-mel-message:before {
  content: "\e920";
}
.icon-mel-unreads:before {
  content: "\e943";
}
.icon-mel-micro:before {
  content: "\e921";
}
.icon-mel-micro2:before {
  content: "\e948";
}
.icon-mel-micro-off:before {
  content: "\e949";
}
.icon-mel-phone:before {
  content: "\e927";
}
.icon-mel-camera:before {
  content: "\e902";
}
.icon-mel-camera2:before {
  content: "\e94a";
}
.icon-mel-camera-off:before {
  content: "\e94b";
}
.icon-mel-notes:before {
  content: "\e923";
}
.icon-mel-paragraph-extend:before {
  content: "\e924";
}
.icon-mel-parameters-invert:before {
  content: "\e925";
}
.icon-mel-parameters:before {
  content: "\e926";
}
.icon-mel-options:before {
  content: "\e95d";
}
.icon-mel-pin:before {
  content: "\e928";
}
.icon-mel-plus:before {
  content: "\e929";
}
.icon-mel-minus:before {
  content: "\e922";
}
.icon-mel-minus-roundless:before {
  content: "\e945";
}
.icon-mel-reply:before {
  content: "\e92a";
}
.icon-mel-reply-all:before {
  content: "\e95a";
}
.icon-mel-rss:before {
  content: "\e92b";
}
.icon-mel-screen-share:before {
  content: "\e92c";
}
.icon-mel-search:before {
  content: "\e92d";
}
.icon-mel-share-info:before {
  content: "\e92e";
}
.icon-mel-share:before {
  content: "\e92f";
}
.icon-mel-sondage:before {
  content: "\e930";
}
.icon-mel-survey:before {
  content: "\e931";
}
.icon-mel-task:before {
  content: "\e932";
}
.icon-mel-time:before {
  content: "\e933";
}
.icon-mel-trash:before {
  content: "\e934";
}
.icon-mel-twitter:before {
  content: "\e935";
}
.icon-mel-undo:before {
  content: "\e936";
}
.icon-mel-user:before {
  content: "\e937";
}
.icon-mel-videoconference:before {
  content: "\e938";
}
.icon-mel-warning:before {
  content: "\e939";
}
.icon-mel-round-warning:before {
  content: "\e944";
}
.icon-mel-workplace:before {
  content: "\e93a";
}
.icon-mel-last-frame:before {
  content: "\e93d";
}
.icon-mel-refresh:before {
  content: "\e95b";
}
.icon-mel-popup-anchor:before {
  content: "\e93e";
}
.icon-mel-grid:before {
  content: "\e946";
}
.icon-mel-full-dot:before {
  content: "\e94d";
}
.icon-mel-empty-dot:before {
  content: "\e94e";
}
.icon-mel-painting:before {
  content: "\e968";
}
