@font-face {
  font-family: 'DWP';
  src:
    url('fonts/DWP.ttf?aq0opr') format('truetype'),
    url('fonts/DWP.woff?aq0opr') format('woff'),
    url('fonts/DWP.svg?aq0opr#DWP') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'DWP' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mel-arrow-right:before {
  content: "\e900";
}
.icon-mel-calendar:before {
  content: "\e901";
}
.icon-mel-camera:before {
  content: "\e902";
}
.icon-mel-check:before {
  content: "\e903";
}
.icon-mel-chevron-right:before {
  content: "\e904";
}
.icon-mel-chevron-left:before {
  content: "\e905";
}
.icon-mel-chevron-up:before {
  content: "\e906";
}
.icon-mel-chevron-down:before {
  content: "\e907";
}
.icon-mel-close:before {
  content: "\e908";
}
.icon-mel-coffee:before {
  content: "\e909";
}
.icon-mel-copy:before {
  content: "\e90a";
}
.icon-mel-favorite:before {
  content: "\e90b";
}
.icon-mel-dots:before {
  content: "\e90c";
}
.icon-mel-download:before {
  content: "\e90d";
}
.icon-mel-edit:before {
  content: "\e90e";
}
.icon-mel-expand:before {
  content: "\e90f";
}
.icon-mel-external:before {
  content: "\e910";
}
.icon-mel-heart:before {
  content: "\e911";
}
.icon-mel-file-pdf:before {
  content: "\e912";
}
.icon-mel-file-word:before {
  content: "\e913";
}
.icon-mel-file-excel:before {
  content: "\e914";
}
.icon-mel-folder:before {
  content: "\e915";
}
.icon-mel-hand:before {
  content: "\e916";
}
.icon-mel-help:before {
  content: "\e917";
}
.icon-mel-home:before {
  content: "\e918";
}
.icon-mel-intranet:before {
  content: "\e919";
}
.icon-mel-newspaper:before {
  content: "\e91a";
}
.icon-mel-life:before {
  content: "\e91b";
}
.icon-mel-link:before {
  content: "\e91c";
}
.icon-mel-arrow-down:before {
  content: "\e91d";
}
.icon-mel-mail:before {
  content: "\e91e";
}
.icon-mel-menu:before {
  content: "\e91f";
}
.icon-mel-message:before {
  content: "\e920";
}
.icon-mel-micro:before {
  content: "\e921";
}
.icon-mel-minus:before {
  content: "\e922";
}
.icon-mel-notes:before {
  content: "\e923";
}
.icon-mel-paragraph-extend:before {
  content: "\e924";
}
.icon-mel-parameters-invert:before {
  content: "\e925";
}
.icon-mel-parameters:before {
  content: "\e926";
}
.icon-mel-phone:before {
  content: "\e927";
}
.icon-mel-pin:before {
  content: "\e928";
}
.icon-mel-plus:before {
  content: "\e929";
}
.icon-mel-reply:before {
  content: "\e92a";
}
.icon-mel-rss:before {
  content: "\e92b";
}
.icon-mel-screen-share:before {
  content: "\e92c";
}
.icon-mel-search:before {
  content: "\e92d";
}
.icon-mel-share-info:before {
  content: "\e92e";
}
.icon-mel-share:before {
  content: "\e92f";
}
.icon-mel-sondage:before {
  content: "\e930";
}
.icon-mel-survey:before {
  content: "\e931";
}
.icon-mel-task:before {
  content: "\e932";
}
.icon-mel-time:before {
  content: "\e933";
}
.icon-mel-trash:before {
  content: "\e934";
}
.icon-mel-twitter:before {
  content: "\e935";
}
.icon-mel-undo:before {
  content: "\e936";
}
.icon-mel-user:before {
  content: "\e937";
}
.icon-mel-videoconference:before {
  content: "\e938";
}
.icon-mel-warning:before {
  content: "\e939";
}
.icon-mel-workplace:before {
  content: "\e93a";
}
.icon-mel-arrow-left:before {
  content: "\e93b";
}
.icon-mel-file-empty:before {
  content: "\e93c";
  color: #363a5b;
}
