html.theme-super-classique {
  .task-addressbook {
    #layout {
      background-color: var(--mail-layout-sidebar-background-color);
    }

    #layout-sidebar {
      color: var(--main-text-color) !important;

      .header {
        color: var(--main-text-color) !important;
        margin: 0 15px;

        >span {
          font-weight: normal;
          text-align: left;
        }
      }

      .scroller {

        .listing {
          padding: 0 10px;

          li {
            margin-bottom: 5px;

            &:hover>a {
              background-color: var(--main-layout-hover-background-color) !important;
              border-radius: 5px;
            }

            >a {
              color: var(--main-text-color);

              &:focus {
                border-left: 2px solid var(--invisible) !important;
                background-color: var(--main-layout-hover-background-color) !important;
                border-radius: 5px;
              }
            }

            &.selected {
              border-radius: 5px;

              >a {
                background-color: #edebe9 !important;
              }
            }
          }
        }

        .div-gestion-option {
          .gestion-options {
            color: var(--main-text-color) !important;

            &:hover {
              background-color: var(--main-layout-hover-background-color) !important;
              border-radius: 5px;
            }

            &[aria-describedby] {
              background-color: var(--main-layout-hover-background-color) !important;
              border-radius: 5px;
            }
          }
        }
      }
    }

    #layout-list {
      margin-left: 8px !important;
      margin-right: 8px;

      #annuaire-list {
        li.selected {
          border-bottom: solid thin var(--invisible) !important;
        }
      } 
      .header {
        background: var(--main-layout-content-background-color) !important;
        border-radius: 15px !important;
        margin: 10px 0px;
        box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132), 0 .3px .9px 0 rgba(0, 0, 0, .108);

        li a.button:hover {
          border-top-color: var(--invisible) !important;
        }
      }

      separate {
        display: none;
      }

      >.scroller {
        &:extend(html.theme-super-classique .task-addressbook #layout-list .header);
        padding-top: 15px;
        margin-top: 0;
        margin-bottom: 5px;

        .listing {
          margin: 0 15px;

          li {
            &.selected {
              border-left: none !important;
              
              border-radius: 5px;
            }
            &:hover {
              border-bottom-color: var(--invisible) !important;
              border-radius: 5px;
            }
          }
        }

        table {
          &:extend(html.theme-super-classique .task-addressbook #layout-list >.scroller .listing);

          &.listing {
            width: 95%;

            tbody {
              tr {
                &.selected {
                  td {
                    &:extend(html.theme-super-classique .task-addressbook #layout-list >.scroller .listing li.selected);
                  }
                }

                td {
                  border-bottom: none !important;

                  &:hover {
                    border-radius: 5px;
                  }

                  &:focus {
                    border-left: 2px solid var(--invisible) !important;
                    background-color: var(--main-layout-hover-background-color) !important;
                    border-radius: 5px;
                  }
                }
              }
            }

            &.focus:not(.withselection) {
              tbody {
                tr.focused {
                  >td.selection+td {
                    border-left: 2px solid var(--invisible) !important;
                    background-color: var(--main-layout-hover-background-color) !important;
                    border-radius: 5px;
                  }
                }
              }
            }
          }
        }
      }

      .footer {
        border-top: none;
        background-color: var(--mail-layout-sidebar-background-color);
      }

    }

    #layout-content {
      margin-right: 8px;
      background-color: var(--mail-layout-sidebar-background-color);

      .header {
        &:extend(html.theme-super-classique .task-addressbook #layout-list .header);
        margin-bottom: 0;

        a:hover {
          border-top-color: var(--invisible) !important;
        }
      }

      .iframe-wrapper {
        &:extend(html.theme-super-classique .task-addressbook #layout-list .header);
        margin-bottom: 8px;

        #contact-frame {
          border-radius: 20px;
        }
      }
    }
  }
}


html.theme-super-classique.layout-normal {
  .task-addressbook {
    #layout-list {
      margin-left: 68px !important;

    }
  }
}