html.theme-super-classique {
  .barup {
    #button-notes {
      color: var(--tierciary-text-color);

      &:hover {
        color: var(--button-color-alt);
      }
    }

    #barup-search-input,
    .search .input-group-append span {
      background-color: var(--secondary-nav-background-color) !important;
    }
  }
}