html.theme-super-classique {
  .task-calendar {
    #layout {
      background-color: var(--mail-layout-sidebar-background-color);

      #layout-sidebar {

        >.header {
          >a:hover {
            border-top: unset !important;
            border-radius: 5px;
          }

          >a:focus {
            background-color: var(--main-layout-hover-background-color);
          }
        }

        .scroller {
          .listing {
            padding: 0 14px;

            &.treelist.iconized {
              li {
                margin-top: 5px;

                a {
                  border: none !important;
                  
                  &:focus {
                    background-color: #edebe9;
                  }
                }

                >div {
                  border-radius: 5px;
                  overflow: hidden;
                  border-left: none !important;
                  margin-top: 0px;
                  border-bottom: solid thin var(--invisible) !important;

                }

                &.selected {
                  >div>* {
                    border: inherit !important;
                  }
                }

                div.treetoggle {
                  top: 5px;
                  left: 10px;
                }
              }
            }
          }
        }

        #datepicker {
          #datepicker-onoff {
            background-color: var(--layout-list-background-color);

            &:hover {
              background-color: var(--main-layout-hover-background-color) !important;
            }
          }
        }

      }

      #layout-content {
        margin-right: 8px;

        >.header {
          background: var(--main-layout-content-background-color) !important;
          border-radius: 15px !important;
          margin: 10px 0px;
          box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132), 0 .3px .9px 0 rgba(0, 0, 0, .108);

          #calendartoolbar {
            a {
              border-top: solid thin var(--invisible) !important;
            }
          }
        }

        #calendar {
          &:extend(html.theme-super-classique .task-calendar #layout #layout-content>.header);
          margin-top: 0;

          .fc-header-toolbar {
            background-color: var(--main-layout-content-background-color);

            .fc-right {
              button {
                &:hover {
                  background-color: var(--main-layout-hover-background-color);
                  border-color: transparent;
                  color: var(--main-text-color);
                }
              }
            }
          }
        }
      }
    }
  }
}