html.theme-super-classique.dark-mode-custom {

  #eventedit .edit-alarm-value,
  #eventedit .edit-alarm-offset,
  #eventedit .edit-alarm-related,
  .input-group-append>button.input-group-text.mel-text,
  #wspf.form-control.input-mel,
  .search>.input-group>.form-control,
  .search>.input-group>.input-group-append>.input-group-text,
  .mel-input-container.form-control.input-mel,
  body.task-calendar select.mel-input.calendar,
  #wsp-search-input,
  .mel-search-group>.input-group-append>.input-group-text,
  .searchbar.menu {
    background-color: transparent;
    color: var(--secondary-text-color) !important;
    border-color: var(--mel-button-border-color-alt);
  }

  .search>.input-group>.form-control::placeholder {
    color: #96845f;
  }

  #folderlist-content>a.button,
  .listing li a,
  #layout>div>.footer a.button,
  #layout>div>.header a.button,
  .square_div>.contents,
  .btn-text.btn.btn-secondary,
  .headlines-by,
  .mel-not-link {
    color: var(--main-text-color);
  }

  .popover {
    background-color: var(--popover-background-color);
    border-color: var(--main-text-color);
    box-shadow: none;
  }

  .ui-widget-content,
  .ui-widget-header {
    background-color: var(--popup-background-color);
    color: var(--popup-text-color);
  }

  .ui-datepicker .ui-datepicker-header,
  .ui-dialog .ui-dialog-buttonpane,
  .ui-dialog .ui-dialog-titlebar,
  .ui-widget,
  fieldset.image-attachment legend,
  p.image-attachment {
    border-color: var(--popup-border-color);
  }

  .ui-dialog .ui-dialog-title,
  .ui-dialog .ui-dialog-titlebar-close {
    color: var(--popup-title-color);
    background: 0 0;
  }

  .custom-file-label:focus:not(.is-invalid),
  .form-control:focus:not(.is-invalid) {
    color: var(--dropdown-color-focus);
    border-color: var(--dropdown-border-color-focus);
  }

  .custom-file-label:not(.is-invalid),
  .form-control:not(.is-invalid) {
    border-color: var(--dropdown-border-color);
  }

  .custom-file-label, .form-control {
    color: var(--dropdown-color) ;
  }

  .btn-primary {
    background-color: var(--btn-primary-bckg-color);
    color: var(--btn-primary-color);
  }

  .cancel.btn-secondary {
    background-color: var(--btn-secondary-bckg-color);
    color: var(--btn-secondary-color);
  }

  .custom-select {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23c5d1d3' viewBox='0 0 4 5'%3e%3cpath d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right .75rem center/8px 10px no-repeat;
  }

  .ui-widget-overlay {
    background-color: var(--popup-overlay);
  }
}