html.theme-super-classique {
  .task-mail {
    #layout {
      background-color: var(--mail-layout-sidebar-background-color);
    }

    #layout-sidebar {
      border-right-color: transparent;

      .scroller {
        >a:hover {
          border-top: solid thin var(--invisible) !important;
          border-radius: var(--main-layout-element-border-radius);
        }


        >.listing {
          li {
            a {

              // margin-top: 5px;
              &:hover {
                border-bottom: solid thin var(--invisible) !important;
                border-radius: 5px !important;
              }
            }

            &.mailbox {
              .unreadcount {
                // top: 5px;
              }
            }

            >ul li[aria-level="2"]:first-of-type {
              .unreadcount {
                // top: 15px !important;
              }

              div.treetoggle {
                // top: 15px !important;
              }
            }
          }

          li.selected {
            a {
              border-left-color: transparent !important;
              border-bottom: solid thin var(--invisible) !important;
              border-radius: var(--main-layout-element-border-radius);
            }
          }

          div.treetoggle {
            // top: 5px;
          }
        }
      }
    }

    #layout-list {
      margin-left: 8px !important;
      margin-right: 8px;
      background-color: var(--mail-layout-sidebar-background-color) !important;
      border-right-color: transparent;

      #messagelist-header {
        background: var(--main-layout-content-background-color) !important;
        border-radius: var(--main-layout-panel-border-radius) !important;
        margin: 10px 0px;
        box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132), 0 .3px .9px 0 rgba(0, 0, 0, .108);

        a:hover {
          border-top: solid thin var(--invisible) !important;
        }

        a:focus {
          color: var(--main-text-color) !important;
        }
      }

      #messagelist-content {
        &:extend(html.theme-super-classique .task-mail #layout-list #messagelist-header);
        margin-top: 0px;

        #messagelist {
          tbody {
            td:hover {
              background-color: var(--invisible);
            }
          }

          tr {
            &.selected {
              background-color: transparent;

              .subject {
                color: var(--main-text-color) !important;
              }

              >td.selection {
                +td {
                  border-left: 2px solid var(--invisible) !important;
                }
              }
            }

            &.unread {
              background-color: transparent;

              >td.selection {
                +td {
                  // border-left-color: var(--invisible) !important;
                }
              }

              &.selected {
                >td.selection {
                  +td {
                    border-left-color: var(--invisible) !important;
                  }
                }
              }
            }

            &.message {
              &:hover:not(.selected) {
                td {

                  // background-color: var(--main-layout-hover-background-color) !important;
                }
              }

              &.contextRow.context-source {
                --secondary-text-color: var(--main-text-color);
                font-style: italic;

                * {
                  --secondary-text-color: var(--main-text-color);
                  font-style: italic;
                }
              }
            }
          }

        }
      }
    }

    #layout-content {
      background-color: var(--mail-layout-sidebar-background-color) !important;
      border-left: none !important;
      margin-right: 8px;

      >.header {
        &:extend(html.theme-super-classique .task-mail #layout-list #messagelist-header);

        #toolbar-menu li a:hover {
          border-top: solid thin var(--invisible) !important;
        }
      }

      .iframe-wrapper {
        &:extend(html.theme-super-classique .task-mail #layout-list #messagelist-header);
        margin-top: 0px;
      }
    }
  }

  .task-mail.action-preview {
    background-color: transparent !important;

    #layout-content {
      background-color: transparent !important;
    }
  }
}

html.theme-super-classique.layout-normal {
  .task-mail {
    #layout-list {
      margin-left: 68px !important;

    }
  }
}