html.theme-super-classique {
  .task-settings {
    #layout {
      background-color: var(--mail-layout-sidebar-background-color);
    }

    #layout-sidebar {
      .header {
        color: var(--main-text-color) !important;
        margin: 0 15px;

        >a {
          color: var(--main-text-color) !important;
        }
      }

      .scroller {

        .listing {
          padding: 0 10px;

          li {
            margin-bottom: 5px;

            &:hover {
              background-color: var(--main-layout-hover-background-color);
              border-radius: var(--main-layout-element-border-radius);
            }

            a {
              color: var(--main-text-color);
              border-radius: var(--main-layout-element-border-radius);
            }

            &.selected {
              border-radius: var(--main-layout-element-border-radius);
            }

            &#settingstabpluginmel_resources_bal,
            &#settingstabpluginmel_resources_agendas,
            &#settingstabpluginmel_resources_contacts,
            &#settingstabpluginmel_resources_tasks,
            &#settingstabpluginmel_statistics_mobile {
              a {
                height: 100%;
              }
            }
          }
        }
      }
    }

    #layout-list {
      margin-left: 8px !important;
      // margin-right: 8px !important;


      .header {
        background: var(--main-layout-content-background-color) !important;
        border-radius: var(--main-layout-panel-border-radius) !important;
        margin: 10px 0px;
        box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132), 0 .3px .9px 0 rgba(0, 0, 0, .108);

        li a.button:hover {
          border-top-color: var(--invisible) !important;
        }
      }

      .searchbar.menu {
        &:extend(html.theme-super-classique .task-settings #layout-list .header);
        margin: 0;

        &.open {
          border-radius: 15px 15px 0 0 !important;
        }
      }

      #foldersearchmenu {
        border-radius: 0 0 15px 15px !important;
        max-height: 145px;
      }

      .pagenav.pagenav-list.menu {
        &:extend(html.theme-super-classique .task-settings #layout-list .header);
        margin-bottom: 0;
        &.expanded {
          border-radius: 15px 15px 0 0 !important;
        }
      }
      
      #mailboxselector-content {
        padding-top: 0;
        border-radius: 0 0 15px 15px !important;
        background-color: var(--main-layout-content-background-color);
      }

      #filtersetslistbox {
        padding-top: 0;
        border-radius: 0 0 15px 15px !important;
      }

      >.scroller {
        &:extend(html.theme-super-classique .task-settings #layout-list .header);
        padding-top: 15px;
        margin-top: 0;

        .listing {
          margin: 0 15px;

          li {
            &.selected {
              border-radius: var(--main-layout-element-border-radius);
              a {
                background-color: var( --main-layout-selected-background-color) !important;
                color: var(--main-text-color);
              }
            }

            &:hover {
              border-bottom-color: var(--invisible) !important;
              border-radius: var(--main-layout-element-border-radius);

              a {
                color: var(--main-text-color);
                border-left: 2px solid transparent;
                border-top: none;
                border-right: none;
                border-bottom: none;
              }

              .treetoggle {
                color: var(--main-text-color);
              }
            }

            .treetoggle {
              top: 0px;

              &:hover {
                color: var(--main-text-color);
              }
            }
          }
        }

        table {
          &:extend(html.theme-super-classique .task-settings #layout-list >.scroller .listing);
          padding-right: 30px;

          &.listing {
            tbody {
              tr {
                &.selected {
                  td {
                    border-left: 2px solid var(--invisible) !important;
                    &:extend(html.theme-super-classique .task-settings #layout-list >.scroller .listing li.selected);
                  }
                }

                td {
                  border-bottom: none !important;

                  &:hover {
                    border-radius: var(--main-layout-element-border-radius);
                  }

                  &:focus {
                    border-left: 2px solid var(--invisible) !important;
                    background-color: var(--main-layout-hover-background-color) !important;
                    border-radius: var(--main-layout-element-border-radius);
                  }

                  &.subscribed {
                    background-color: var(--main-layout-content-background-color) !important;
                  }
                }
              }
            }

            &.focus:not(.withselection) {
              tbody {
                tr.focused {
                  >td.selection+td {
                    border-left: 2px solid var(--invisible) !important;
                    background-color: var(--main-layout-hover-background-color) !important;
                    border-radius: var(--main-layout-element-border-radius);
                  }
                }
              }
            }
          }
        }
      }

      .footer {
        border-top: 1px solid var(--invisible);
        background-color: var(--mail-layout-sidebar-background-color);
        ;
      }
    }

    #layout-content {
      background-color: var(--mail-layout-sidebar-background-color);
      margin-right: 8px !important;
      margin-left: 8px !important;

      .header {
        &:extend(html.theme-super-classique .task-settings #layout-list .header);
        margin-bottom: 0;

        a:hover {
          border-top-color: var(--invisible) !important;
        }
      }

      .iframe-wrapper {
        &:extend(html.theme-super-classique .task-settings #layout-list .header);
        margin-bottom: 8px;
        // margin-left: 8px;

        #preferences-frame,
        #filter-box {
          border-radius: 20px;
        }
        
      }

      //Générer ma signature
      #settings-right {
        &:extend(html.theme-super-classique .task-settings #layout-list .header);

        //Feuille de route
        #mel_roadmap_frame
        {
          border-radius: var(--main-layout-panel-border-radius);
        }
      }

      //Double authentification
      .formcontent {
        &:extend(html.theme-super-classique .task-settings #layout-content #settings-right);
      }

      #mel_suggestion_box_option_box {
        &:extend(html.theme-super-classique .task-settings #layout-content #settings-right);
        margin: 10px 0 !important;

        #settings-suggest-frame {
          border-radius: var(--main-layout-panel-border-radius);
        }
      }
    }
  }
}