html.theme-super-classique {
  .task-tasks {
    #layout {
      background-color: var(--mail-layout-sidebar-background-color);
    }

    #layout-sidebar {
      .header {
        color: var(--main-text-color) !important;
        margin: 0 15px;

        >span {
          font-weight: normal;
          text-align: left;

          &:before {
            margin-right: 10px;
            content: "\e932";
            font-family: 'DWP' !important;
          }
        }

        >a {

          color: var(--main-text-color) !important;
        }

        a.button.icon:not(.disabled):hover {
          background-color: var(--main-layout-hover-background-color);
          border-radius: var(--main-layout-element-border-radius);
        }
      }

      separate {
        margin-top: 0px !important;
      }

      .scroller {

        .listing {
          padding: 0 10px;

          li {
            margin-bottom: 5px;

            &:hover {
              background-color: var(--main-layout-hover-background-color);
              border-radius: var(--main-layout-element-border-radius);

              > div > a:first-child:hover {
                background-color: var(--invisible) !important;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }
            }

            >div>* {
              color: var(--main-text-color);
            }

            &.selected {
              border-radius: var(--main-layout-element-border-radius);

              >div>* {
                background-color: #edebe9 !important;
              }
            }
          }
        }
      }
    }

    #layout-list {
      margin-left: 8px !important;
      margin-right: 8px;

      .header {
        background: var(--main-layout-content-background-color) !important;
        border-radius: var(--main-layout-panel-border-radius) !important;
        margin: 10px 0px;
        box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132), 0 .3px .9px 0 rgba(0, 0, 0, .108);

        li a.button:hover {
          border-top-color: var(--invisible) !important;
        }
      }

      #layout-list-content {
        &:extend(html.theme-super-classique .task-tasks #layout-list .header);
        height: 100%;
        padding-top: 15px;
        margin-top: 0;

        .scroller {
          ul.listing {
            padding: 0 15px;

            .taskhead {
              border-left: none;
              border-radius: var(--main-layout-element-border-radius);
              border-bottom: 1px solid #f1f3f4 !important;

              &:hover {
                background-color: var(--main-layout-hover-background-color) !important;

                span {
                  color: var(--main-text-color) !important;
                }
              }

              &.selected {
                span {
                  color: var(--main-text-color) !important;
                }
              }
            }

            li.taskitem {
              >span {
                border-bottom: 1px solid #f1f3f4 !important;
              }
            }
          }
        }
      }
    }

    #layout-content {
      margin-right: 8px;
      background-color: var(--mail-layout-sidebar-background-color);

      .header {
        &:extend(html.theme-super-classique .task-tasks #layout-list .header);

        a:hover {
          border-top-color: var(--invisible) !important;
        }
      }

      .content {
        &:extend(html.theme-super-classique .task-tasks #layout-list .header);
        margin-top: 0;
      }
    }
  }
}


html.theme-super-classique.layout-normal {
  .task-tasks {
    #layout-list {
      margin-left: 68px !important;

    }
  }
}