html.theme-super-classique {
  .menu {
    a:not(.disabled) {
      &:focus {
        color: var(--main-text-color) !important;
      }
      &:hover {
        color: var(--main-text-color) !important;
      }
    }
  }

  .popover {
    .menu {
      li {
        a[aria-haspopup] {
          &:hover {
            &::after {
              color: var(--main-text-color) !important;
            }
          }
        }

        a:not(.disabled) {
          color: var(--main-text-color) !important;
        }
      }
    }
  }

  .popupmenu {
    .listing {
      li {
        &.selected {
          color: var(--main-text-color);
        }
      }
    }
  }

  .mel-selectable {
    &.selected {
      --tierciary-bckg-color: #0EAF9C;

      &.picture {
        border-bottom: none !important;
      }
    }

    &.picture {
      --tierciary-bckg-color: var(--invisible);
    }
  }

  .barup {
    #button-help {
      background-color: var(--main-layout-hover-background-color);

      &:hover {
        background-color: var(--tierciary-bckg-color);
      }
    }
  }

  .task-mail {
    #layout-sidebar {
      .scroller {
        scrollbar-color: auto;

        >.listing {
          li.selected {
            a {
              border-bottom: solid thin var(--invisible) !important;
            }
          }
        }
      }
    }
  }

  #frame-buttons-history {
    .history-button {
      --secondary-text-color:var(--main-text-color);

      &:hover {
        --secondary-text-color:white;
      }
    }
  }

}