#input-search-mail {
  position: relative;
  --bnum-input-container-margin-bottom: 0;
  --bnum-input-gap: 0;
  margin-right: var(--bnum-space-m);
  display: block;

  &::part(state-container) {
    display: none;
  }
}

#toolbar-list-menu {
  &.popupmenu {
    min-width: 0;
  }
}

#mailsearchlist {
  margin-right: 0 !important;
  position: relative;

  &.hoverable {
    right: 0 !important;
  }

  html.touch & {
    position: relative !important;
  }
}

html,
html.layout-phone,
html.layout-small {
  body.task-mail {
    .header {
      a.toolbar-list-button {
        display: none !important;
      }

      a.selection {
        display: none !important;
      }
    }
  }
}
