#input-search-mail {
  position: relative;
  --bnum-input-container-margin-bottom: 0;
  --bnum-input-gap: 0;
  margin-right: var(--bnum-space-m);
  display: block;

  &::part(state-container) {
    display: none;
  }
}

#toolbar-list-menu {
  &.popupmenu {
    min-width: 0;
  }
}

#mailsearchlist {
  margin-right: 0 !important;
  position: relative;

  &.hoverable {
    right: 0 !important;
  }

  html.touch & {
    position: relative !important;
  }
}

html,
html.layout-phone,
html.layout-small {
  body.task-mail {
    .header {
      a.toolbar-list-button {
        display: none !important;
      }

      a.selection {
        display: none !important;
      }
    }
  }
}

table {
  &.messagelist {
    td {
      &.subject {
        &:hover {
          span {
            &.msgicon {
              &::before {
                content: '\e94d';
              }
            }
          }
        }
      }
    }
  }
}

table.messagelist {
  --_idle: '\e94e';
  --_idle-hover: '\e94d';
  --_unread: var(--_idle-hover);
  --_unread-hover: var(--_idle);
  td.subject {
    span {
      &.fromto,
      &.subject {
        margin-left: var(--bnum-space-s);
      }
    }

    span.msgicon.status {
      &::before {
        height: 2.04rem;
        content: var(--message-state-icon, var(--_idle)) !important;
      }

      &:hover {
        &::before {
          content: var(--message-state-icon, var(--_idle-hover)) !important;
        }
      }
    }
  }

  tr {
    //Normal
    .mail-avatar {
      height: 30px;
      width: 30px;
      position: absolute;
      left: 8px;
      top: 16px;
    }

    &.has-label {
      .mail-avatar {
        top: 35px;
      }
    }

    // Small
    html.mail-small & {
      .mail-avatar {
        top: 7px;
      }

      &.has-label {
        .mail-avatar {
          top: 24px;
        }
      }
    }

    //large
    // Small
    html.mail-large & {
      .mail-avatar {
        top: 24px;
      }

      &.has-label {
        .mail-avatar {
          top: 43px;
        }
      }
    }

    &.unread {
      td.subject span.msgicon.status {
        &::before {
          content: var(--message-state-icon, var(--_unread)) !important;
        }

        &:hover {
          &::before {
            content: var(--message-state-icon, var(--_unread-hover)) !important;
          }
        }
      }
    }

    &.message:hover {
      --_flag: '\e958';
      --_flag-hover: '\e957';
      --_flagged: var(--_flag-hover);
      --_flagged-hover: var(--_flag);

      td.flags span {
        &.unflagged {
          &::before {
            content: var(--_flag) !important;
          }

          &:hover {
            &::before {
              content: var(--_flag-hover) !important;
            }
          }
        }

        &.flagged {
          &::before {
            content: var(--_flagged) !important;
          }

          &:hover {
            &::before {
              content: var(--_flagged-hover) !important;
            }
          }
        }
      }
    }
  }
}
